<iframe
    id="{{ options.id }}"
    src="//player.vimeo.com/video/{{ media.providerReference }}?{{ options.src }}"
    width="{{ options.width }}"
    height="{{ options.height }}"
    frameborder="{{ options.frameborder }}"
    webkitallowfullscreen mozallowfullscreen allowfullscreen>
</iframe>
