<template>
  <div class="module-content input-group" :style="style">
    <div class="field-container" v-for="(parameterGuide, index) in guide.parameters" :key="index" :style="{ gridColumn: parameterGuide.boGridColumn}">
      <span v-if="parameterGuide.description && parameterGuide.formType !== 'media'" :data-tippy-content="parameterGuide.description" class="icon-info"><i class="fa fa-info-circle"></i></span>
      <component
        :is="fieldComponent(parameterGuide.formType)"
        :field="parameters[parameterGuide.name]"
        :value="getValueForGuide(parameterGuide)"
        :options="parameterGuide"
        @update="updateModule"
        for-module
        :module="module"
        :api="parameterGuide.api"
      ></component>
    </div>
  </div>
</template>

<script>
  import editModule from "sv/js/components/mixins/editModule";
  import editFieldFinder from "../../mixins/editFieldFinder";
  import tippy from "tippy.js";


  export default {
    name: "DefaultModule",
    mixins: [editModule, editFieldFinder],
    computed: {
      style: function () {
        return !_.isNil(this.guide.boGridColumns) ? {
          display: 'grid',
          gridTemplateColumns: this.guide.boGridColumns
        } : '';
      },
    },
    mounted() {
      tippy('[data-tippy-content]');
    }

  }
</script>

<style scoped lang="scss">
@import 'sv/scss/modules/_colors.scss';
.field-container {
  position: relative;
}
.icon-info {
  position: absolute;
  right: 5px;
  top: 5px;
  color: $bgThree;
  z-index: 10;
}
</style>
