<template>
  <div class="module-content input-group">
    <text-area-field
      :field="field"
      :value="field.value"
      @update="updateModule"
      :options="buildParameterOptions(field)"
    ></text-area-field>
  </div>
</template>

<script>
  import editModule from "../../mixins/editModule";
  import TextAreaField from "../fields/TextAreaField";

  export default {
    name: "ParagraphModule",
    components: {TextAreaField},
    mixins: [editModule],
    computed: {
      field: function () {
        return this.parameters.value;
      }
    }
  }
</script>

<style scoped>

</style>
