<template>
  <div class="module-content input-group">
    <wysiwyg-field
      :field="field"
      :value="inputValue"
      @update="updateModule"
      @updateFieldValue="updateFieldValue"
      :options="buildParameterOptions(field)"
    ></wysiwyg-field>
  </div>
</template>

<script>
  import editModule from "../../mixins/editModule";
  import WysiwygField from "../fields/WysiwygField";

  export default {
    name: "RichParagraphModule",
    components: {WysiwygField},
    mixins: [editModule],
    data: function () {
      return {
        newValue: null
      }
    },
    computed: {
      field: function () {
        return this.parameters.value;
      },
      inputValue: function () {
        return this.newValue ? this.newValue : this.field.value;
      }
    },
    // watch: {
    //   //To initially set the field value
    //   module: {
    //     handler: function () {
    //       this.field =
    //     },
    //     immediate: true
    //   }
    // },
    methods: {
      //This method/event is needed because there are two fields that edit the same "value" (wysiwyg and "source view")
      //We must be able to update the field value, passed down as a prop, if one of the two fields edits it.
      updateFieldValue: function (newValue) {
        this.newValue = newValue;
      }
    }
  }
</script>

<style scoped>

</style>
