<template>
  <div class="module-content input-group no-margin-on-last-input">
    <div class="flex-group">
      <select-field class="half" :field="level" :value="level.value" :options="buildParameterOptions(level)" @update="updateLevel" for-module></select-field>
      <select-field class="half" :field="alignment" :value="alignment ? alignment.value : null" :options="buildParameterOptions(alignment)" @update="updateModule" for-module></select-field>
    </div>
    <text-field :field="value" :value="value.value" :options="buildParameterOptions(value)" @update="updateModule" :placeholder="getParameterGuide(value).label" for-module></text-field>
  </div>
</template>

<script>
  import editModule from "../../mixins/editModule";
  import SelectField from "../fields/SelectField";
  import TextField from "../fields/TextField";

  export default {
    components: {TextField, SelectField},
    mixins: [editModule],
    name: "TitleModule",
    computed: {
      level: function() {
        return this.parameters.level;
      },
      value: function () {
        return this.parameters.value;
      },
      alignment: function () {
        return this.parameters.alignment;
      },
      headingLevel: function() {
        return this.level ? this.level.value : null;
      }
    },
    watch: {
      level: {
        immediate: true,
        deep: true,
        handler: function (newLevel) {
          this.updateLevelLabel(newLevel.value ?? '1');
        }
      }
    },
    methods: {
      updateLevel: function (parameter, value) {
        this.updateModule(parameter, value);
        this.updateLevelLabel(value);
      },
      updateLevelLabel: function (headingLevel) {
        this.$emit('overrideLabel', this.guide.label + " H" + headingLevel);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .flex-group {
    display:flex;
  }
  .half {
    width: 50%;
    &:first-child {
      margin-right: 3px;
    }
  }
</style>
