<template>
  <div class="module-content input-group no-margin-on-last-textarea">
    <text-field
      :field="title"
      :value="title.value"
      @update="updateModule"
      :options="buildParameterOptions(title)"
    ></text-field>
    <text-area-field
      :field="text"
      :value="text.value"
      @update="updateModule"
      :options="buildParameterOptions(text)"
    ></text-area-field>
  </div>
</template>

<script>
  import editModule from "../../mixins/editModule";
  import TextAreaField from "../fields/TextAreaField";
  import TextField from "../fields/TextField";

  export default {
    name: "TitleParagraphModule",
    components: {TextField, TextAreaField},
    mixins: [editModule],
    computed: {
      title: function () {
        return this.parameters.title;
      },
      text: function () {
        return this.parameters.text;
      }
    }
  }
</script>

<style scoped>

</style>
