<template>
  <div class="breadcrumb">
    <div v-if="back" class="back" @click="goBack">
      <i class="fa fa-arrow-left"></i> Retour
    </div>
    <ul class="not-implemented">
      <li>
        <router-link :to="'/'"><i></i>Accueil</router-link>
      </li>
      <li><a href="">Ma catégorie</a></li>
    </ul>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import actionHelper from "../mixins/actionHelper";

  export default {
    name: "Breadcrumbs",
    props: {
      back: {
        type: Boolean,
        default: false
      },
      route: {
        type: Object,
        default: null
      }
    },
    methods: {
      goBack: function () {
        if(this.route && this.route?.name) {
          this.$router.push(this.route);
        } else {
          this.$router.go(-1);
        }
      }
    }
  }
</script>

<style scoped lang="scss">

  @import 'sv/scss/modules/_colors.scss';


  .breadcrumb{
    margin:12px 0 0 0;
    .back {
      cursor: pointer;
      &:hover {
        color: $textOne;
      }
    }
    ul{
      list-style-type: none;
      margin:0;
      padding: 0;
    }
    li{
      display: inline-block;
      a{
        color:$text;
        font-size: 12px;
        font-weight: 200;
        text-decoration: none;
        margin-left: 4px;
      }
      &.active{
        a{
          font-weight: 800;
        }
      }
      &:before{
        content:'/';
        font-size: 12px;
      }
      &:first-child{
        a{
          margin:0;
        }
        &:before{
          content:"";
          width: 8px;
          height: 7px;
          margin-right: 5px;
          display: inline-block;
          background-image: url('img/icons/icon-home-grey.svg');
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }
    }
  }
</style>
