<template>
  <div v-if="confirmation.show" class="modal-layout">
    <div class="modal-overlay" @click.self="closeAndClearConfirmation"></div>
    <div class="modal is-open">
      <button @click="closeAndClearConfirmation" class="close"></button>
      <div>
        <p class="confirmation-title" v-html="confirmation.title"></p>
        <p class="confirmation-message" v-html="confirmation.message"></p>
        <div class="confirmation-btn-group" :class="confirmationBtnAlignment">
          <button @click="cancel" class="btn btn-big confirmation-cancel">{{ confirmation.btn.cancel }}</button>
          <button @click="ok" v-if="confirmation.callback.ok" class="btn btn-big alpha confirmation-ok">{{ confirmation.btn.ok }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import confirmation from "sv/js/components/mixins/confirmation";

  export default {
    name: "Confirmation",
    mixins: [confirmation],
    computed: {
      confirmationBtnAlignment() {
        return {
          center: !this.confirmation.callback.ok,
        }
      }
    },
    methods: {
      ok: function () {
        this.runCallbackOk();
      },
      cancel: function () {
        this.runCallbackCancel();
      }
    }
  }
</script>

<style scoped lang="scss">
  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .modal-layout{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:10002;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10001;
  }
  .modal{
    min-height:20vh;
    max-height: 80vh;
    width: 90%;
    max-width: 500px;
    padding: 16px;
    border:solid 8px $white;
    background-color:#F8F7F5;
    overflow-x: hidden;
    overflow-y: auto;
    position:absolute;
    top:50%;
    left: 50%;
    z-index:10003;
    @include translate(-50%,-50%);
    @include shadow(2px,2px,6px,-4px,#000);

    .confirmation-title {
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      margin-top: 0;
      width: 80%;
      margin-left: 10%;
    }
    .confirmation-btn-group {
      display: flex;
      justify-content: space-between;
      &.center {
        justify-content: center;
      }
    }
  }
  .close{
    width:26px;
    height:26px;
    padding:0;
    background-image: url('img/icons/icon-close-grey.svg');
    background-size:100%;
    background-color: transparent;
    border:0;
    position: absolute;
    top:8px;
    right:8px;
    cursor:pointer;
    &:hover {
      opacity: 0.6;
    }
  }
  </style>
