<template>
  <div class="loader-ring" :class="size">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</template>

<script>
  export default {
    name: "Loader",
    props: {
      'size': {
        type: String,
        default: 'normal'
      }
    }
  }
</script>

<style scoped lang="scss">
  @import 'sv/scss/modules/_colors.scss';

  .loader-ring {
    display: inline-block;
    position: relative;
    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      margin: 6px;
      border: 2px solid;
      border-radius: 50%;
      animation: loader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $alpha transparent transparent transparent;
      &:nth-child(1) {
        animation-delay: -0.45s;
      }
      &:nth-child(2) {
        animation-delay: -0.3s;
      }
      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
    &.normal {
      width: 48px;
      height: 48px;
      div {
        width: 36px;
        height: 36px;
      }
    }
    &.small {
      width: 24px;
      height: 24px;
      div {
        width: 18px;
        height: 18px;
      }
    }
  }
  @keyframes loader-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

</style>
