<template>
  <div>
    <h1 v-if="!loading && !editable" class="page-title">{{ title }}</h1>
    <input
      v-else-if="!loading && editable"
      class="page-title"
      :class="{error: hasError}"
      type="text"
      :value="inputTitle"
      @input="updateNewTitle($event.target.value)"
      @change="update"
      :placeholder="placeholder"
    />
    <h1 class="page-title title-skeleton" v-else><skeleton/></h1>
    <div v-if="!loading && editable && violation" class="field-violation">{{ violation }}</div>
  </div>
</template>

<script>
  import Skeleton from "./Skeleton";
  import {mapState, mapGetters} from "vuex";

  export default {
    name: "MainTitle",
    components: {Skeleton},
    data: function () {
      return {
        newTitle: null
      };
    },
    props: {
      title: {
        type: String
      },
      property: {
        type: String,
        default: 'name'
      },
      editable: {
        type: Boolean
      },
      loading: {
        type: Boolean
      },
      required: {
        type: Boolean
      }
    },
    computed: {
      ...mapState('edits', [
        'currentNewEdit'
      ]),
      ...mapGetters('edits', [
        'getFieldViolation'
      ]),
      inputTitle: function () {
        return this.newTitle !== null ? this.newTitle : (this.title ?? null);
      },
      hasError: function () {
        return this.titleIsRequired
          && (this.inputTitle === undefined
          || this.inputTitle === null
          || this.inputTitle === '');
      },
      titleIsRequired: function () {
        return (this.currentNewEdit && this.currentNewEdit.generateSlugFrom === this.property)
          || (this.required);
      },
      placeholder: function () {
        let placeholder = "";
        switch(this.property) {
          case 'name':
            placeholder += "Nom";
            break;
          case 'title':
            placeholder += "Titre";
            break;
          case 'reference':
            placeholder += "Référence";
            break;
          default:
            placeholder += ""+this.property.charAt(0).toUpperCase() + this.property.slice(1);
            break;
        }
        if(this.titleIsRequired) {
          placeholder += " *";
        }
        return placeholder;
      },
      violation: function () {
        return this.getFieldViolation(this.property);
      }
    },
    methods: {
      updateNewTitle: function (value) {
        this.newTitle = value;
      },
      update: function() {
        this.$emit('update', this.newTitle);
      }
    },
    watch: {
      title: function (title) {
        if (this.newTitle === title) {
          this.newTitle = null;
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  input.page-title.error {
    border-bottom: 1px solid;
    border-bottom-color: rgba(207, 80, 86, 0.51);
  }
  .field-violation {
    color: rgb(207, 80, 86);
    font-style: italic;
    top: -30px;
    position: relative;
  }
</style>
