<template>
    <div class="skeleton"></div>
</template>

<script>
    export default {
        name: "Skeleton"
    }
</script>

<style scoped lang="scss">
  $base-color: #ddd;
  $shine-color: #e8e8e8;
  $animation-duration: 2s;

  @mixin background-gradient{
    background-image: linear-gradient(to right, $base-color 0%, $shine-color 20%, $base-color 40%, $base-color 100%);
    background-size: 800px;
  }

  .skeleton {
    height: 20px;
    min-width: 90%;
    @include background-gradient
    animation: shine-lines $animation-duration infinite linear;
  }
  @keyframes shine-lines {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 300% 0%;
    }
  }
</style>
