<template>
  <div class="select-container">
    <select class="select" :id="filter.name" @focus="update" @change="update" @keydown.enter="apply" ref="input">
      <option v-for="choice in choices" :selected="choice.value === filter.value" :value="choice.value">{{choice.label}}</option>
    </select>
  </div>
</template>

<script>
export default {
  name: "SelectFilter",
  props: ['filter', 'index'],
  mounted: function () {
    this.$refs['input'].focus();
  },
  computed: {
    choices: function () {
      return this.filter.options?.choices || [];
    }
  },
  methods: {
    update: function ($event) {
      this.$emit('update', {
        value: $event.target.value,
        index: this.index
      });
    },
    apply: function () {
      this.$emit('apply');
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'sv/scss/modules/_colors.scss';
@import 'sv/scss/modules/_variables.scss';
@import 'sv/scss/modules/_mixins.scss';

.select-container {
  .select {
    padding: 4px;
    font-size: 12px;
    background-color: rgba(0,0,0,0);
  }
  &:before {
    display:none;
  }
  &:after {
    display:none;
  }
}

</style>
