<template>
  <input class="current-filter-input" type="text" :value="filter.value" ref="input" @input="update" @keydown.enter="apply"/>
</template>

<script>
export default {
  name: "TextFilter",
  props: ['filter', 'index'],
  mounted: function () {
    this.$refs['input'].focus();
  },
  methods: {
    update: function ($event) {
      this.$emit('update', {
        value: $event.target.value,
        index: this.index
      });
    },
    apply: function () {
      this.$emit('apply');
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'sv/scss/modules/_colors.scss';
@import 'sv/scss/modules/_variables.scss';
@import 'sv/scss/modules/_mixins.scss';

input {
  font-size: 12px;
}
</style>
