<template>
  <div @click="update" class="toggle" :class="{on: filter.value}">
    <span></span>
  </div>
</template>

<script>
export default {
  name: "ToggleFilter",
  props: ['filter', 'index'],
  methods: {
    update: function () {
      this.$emit('update', {
        value: !this.filter.value,
        index: this.index
      });
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'sv/scss/modules/_colors.scss';
@import 'sv/scss/modules/_variables.scss';
@import 'sv/scss/modules/_mixins.scss';

.toggle{
  color: $text;
  font-size: 14px;
  cursor:pointer;
  span{
    width: 30px;
    height: 16px;
    display: inline-block;
    float: left;
    background-color: $textTwo;
    border-radius: 30px;
    position: relative;
    margin-top: 3px;
    &:after{
      content:"";
      width: 14px;
      height: 14px;
      display: block;
      border-radius: 50%;
      background-color:$bgOne;
      position: absolute;
      left:1px;
      top:1px;
      @include transition(all 0.5s ease-out);
    }
  }
  &.on span{
    background-color: $alpha;
    &:after{
      @include translate(14px,0);
    }
  }
}
</style>
