{% extends "@SGCms/backend/base.html.twig" %}

{% block body %}
    <div class="security-container">
        <div class="form-container">
            <p class="hello">Tête en l'air ?</p>
            <h1>Renouvelez votre mot de passe</h1>

            <p>
                Un email vient de vous être envoyé. Suivez les instructions qu'il contient pour renouveler votre mot de passe.
            </p>
        </div>
        <div class="squareview-by-sg">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
