{% extends "@SGCms/backend/base.html.twig" %}

{% block body %}
    <div class="security-container">
        <div class="form-container">
            <p class="hello">Tête en l'air ?</p>
            <h1>Renouvelez votre mot de passe</h1>

            {% set flashes = app.flashes %}
            <form  method="post" novalidate>
                <div class="input-group {% if flashes|length > 0 %} alert{% endif %}">
                    <input type="text" class="empty" id="username" name="username" value="" required="required">
                    <label for="username">Nom d'utilisateur</label>
                    {% for label, messages in flashes %}
                        {% for message in messages %}
                             <span class="callout alert">
                                {{ message|trans }}
                             </span>
                        {% endfor %}
                    {% endfor %}
                </div>

                <button type="submit" class="btn disabled-login"  id="_submit" name="_submit"><i></i>Envoyer</button>
                <input type="hidden" name="csrf_token" value="{{ csrf_token('resetting') }}" >
            </form>
        </div>
        <div class="squareview-by-sg">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
