{% extends "@SGCms/backend/base.html.twig" %}

{% block body %}
    {% form_theme form _self %}

    <div class="security-container">
        <div class="form-container">
            <p class="hello">Tête en l'air ?</p>
            <h1>Renouvelez votre mot de passe</h1>

            {% set flashes = app.flashes %}

{#            {{ dump(form.plainPassword.first.vars.errors) }}#}
            {{ form_errors(form) }}
            {{ form_start(form, { 'action': path('app_resetting_reset', {'token': token}), 'attr': {'novalidate': true } }) }}
                <div class="input-group {% if form.plainPassword.first.vars.errors|length > 0 %} alert{% endif %}">
                    {{ form_errors(form, {'translation_domain': 'form'}) }}
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
            <div class="input-group {% if form.plainPassword.second.vars.errors|length > 0 %} alert{% endif %}">
                    {{ form_widget(form.plainPassword.second) }}
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>

                <button type="submit" class="btn disabled-login"  id="_submit" name="_submit"><i></i>Valider</button>
                <input type="hidden" name="csrf_token" value="{{ csrf_token('resetting') }}" >
            {{ form_end(form) }}
        </div>
        <div class="squareview-by-sg">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <span class="callout alert">{{ error.message }}</span>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}
