@include device(small){
	.accordion {
		margin-bottom: 20px;
		position:relative;
		& > .accordion-title-block,
		& > .flex-group .accordion-title-block {
			border-bottom: $white-border;
            width: 100%;

            .accordion-title {
                display: block;
                padding: 20px;
                transition: background-color 0.5s ease-in-out;
                border-right: 27px solid $bgOne;
                position: relative;
                &:hover {
                    cursor: pointer;
                }
                &:before {
                    content: " ";
                    width: 9px;
                    height: 7px;
                    transition: transform 0.3s ease-in-out;
                    background-image: url('#{$img}/icons/icon-carret-up-grey.svg');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: -17.5px;
                    top: calc(50% - 3.5px);
                    @include rotate(180);
                }
            }
		}
        .accordion-title {
            color: $text;
            font-size: 18px;
            font-weight: 200;
            text-decoration: none;
            text-transform: uppercase;
        }

		&.is-expanded{
			margin-bottom: 50px;
			& > .accordion-item{
				//SHAME: magic number to allow the accordion to animate
				max-height:1050em;
				transition:max-height 1s;
				overflow:visible;
			}
            & > .accordion-title-block .accordion-title,
            & > .flex-group .accordion-title-block .accordion-title{
                &:before {
                    @include rotate(0);
                }
            }
		}
		& > .accordion-item {
			height:auto;
			overflow:hidden;
			max-height:0;
			.accordion-content-insider {
				padding:20px;
                &.has-accordion-inside {
                    padding:20px 0 20px 20px;
                }
			}
		}
	}

	// If no JS
	.no-js .accordion-item.is-collapsed {
		max-height: auto;
	}

	// animations
	.animateIn {
		animation: accordion-in 0.45s normal ease-in-out both 1;
	}
	.animateOut {
		animation: accordion-out 0.45s alternate ease-in-out both 1;
	}

}
