@include device(small){
	.other-actions-button{
		text-align: center;
		width: 24px;
		height: 24px;
		display: inline-block;
		margin: 10px;
		background-color: $white;
		cursor: pointer;
		&:hover{
			background-color: darken($white,10%);
		}
		span{
			position: relative;
			top: -3px;
		}
	}
	.dropdown-content{
		min-width: 180px;
	}

}