@include device(small){
	.sync-appear, 
	.sync-appear-container,
	.animate{
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;

		-webkit-transition-delay: 0.5s;
		-moz-transition-delay: 0.5s;
		-ms-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		transition-delay: 0.5s;
	}

	.animate-from-left{
		animation: 1.5s ease-out 0s 1 slideInFromLeft;
	}
	.animate-from-right{
		animation: 1.5s ease-out 0s 1 slideInFromRight;
	}
	.animate-from-top{
		animation: 1.5s ease-out 0s 1 slideInFromTop;
	}
	.animate-from-bottom{
		animation: 1.5s ease-out 0s 1 slideInFromBottom;
	}
	
	@keyframes fade-in {
		from { opacity: 0; }
		  to { opacity: 1; }
	}
	@keyframes fade-out {
		from { opacity: 1; }
		  to { opacity: 0; }
	}
	@keyframes slide-in {
	  from { transform: translateY(15%); }
		to { transform: translateY(0); }
	}
	@keyframes slide-out {
		from { transform: translateY(0); }
		to { transform: translateY(-10%); }
	}
	@keyframes spin-and-scale{
		0%{
			transform: rotate(0deg) scale(0.8);
		}
		50%{
			transform: rotate(180deg) scale(1.2);
		}
		100%{
			transform: rotate(360deg) scale(0.8);
		}
	}
	@keyframes bounce{
		0%,75%,100%{
			transform: translateY(0);
		}
		25%{
			transform: translateY(-20px);
		}
	}
	@keyframes accordion-in {
		0% {
			opacity: 0;
			transform:scale(0.9) rotateX(-60deg);
			transform-origin: 50% 0;
		}
		100% {
			opacity:1;
			transform:scale(1);
		}
	}

	@keyframes accordion-out {
		0% {
			opacity: 1;
			transform:scale(1);
		}
		100% {
			opacity:0;
			transform:scale(0.9) rotateX(-60deg);
		}
	}
}
@include device(medium){

}
@include device(large){

}
@include device(xlarge){

}
