@include device(small){
	.breadcrumb{
		margin:12px 0 0 0;
		ul{
			list-style-type: none;
			margin:0;
			padding: 0;
		}
		li{
			display: inline-block;
			a{
				color:$text;
				font-size: 12px;
				font-weight: 200;
				text-decoration: none;
				margin-left: 4px;
			}
			&.active{
				a{
					font-weight: 800;
				}
			}
			&:before{
				content:'/';
				font-size: 12px;
			}
			&:first-child{
				a{
					margin:0;
				}
				&:before{
					content:"";
					width: 8px;
					height: 7px;
					margin-right: 5px;
					display: inline-block;
					background-image: url('#{$img}/icons/icon-home-grey.svg');
					background-size: 100%;
					background-repeat: no-repeat;
				}
			}
		}
	}
}
@include device(medium){

}
@include device(large){

}
@include device(xlarge){

}
