// BUTTON ANIMATION FROM 
// https://codepen.io/sazzad/pen/yNNNJG

@include device(small){
	.btn{
		color:$white;
		font-family: $font1;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		padding: 0.7em 1.5em;
		display: block;
		background-color: transparent;
		border-radius:$bora;
		cursor: pointer;
		overflow:hidden;
		position: relative;
		z-index: 1;
		&:after,
		&:before{
			content:'';
			display: block;
			height: 100%;
		}
		&:before{
			background-color: #4D4D4D;
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left:0px;
			z-index: -2;
		}
		&:after {
			height: 0%;
			background-color: darken(#4D4D4D,10%);
			position: absolute;
			left: 50%;
			top: 50%;
			width: 150%;
			z-index: -1;
			@include transition (all 1s ease 0s);
			@include transform(translateX(-50%) translateY(-50%) rotate(-25deg));
		}
		&:hover,
		&:focus{
			color: $white;
			&:after{
				height: 1050%;
			}
		}
		&.disabled{
			opacity: 0.5;
			background: $text!important;
			cursor: not-allowed!important;
			&:not(.has-tip){
				pointer-events:none;
			}
		}
		&.alpha{
			&:before{
				background-color: $alpha;
			}
			&:after{
				background-color: darken($alpha,10%);
			}
		}
		&.notice{
			border:0;
			&:before{
				background-color: $notice;
			}
			&:after{
				background-color: darken($notice,10%);
			}
		}
		&.error,
		&.delete{
			border:0;
			&:before{
				background-color: $alert;
			}
			&:after{
				background-color: darken($alert,10%);
			}
		}
	}
	button.btn{
		border:0;
	}
	// input.btn{
	// 	background-color: #292929;
	// 		@include transition (all 0.75s ease 0s);
	// 	&:hover{
	// 		background-color: $text;
	// 		@include transition (all 0.75s ease 0s);
	// 	}
	// }
}
@include device(large){
	.btn{
		&.btn-big{
			font-size: 14px;
			padding: 1.1em 2em;
		}
	}
}