@include device(small){
	.callout{
		text-align: center;
		padding:30px;
		margin-bottom: 1.14286rem;
		position: relative;
		h5{
			margin-top: 0;
		}
		p{
			margin:0;
		}
		.close-callout{
			color: $black;
			background-color: transparent;
			border:0;
			position: absolute;
			top: 30px;
			right: 30px;
		}
		&.alert{
			border:3px solid $alert;
			background-color: white;
		}
		&.success{
			border:3px solid $success;
			background-color: white;
		}
	}
	.error{
		padding-left: 5px;
		border-left:3px solid $alert;
		p{
			color: $alert;
		}
	}
}
@include device(medium){

}
@include device(large){

}
@include device(xlarge){

}