@include device(small){
	body #tarteaucitronRoot {
		* {
			font-family: $font1!important;
		}
		/**************
			BANNER
		**************/
		#tarteaucitronPercentage {
			background: #70b55c!important;
		}
		#tarteaucitronAlertBig {
			background-color: $white;
			color: $text;
			//@include shadow(0,-7px,13px,0,rgba(0,0,0,0.15));
			padding:0 0 10px 0;
			// Banner style
			#tarteaucitronDisclaimerAlert {
				color: $text;
				font: 11px $font1;
				display: block;
				width: auto;
				padding: 12px 10px;
				vertical-align: middle;
				text-align: center;
				line-height: 1.3;

				strong {
					font: 11px $font1;
					font-weight: 800;
					color: $text;
				}

				a {
					color: $text;
					text-decoration: underline;
				}
			}

			//BTN banner
			#tarteaucitronPersonalize {
				background: $beta;
				text-transform: uppercase;
				padding: 2px 10px;
				border: 0;
				vertical-align: middle;
				font-size: 12px;
				font-family: $font1!important;
				border-radius: 0;
				@include transition(background-color .4s, color .4s);

				&:hover,
				&:active,
				&:focus{
					background-color: transparent;
				}
			}

			//BTN personnaliser
			#tarteaucitronCloseAlert {
				background: transparent;
				padding: 0;
				font-size: 12px;
				text-transform: uppercase;
				color: $beta;
				text-decoration: underline;
				vertical-align: middle;
				font-family: $font1!important;
				&:hover {
					text-decoration: none;
				}
			}
			#tarteaucitronPrivacyUrl {
				display: none;
			}
		}

		/**************
			POPIN
		**************/
		// CLOSE BTN
		#tarteaucitronClosePanel {
			/*top:-15px;
			right: -15px;
			z-index: 2147483648;
			width: 30px;
			height: 30px;
			padding: 0;
			overflow: hidden;
			background: url('#{$img}popin/close.png') no-repeat;
			text-indent: -99999999px;*/
			background: $beta;
			width: auto;
			padding: 4px 8px;
		}

		#tarteaucitronServices {
			/*margin-top: 0!important;*/
			.tarteaucitronLine,
			.tarteaucitronLine:hover,
			#tarteaucitronInfo {
				background: $white;
				border:0!important;
				color: $black;
			}

			// BUTTONS
			.tarteaucitronLine .tarteaucitronDeny,
			.tarteaucitronLine .tarteaucitronAllow {
				opacity: 1!important;
			}
			button {
				text-transform: uppercase;
				font-size: 16px;
				border-radius: 0!important;
				font-family: $font1!important;
				&.tarteaucitronAllow {
					background: #70b55c!important;
				}
				&.tarteaucitronDeny {
					background: #d90000!important;
				}
			}

			// TOP
			#tarteaucitronMainLineOffset {
				padding: 15px 10px 0;
				/*display: flex;
				flex-direction:column;*/

				.tarteaucitronH1 {
					font-size:18px;
					font-family: $font1!important;
					font-weight: 800;
					color: $text;
					text-transform: uppercase;
					margin-bottom: 10px;
					/*order: 1;*/
				}

				#tarteaucitronInfo {
					font: 14px $font1!important;
					margin-bottom: 0px!important;
					max-width: unset!important;
					/*order: 2;*/

					#tarteaucitronPrivacyUrl {
						display: none;
					}

					a {
						color: $black;
						font-size: 14px;
						font-weight: normal;
					}
				}
				.tarteaucitronName {
					/*order: 4;*/
					display: none;
					.tarteaucitronH2 {
						font-size:18px;
						font-family: $font1!important;
						font-weight: 800;
						color: $text;
						text-transform: uppercase;
						margin-bottom: 10px;
						text-align: center;
						display: block;
						margin: 20px 0 0!important;
					}
				}
				.tarteaucitronAsk {
					float: none;
					width: 100%;
					text-align: center;
				    display: block;
    				margin: 0;
    				padding-bottom: 20px;
    				border-bottom: 1px solid $text;
    				/*order: 3;*/
				}
			}
			// LISTE SERVICES
			.tarteaucitronBorder {
				border: 0;
				
				ul li.tarteaucitronHidden {
					background: $white;
					.tarteaucitronName * {
						font-size: 14px;
					}

					.tarteaucitronTitle {
						display: none;
					}

					.tarteaucitronH3 {
						color: $text;
						font-size: 16px;
					}
				}
			}
			#tarteaucitronScrollbarChild {
				/*display: none!important;*/
				background: $white;
			}
		}
	}
	#cookiePopinButton {
		background: $beta;
		text-transform: uppercase;
		color: $white;
		padding: .4em 1em;
		border-radius: 0;
		/*border: 2px solid $alpha;*/
		vertical-align: middle;
		font-family: $font1;
		font-size: 24px;
		@include transition(background-color .4s, color .4s);

		&:hover,
		&:active,
		&:focus{
			background-color: transparent;
		}
	}
}
@include device(medium){
	
}
@include device(large){
	body #tarteaucitronRoot {
		/**************
			BANNER
		**************/
		#tarteaucitronAlertBig {
			padding: 20px;
			box-sizing: border-box;
			#tarteaucitronDisclaimerAlert {
				font-size: 15px;
				    width: 100%;
					float: left;
					display: block;
					padding: 10px 270px 10px 0;
					box-sizing: border-box;
				strong {
					font-size: 15px;
				}
			}

			#tarteaucitronPersonalize {
				font-size: 16px;
				padding: 7px 20px;
				margin: 0;
				@include vertical-center();
				right: 20px;
			    margin-top: -20px;
			}
			#tarteaucitronCloseAlert {
				font-size: 16px;
				@include vertical-center();
				right: 58px;
			    margin-top: 20px;
			}
		}

	}
}
@include device(xlarge){

}