@include device(small){
	.dropdown-wrapper{
		position: relative;
    	outline: none;
        &.active .dropdown-content{
            display: block;
        }
	}
    .dropdown-button{
        cursor: pointer;
    }
    .dropdown-content{
        font-weight: normal;
        list-style: none;
        background: white;
        border-radius: inherit;
        box-shadow: 0 0px 20px rgba(0,0,0,0.2);
        margin-top:10px;
        transition: all 0.5s ease-in;
        position: absolute;
        left: 0;
        right: 7px;
        display: none;
        z-index: 1000;
        // pointer-events: none;
        &:after{
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            bottom: 100%;
            left: 15px;
            border-width: 0 6px 6px 6px;
            border-style: solid;
            border-color: #fff transparent;
        }
        ul{
            list-style-type: none;
            margin:0;
            padding:5px;
            li{
                margin-bottom: 2px;
                background-color: $bg;
                &:first-child{
                    // padding-top: 10px;
                }
                &:last-child{
                    margin-bottom:0;
                    // padding-bottom: 10px;
                }
                a{
                    color: $text;
                    font-weight: 300;
                    text-decoration: none;
                    display: block;
                    padding: 10px 8px;
                    &:hover{
                        background-color: darken($bg,5%);
                    }
                    &.delete{
                        color: $alert;
                        padding: 10px 8px;
                        position: relative;
                        i{
                            width: 18px;
                            height: 18px;
                            display: block;
                            background-image: url('#{$img}/icons/icon-close-red.svg');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 100%;
                            position: absolute;
                            right: 12px;
                            top:50%;
                            @include translate(0,-50%);
                        }
                    }
                }
            }
            &.only-child li{
                padding:0;
            }
        }
        &.to-the-right{
            left:auto;
            &:after{
                left:auto;
                right:15px;
            }
        }
    }
}
@include device(medium){

}
@include device(large){

}
@include device(xlarge){

}
