@include device(small){
	*:focus {
	    outline: none;
	}
	.input-group{
		position: relative;
		label,
		input:not(.vs__search),
		textarea{
			font-size: 14px;
			font-family: $font1;
			width: 100%;
		}
		input:not(.vs__search){
			color: $text;
			padding: 18px 0;
			//margin-bottom: 20px;
			background-color: transparent;
			border: 0;
			border-bottom:1px solid $alpha;
		}
		textarea{
			color: $text;
			padding: 9px;
			margin-top:0;
			margin-bottom: 20px;
			border:0;
			min-height: 130px;
		}
		label{
			position: absolute;
			top: 18px;
			left: 0;
			@include transition(all 0.5s ease-out);
		}
		input.empty{
			& + label{
				pointer-events:none;
			}
		}
		input.not-empty{
			& + label{
				font-size: 12px;
				font-weight: 600;
				top:0;
				@include transition(all 0.5s ease-out);
			}
		}
		&.alert input,
		// style for empy required field on firefox
		:-moz-ui-invalid:not(output){
			color: $alert;
			box-shadow: none;
			border-bottom:1px solid $alert;
		}
		&.alert{
			input{
				margin-bottom: 7px;
			}
			.callout.alert{
				font-size: 12px;
				color:$alert;
				font-weight: 600;
				display: block;
			}
		}

	}
	input,
	textarea{
		color:$text;
		font-family: $font1;
		font-weight:200;
		font-size:16px;
		line-height: 1.5em;
	}
	// input,
	// textarea{
	// 	color:#000;
	// 	font-size: 16px;
	// 	line-height: 16px;
	// 	padding: 0 0 0 0;
	// 	box-shadow: none;
	// 	border:none;
	// 	border-bottom: 1px solid $border;
	// }
	// button{
	// 	border:1px solid $border;
	// }
	// input:-webkit-autofill,
	// input:-webkit-autofill:hover,
	// input:-webkit-autofill:focus,
	// textarea:-webkit-autofill,
	// textarea:-webkit-autofill:hover,
	// textarea:-webkit-autofill:focus,
	// select:-webkit-autofill,
	// select:-webkit-autofill:hover,
	// select:-webkit-autofill:focus {
	// 	color:$text!important;
	// 	border: 1px solid transparent;
	// 	-webkit-text-fill-color: transparent;
	// 	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	// 	transition: background-color 5000s ease-in-out 0s;
	// }

	// RADIO BUTTON
	.radio{
		position: relative;
	    display: block;
	    padding: 0;
	    overflow: hidden;
	    input{
	    	display: none;
	    }
	    input + label{
	    	cursor: pointer;
	    	padding-left: 25px;
	    	position: relative;
	    	&:before{
	    		content:"";
	    		width: 12px;
	    		height: 12px;
	    		display: none;
	    		border-radius: 50%;
				background-image: url('#{$img}/icons/icon-checked.svg');
				background-repeat: no-repeat;
	    		position: absolute;
	    		left: 4px;
	    		top: 4px;
	    	}
	    	&:after{
	    		content:"";
	    		width: 17px;
	    		height: 17px;
	    		display: block;
	    		border:1px solid $bgTwo;
	    		border-radius: 50%;
	    		position: absolute;
	    		left: 0;
	    		top: 0;
	    	}
	    }
	    input:checked + label{
	    	&:before{
	    		display: block;
	    	}
	    	// background-color: $alpha;
	    }
	}

	//CHEKBOX
	.checkbox{
		input{
			display: none;
		}
		label{
			line-height: 1.3em;
			padding-left: 22px;
			position: relative;
			cursor: pointer;
			&:before{
				content:"";
				width: 14px;
				height: 14px;
				display: block;
				border: 1px solid #C4C4C4;
				position: absolute;
				left:0;
				top:0;
			}
			&:after{
				content:"";
				width: 12px;
				height: 12px;
				background-image: url('#{$img}/icons/icon-checked.svg');
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				left: 1px;
				top: 1px;
				display: none;
			}
		}
		input:checked + label{
			&:after{
				display: block;
			}
		}
		& + .small{
			margin-top: 50px;
		}
		&.small-checkbox{
			label{
				&:before{
				content:"";
				width: 20px;
				height: 20px;
				left:0;
				top:0px;
			}
			&:after{
				font-size: 16px;
				left: 4px;
				top: 2px;
			}
			}
		}
	}
	.select{
		color: $text;
		font-size: 16px;
        line-height: 1.3;
		font-family: $font1;
		font-weight: 400;
		display: block;
		padding: 14px 16px;
		margin: 0 0 3px;
		width: 100%;
		max-width: 100%;
		box-sizing: border-box;
		border: 0;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background-color: #fff;
		&::-ms-expand {
			display: none;
		}
		&:hover,
		&:focus {
			cursor:pointer;
			outline: none;
		}
		option {
			font-weight:normal;
		}
		&:disabled,
		&[aria-disabled=true] {
			opacity: 0.5;
		}
		&:disabled:hover,
		&[aria-disabled=true] {
			opacity: 0.4;
			cursor:not-allowed;
		}
	}
	.select-container:not(.readonly){
		position:relative;
		&:after,
		&:before{
			content:"";
			position:absolute;
			top:22px;
		}
		&:after{
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 6px solid white;
			right: 18px;
		}
		&:before{
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 8px solid $text;
			right: 16px;
		}
	}
}
@include device(medium){

}
