@include device(small){
	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}
	html {
		color: $text;
		font-family: $font1;
		height: 100%;
		font: 400 1em/1.4 $font1, sans-serif;
		text-rendering: optimizeLegibility;
	}
	body{
		margin: 0;
		padding: 28px;
		min-height:100%;
		height:100%;
		&:before{
			content:"Cette interface d'administration n'est pas développée pour téléphone et tablette. Merci d'utiliser un appareil doté d'un plus grand écran.";
			color: $white;
			font-size: 12px;
			text-align: center;
			display: block;
			padding: 10px 20px;
			background-color: $alert;
			position: absolute;
			right: 50%;
			top: 50%;
			@include translate(50%,50%);
			z-index: 10001;

		}
		&:after{
			content:"";
			background-color: rgba($white,0.8);
			position: fixed;
			top:0;
			right:0;
			bottom: 0;
			left: 0;
			z-index: 10000;
			pointer-events:none;
		}
	}
	.container{
		max-width: 70em;
		margin: 0 auto;
		padding: 0 10px;
	}
	.spinner.spinning-arcs{
		width: 50px;
		height: 50px;
		margin: 30px auto;
		position: relative;
		&:after,
		&:before{
			content:'';
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border:4px solid transparent;
			border-top-color: $alpha;
			border-bottom-color: $alpha;
			position: absolute;
			top:-4px;
			left:-4px;
			animation: spin-and-scale 2s linear infinite;
		}
	}
	.spinner.bouncy-balls{
		width: 75px;
		height: 15px;
		position: relative;
		margin: 30px auto;
		span{
			width: 15px;
			height: 15px;
			display: block;
			border-radius: 50%;
			background-color: $alpha;
			position: absolute;
			top:0;
			&:nth-child(1){
				left:0;
				animation: bounce 1s ease-in-out infinite;
			}
			&:nth-child(2){
				left: calc(50% - 7.5px);
				animation: bounce 1s ease-in-out 0.33s infinite;
			}
			&:nth-child(3){
				left: calc(100% - 15px);
				animation: bounce 1s ease-in-out 0.66s infinite;
			}
		}
	}
	.main-content{
		width: calc(80% - 20px);
		margin-left: 20px;
		background-color: $bg;
		// position:relative;
	}
	.vdp-datepicker__calendar{
		margin-top:-20px;
	}
	.vdp-datepicker__calendar .cell.selected{
		color:$white!important;
		background-color:$alpha!important;
	}
	.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover{
		border-color:$alpha!important;
	}
	.relative{
		position:relative;
	}
}
@include device(medium){	
}
@include device(large){
	body{
		&:before,
		&:after{
			display: none;
		}
	}
}
@include device(xlarge){
}
@media (--high-dppx) {
	html {
		font-weight: 300;
	}
}