@include device(small){
	.list-container{
        overflow-x: scroll;
        padding: 0 20px 0 20px;
	}
	.list-table{
		display: table;
		border-collapse: collapse;
		width: 100%;
        white-space: nowrap;
		//min-width: 1024px;
		.list-table-row{
			display: table-row;
		}
		.list-table-cell{
			display: table-cell;
			&.top{
				vertical-align:top;
			}
			&.middle{
				vertical-align:middle;
			}
		}
		// included in ListHeader.vue
		// .list-header{
		// 	.list-table-cell{
		// 		padding:17px 0;
		// 	}
		// 	button{
		// 		margin: 0;
		// 		padding: 0;
		// 		background-color: transparent;
		// 		border:0;
		// 		cursor: pointer;
		// 		&.sort-by-active{
		// 			span{
		// 				padding: 0px 20px 0px 10px;
		// 			}
		// 			i{
		// 				display: inline-block;
		// 				width: 18px;
		// 				height: 18px;
		// 				margin-right: 4px;
		// 				border-radius: 50%;
		// 				background-color: $alpha;
		// 				background-image: url('#{$img}/icons/icon-arrow-down.svg');
		// 				background-position: center;
		// 				background-repeat: no-repeat;
		// 				background-size: 5px 6px;
		// 				vertical-align: middle;
		// 			}
		// 			&.desc i{
		// 				@include rotate(180);
		// 			}
		// 		}
		// 	}
		// 	span{
		// 		color: $alphaText;
		// 		font-size: 11px;
		// 		font-family: $font1;
		// 		text-transform: uppercase;
		// 		display: inline-block;
		// 		padding: 2.25px 20px 2.25px 10px;
		// 		border-left:1px solid $bgTwo;
		// 	}
		// }
		.list-content.list-table-row{
			border-bottom:$white-border;
			.grid{
				flex-wrap:nowrap;
			}
			.list-table-cell{
				padding: 11px 0;
			}
			// included in ListTableRow.vue
			// move button
			// .move-table-row{
			// 	width: 25px;
			// 	height: 25px;
			// 	display: block;
			// 	padding: 0;
			// 	margin:0 10px;
			// 	background-color: transparent;
			// 	background-image: url('#{$img}/icons/icon-move.svg');
			// 	background-position: center;
			// 	background-repeat: no-repeat;
			// 	background-size: 17px 15px;
			// 	border:0;
			// 	cursor: move;
			// 	&:hover,
			// 	&:focus,
			// 	&:active{
			// 		background-color: darken($bg,10%);
			// 	}
			// }

			// // thumbnail and image management
			// .thumbnail{
			// 	padding-right: 25px;
			// 	img{
			// 		width: 100%;
			// 		height: auto;
			// 		max-width: 140px;
			// 	}
			// }
			// text management
			// p{
			// 	font-size: 15px;
			// 	font-weight: 200;
			// }
			// .text-content{
			// 	display: flex;
			// 	flex-direction: column;
			// 	justify-content: space-between;
			// 	align-items:start;
			// 	padding-right: 15px;
			// }
			// .merged-column-label,
			// .ref{
			// 	font-size: 9px;
			// 	font-weight: 200;
			// 	line-height: 1.5em;
			// 	padding: 3px 5px;
			// 	margin-bottom: 5px;
			// 	border-radius: $bora;
			// }
			// .merged-column-label{
			// 	color: $alphaText;
			// 	background-color: $alphaBg;
			// }
			// .ref{
			// 	color: $text;
			// 	background-color: $bgOne;
			// }
			// .excerp{
			// 	font-size: 15px;
			// 	font-weight: 200;
			// 	padding: 0;
			// 	margin: 0 0 5px;
			// }
			// a,
			// .children,
			// .add{
			// 	color: $text;
			// 	font-size: 11px;
			// }
			// .add{
			// 	&:hover{
			// 		text-decoration: none;
			// 	}
			// }
			// .children{
			// 	color: $betaOne;
			// 	text-decoration: none;
			// 	span{
			// 		color: $white;
			// 		font-size: 7px;
			// 		text-align: center;
			// 		line-height: 13px;
			// 		width: 12px;
			// 		height: 12px;
			// 		display: inline-block;
			// 		background-color: $betaOne;
			// 		border-radius: 50%;
			// 	}
			// 	&:hover{
			// 		text-decoration: underline;
			// 	}
			// }
			// // language management
			// ul.content-status{
			// 	display: flex;
			// 	list-style-type: none;
			// 	margin: 0;
			// 	padding: 0 0 0 14px;
			// 	border-left:1px solid $bgTwo;
			// 	li{
			// 		button{
			// 			color: $white;
			// 			font-size: 10px;
			// 			font-family: $font1;
			// 			text-transform: uppercase;
			// 			padding:4px 7px;
			// 			margin:2px;
			// 			background-color: $bgLang;
			// 			border:0;
			// 			border-radius: $bora;
			// 			cursor: pointer;
			// 			&:hover{
			// 				background-color: darken($bgLang,10%);
			// 			}
			// 			&.active{
			// 				background-color: $alpha;
			// 				&:hover{
			// 					background-color: darken($alpha,10%);
			// 				}
			// 			}
			// 			&.pending{
			// 				background-color: $notice;
			// 				&:hover{
			// 					background-color: darken($notice,10%);
			// 				}
			// 			}
			// 		}
			// 	}
			// }
			// div.content-status{
			// 	p{
			// 		color: $alert;
			// 		font-size: 12px;
			// 		&.active{
			// 			color:$alpha;
			// 			i{
			// 				width: 12px;
			// 				height: 12px;
			// 				margin-left: 5px;
			// 				display: inline-block;
			// 				background-image: url('#{$img}/icons/icon-active.svg');
			// 				background-position: center;
			// 				background-repeat: no-repeat;
			// 				background-size: 100%;
			// 				vertical-align: middle;
			// 			}
			// 		}
			// 		&.pending{
			// 			color: $notice;
			// 		}
			// 	}
			// }

		}
	}
}
