@include device(small){
	.header .top-bar .top-bar-content .top-bar-left .locale-switcher{
		position: relative;
		width: 60px;
		height: 40px;
		margin-right: 5px;
		ul{
			text-align: center;
			display: block;
			background-color: $white;
			height: 40px;
			width: 100%;
			padding: 0 5px;
			overflow: hidden;
			border: 1px solid rgba(147, 128, 108, 0.25);
			border-radius: $bora;
			@include transition(all .3s ease);
			position: absolute;
			&:hover{
				height: 82px;
			}
			li{
				width: 100%;
				padding: 0px 0;
				margin:0;
				line-height: 40px;
				border-top: 1px solid rgba(147, 128, 108, 0.25);
				&:first-child{
					border-top: 0;
				}
				a{
					display: block;
				}
			}
		}
	}
}