@include device(small){
	.menu{
		text-align: center;
		display: flex;
		flex-direction: column;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}
@include device(medium){
	.menu{
		flex-direction:row;
		justify-content:center;
		li{
			margin-left: 10px;
		}
	}
}