@include device(small){
	.modal {
	  display: none;
	}

	.modal.is-open {
	  display: block;
	}
	
	.modal__overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.6);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 11;
	}

	.modal__container {
		background-color: #fff;
		padding: 30px;
		max-width: 500px;
		max-height: 100vh;
		border-radius: 4px;
		overflow-y: auto;
		box-sizing: border-box;
	}

	.modal__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.modal__title {
		color: $alpha;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 1.25;
		box-sizing: border-box;
	}

	.modal__close {
		background: transparent;
		border: 0;
	}

	.modal__header .modal__close:before { content: "\2715"; }

	.modal__content {
		margin-top: 2rem;
		margin-bottom: 2rem;
		line-height: 1.5;
		color: rgba(0,0,0,.8);
	}

	.modal[aria-hidden="false"] .modal__overlay {
	  animation: fade-in .3s cubic-bezier(0.0, 0.0, 0.2, 1);
	}

	.modal[aria-hidden="false"] .modal__container {
	  animation: slide-in .3s cubic-bezier(0, 0, .2, 1);
	}

	.modal[aria-hidden="true"] .modal__overlay {
	  animation: fade-out .3s cubic-bezier(0.0, 0.0, 0.2, 1);
	}

	.modal[aria-hidden="true"] .modal__container {
	  animation: slide-out .3s cubic-bezier(0, 0, .2, 1);
	}

	.modal .modal__container,
	.modal .modal__overlay {
	  will-change: transform;
	}
	.modal__footer{
		background-color: transparent;
	}
}
@include device(medium){
	
}