@include device(small){
	// in EditModuleSelector.vue
	// .module-dropdown{
	// 	width: 100%;
	// 	max-width: 490px;
	// 	background-color: $bg;
	// 	border: 10px solid $white;
	// 	margin-left: -5px;
	// 	margin-top: 15px;
	// 	&:after{
	// 		bottom:calc(100% + 10px);
	// 	}
	// 	h2{
	// 		font-size: 22px;
	// 		font-weight: 200;
	// 		text-align:center;
	// 		text-transform: uppercase;
	// 	}
	// 	ul{
	// 		display: flex;
	// 		flex-wrap: no-wrap;
	// 		li{
	// 			font-size: 8px;
	// 			font-weight: 200;
	// 			text-align: center;
	// 			width: 16.666%;
	// 			background-color: $white;
	// 			border:5px solid $bg;
	// 			a{
	// 				display: flex;
	// 				flex-direction: column;
	// 				justify-content:space-evenly;
	// 				padding: 0;
	// 				height: 66px;
	// 				&:hover{
	//  				box-shadow: 0 0px 6px rgba(0,0,0,0.2);
	//  			}
	// 			}
	// 			&:first-child,
	// 			&:last-child{
	// 				padding: 0;
	// 			}
	// 			img{
	// 				margin-top: 20px;
	// 			}
	// 			p{
	// 				margin-bottom: 15px;
	// 			}
	// 		}
	// 	}
	// }
}
