@include device(small){
	// included in ListPagination.vue
	// .pagination{
	// 	margin:150px 0 50px;
	// 	.pagination-inner{
	// 		text-align: center;
	// 		font-size: 11px;
	// 		display: flex;
	// 		justify-content:center;
	// 		.first-page,
	// 		.last-page,
	// 		.page-numbers{
	// 			color: $text;
	// 			text-decoration: none;
	// 			width: 35px;
	// 			height: 35px;
	// 			margin-right: 1px;
	// 			border-radius: $bora;
	// 			display: flex;
	// 			justify-content:center;
	// 			align-items:center;
	// 			&:hover,
	// 			&.current{
	// 				color: $white;
	// 				background-color: $alpha;
	// 			}
	// 			&.dots:hover{
	// 				color: $text;
	// 				background-color: transparent;
	// 			}
	// 		}
	// 		.first-page,
	// 		.last-page{
	// 			background-color: $bgOne;
	// 			&.disabled{
	// 				color: $bgOne;
	// 				background-color: transparent;
	// 				cursor: not-allowed;
	// 			}
	// 		}
	// 	}
	// }
}