@include device(small){
	.previewBar{
		color:$white;
		width: 100%;
		position: fixed;
		z-index: 100;
		padding: 1rem 2rem;
		background-color: transparent;
		background-image: url('#{$img}backend/header/bgHeader.png');
		p{
			color:$white;
			margin:0;
		}
	}
}
@include device(medium){
	
}
@include device(large){

}
@include device(xlarge){

}