@include device(small){
	// .sidenav{
	// 	background-color: $bg;
	// 	.sidenav-header{
	// 		.squareview{
	// 			width: 80%;
	// 			max-width: 90px;
	// 			height: 15px;
	// 			margin: 10px;
	// 			background-image: url('#{$img}/logo-squareview.svg');
	// 			background-size: 100%;
	// 			background-repeat: no-repeat;
	// 		}
	// 		.client{
	// 			color:$text;
	// 			font-size: 29px;
	// 			text-transform: uppercase;
	// 			line-height: 1em;
	// 			margin: 20px 10px 65px;
	// 			span{
	// 				color: $alpha;
	// 				display: block;
	// 			}
	// 		}
	// 	}
	// 	.sidenav-content{
	// 		padding-bottom: 80px;
	// 		ul{
	// 			list-style-type: none;
	// 			margin: 0;
	// 			padding: 0;
	// 			&.main-menu > li:first-child a:after{
	// 				content:"";
	// 				display: block;
	// 				width: 15px;
	// 				height: 18px;
	// 				background-image: url('#{$img}/icons/icon-home-green.svg');
	// 				background-size: 100%;
	// 				background-repeat: no-repeat;
	// 				position: absolute;
	// 				right: 9px;
	// 				top:calc(50% - 9px);
	// 			}
	// 			li{
	// 				border-bottom:3px solid white;
	// 				position: relative;
	// 				> a.item{
	// 					color:$text;
	// 					font-size: 14px;
	// 					font-weight: 300;
	// 					text-transform: uppercase;
	// 					text-decoration: none;
	// 					display: block;
	// 					padding: 12px 0 12px 20px;
	// 					margin-right: 40px;
	// 				}
	// 				> a.bullets{
	// 					color: $text;
	// 					line-height: 1em;
	// 					text-decoration: none;
	// 					margin: 0;
	// 					padding: 4px 6px;
	// 					position: absolute;
	// 					right: 5px;
	// 					top: 12px;
	// 					span{
	// 						position: relative;
	// 						top:-3px;
	// 					}
	// 					&:hover{
	// 						color: $text;
	// 						background-color: darken($bg,10%);
	// 					}
	// 				}
	// 				&.active {
	// 					// border-left: 3px solid $alpha;
	// 					&:before{
	// 						content:"";
	// 						width:3px;
	// 						background-color:$alpha;
	// 						position:absolute;
	// 						top:0;
	// 						bottom: 0;
	// 						left:0;
	// 					}
	// 					> a.item{
 //                            color: $alpha;
	// 						font-weight: 400;
 //                            // position: relative;
 //                            // left: -3px;
	// 					}
	// 				}
 //                    &.active.child-active {
 //                        > a.item {
 //                            color: $text;
 //                        }
 //                    }
 //                    a:hover {
 //                        color: $alpha;
 //                        @include transition(color 0.25s);
 //                    }
	// 				.submenu{
	// 					li {
	// 						border:none;
	// 						&.active {
	// 							border-left: 0;
	// 							> a.subitem {
	// 								color: $alpha;
	// 								font-weight: 500;
	// 							}
	// 						}
 //                            &:hover > a.subitem {
 //                                color: $alpha
 //                            }
	// 						a.subitem{
	// 							color:$text;
	// 							font-size: 14px;
	// 							font-weight: 300;
	// 							text-transform: initial;
	// 							text-decoration: none;
	// 							display: block;
	// 							padding: 12px 40px 12px 30px;
	// 							border:0;
	// 						}
	// 					}
	// 				}
	// 			}
	// 		}
	// 		.subtitle{
	// 			color:$text;
	// 			font-size: 14px;
	// 			font-weight: 400;
	// 			text-transform: uppercase;
	// 			text-decoration: none;
	// 			display: block;
	// 			padding: 50px 40px 20px 20px;
	// 			i{
	// 				width: 12px;
	// 				height: 15px;
	// 				margin-right: 5px;
	// 				vertical-align: middle;
	// 				display: inline-block;
	// 				background-image: url('#{$img}/icons/icon-configuration.svg');
	// 				background-size: 100%;
	// 				background-repeat: no-repeat;
	// 			}
	// 			&.active,
	// 			&:hover {
	// 				font-weight: 400;
	// 				border-left:0;
	// 			}
	// 		}

	// 	}
	// }
}
@include device(large){

}
