@include device(small){
	.table{
		table{
			border:0;
		}
		table thead, 
		table tfoot{
			background-color: $betaOne;
			border:0;
			border-bottom: 1px solid $text;
			tr td{
				font-weight: 400;
				font-size: 16px;
			}
		}
		table tbody,
		table tbody tr:nth-child(even){
			background-color: transparent;
			border:0;
			tr td{
				font-weight: 400;
				font-size: 16px;
			}
		}
		.elements{
			position: relative;
			padding-bottom: 50px;
			margin-bottom: 70px;
			.elementsblack{
				display: inline-block;
				text-align: center;
				position: absolute;
				bottom:-6px;
				height: 11px;
				width: 160px;
				left:calc(50% - 80px);
			}
		}
	}
}
@include device(medium){
	.table{
		
	}
}
@include device(large){
	.table{
		
	}
}
@include device(xlarge){
	
}
