@include device(small){
	.tab-container{
		&:after{
			content: "";
			display: block;
			height: 1em;
			width: 100%;
			background-color:darken($border, 10%);
		}
	}
	ul.tabs{
		margin: 0px;
		padding: 0px;
		list-style: none;
		li{
			color: $text;
			font-size: 1em;
			font-weight: 700;
			display: inline-block;
			padding: 1.5em;
			margin: 0;
			cursor: pointer;
			background-color:$borderOne; 
			border: 1px solid $border;
			border-bottom: 0;
		}
	}

	ul.tabs li.current{
		background-color:darken($border, 10%);
		color: $text;
	}

	.tab-content{
		display: none;
		border: 1px solid $borderTwo;
		padding: 15px;
	}

	.tab-content.current{
		display: inherit;
	}
}