// title container concerns edit and list, so it stys in scss file

@include device(small){
	.title-container{
		display: flex;
		flex-wrap:wrap;
		padding: 0 20px;
		justify-content:space-between;
		border-bottom: $white-border;
		.form-title{
			flex-grow:2;
		}
		.page-title {
			font-size: 32px;
			font-weight: 200;
			margin: 10px 0 30px;
            color: $text;
            font-family: $font1;
            border: none;
            //background: none;
            padding: 0;
            width:100%;
		}
			@include placeholder{
				color:rgba($text,0.6);
			}
        .title-skeleton {
            .skeleton {
                width: 40vw;
                height: 32px;
            }
        }
		.url-container{
			font-size: 12px;
			font-weight: 200;
			position: relative;
			top: -20px;
			.link{
				color: $textTwo;
				text-decoration: none;
			}
            input.link {
                border: none;
                background: none;
            }
			.edit-link,
			.copy-link{
				color: $alpha;
				margin:0 10px;
                &:hover {
                    cursor: pointer;
                }
			}
            .copy-link-result {
                margin:0 10px;
                &.copy-link-error {
                    color: $alert;
                }
            }
		}
		.btn-container{
			display: flex;
			flex-direction:column;
			justify-content:center;
			.preview{
				color: $textTwo;
				font-size: 8px;
				text-align: center;
				text-decoration: none;
				margin:0 10px;
				i{
					width: 49px;
					height: 49px;
					display: block;
					background-image: url('#{$img}/icons/icon-preview.svg');
					background-size: 100%;
					background-repeat: no-repeat;
				}
			}
		}
		// .languages-edit-management{
		// 	width: 100%;
		// 	display: flex;
		// 	justify-content:space-between;
		// 	align-items:center;
		// 	.active-languages{
		// 		font-weight: 200;
		// 		font-size: 12px;
		// 		padding-top: 10px;
		// 		display: flex;
		// 		// align-items:center;
		// 		.language-label{
		// 			margin-top: 4px;
		// 		}
		// 		ul{
		// 			margin:0;
		// 			list-style-type: none;
		// 			display: flex;
		// 			// align-items:center;
		// 			li{
		// 				button{
		// 					color: white;
		// 					font-size: 10px;
		// 					text-transform: uppercase;
		// 					padding: 7px 10px;
		// 					margin: 0 2px;
		// 					box-shadow: none;
		// 					border: 0;
		// 					background-color: $bgLang;
		// 					border-radius: $bora;
		// 					cursor: pointer;
		// 					@include transition(all 0.5s ease-out);
		// 					.language-label{
		// 						display: flex;
		// 						align-items:center;
		// 					}
		// 					&:hover{
		// 						background-color: darken($bgLang,10%);
		// 					}
		// 					&.active{
		// 						background-color: $alpha;
		// 						&:hover{
		// 							background-color: darken($alpha,10%);
		// 						}
		// 					}
		// 					&.pending{
		// 						background-color: $notice;
		// 						&:hover{
		// 							background-color: darken($notice,10%);
		// 						}
		// 					}
		// 					&.displayed{
		// 						padding: 7px 26px 20px;
		// 						border-bottom-left-radius: 0;
		// 						border-bottom-right-radius: 0;
		// 						position: relative;
		// 						@include transition(all 0.5s ease-out);
		// 						&:before{
		// 							content:"";
		// 							width: 7px;
		// 							height: 4px;
		// 							display: block;
		// 							background-image: url('#{$img}/icons/icon-carret-down.svg');
		// 							background-size: 100%;
		// 							background-repeat: no-repeat;
		// 							position: absolute;
		// 							left: calc(50% - 3.5px);
		// 							bottom: 6px;
		// 						}
		// 					}
		// 				}
		// 			}
		// 		}
		// 	}
		// 	.btn.notice{
		// 		min-width: 190px;
		// 		position: relative;
		// 		right: -8px;
		// 		i{
		// 			position: absolute;
		// 			top: calc(50% - 10px);
		// 			right: 13px;
		// 		}
		// 	}
		// }
	}
}
