@include device(small){
	.toggle{
		position: relative;
		padding: 20px 20px 20px 0;
		border-bottom: 1px solid $border;
		p.sliderLabel{
			line-height: 24px;
			margin-bottom: 5px!important;
			a{
				color: #000;
				font-weight: 400;
				font-size: 18px;
			}
			i.fa-angle-down,
			i.fa-angle-up,
			i.fa-angle-right,
			i.fa-angle-left{
				width: 20px;
				position: absolute;
				right: -20px;
				top:0px;
			}
		}
		.text{
			display: none;
			&.show{
				display: block;
			}
			p{
				margin: 25px 0 15px 0;
				max-width: 400px;
			}
		}
	}
}