@include device(small){
	.top-of-page{
		display: flex;
		justify-content:space-between;
		background-color: $bgOne;
		.support-btn{
			font-size: 12px;
			text-transform: uppercase;
			min-width: 220px;
			border-radius: 0;
		}
		.account{
			display: flex;
			align-items:center;
			p{
				font-size: 12px;
				text-transform: uppercase;
				line-height: 1.3;
				padding: 0;
				margin:0 15px 0 0;
				i{
					width: 13px;
					height: 13px;
					display: inline-block;
					margin-right: 8px;
                    position: relative;
                    top: 2px;
					background-image: url('#{$img}/icons/icon-account.svg');
					background-size: 100%;
					background-repeat: no-repeat;
				}
				span{
					font-size: 12px;
					font-weight: 200;
                    text-transform: lowercase;
				}
			}
			.bullets{
				color: #9B9B9B;
				line-height: 1em;
				text-decoration: none;
				margin: 0 30px 0 15px;
				padding: 4px 6px;
				span{
					position: relative;
					top:-3px;
				}
				&:hover,
				&.active{
					background-color: darken($bgOne,10%);
				}
			}
		}
	}
}
