<template>
  <div v-if="medias" class="media-list">
    <div v-for="media in medias" :class="{'is-checked': isSelected(media)}" @click="select(media)">
      <media :media="media" format="media_manager_list_thumbnail" context="manager-list"></media>
    </div>
  </div>
  <div v-else class="media-list">
    <p class="no-media">
      Aucun média <span class="no-media-provider" v-if="target !== null && target.provider !== undefined"> de type {{target.provider|translateProvider}}</span> présent dans la bibliothèque.<br/>
      Ajoutez-en pour commencer !
    </p>
  </div>
</template>

<script>
  import Media from "./Media";
  import {mapState} from "vuex";
  import isMedia from "../mixins/isMedia";
  export default {
    name: "MediaManagerListThumbnails",
    components: {Media},
    mixins: [isMedia],
    props: ['medias', 'selected'],
    computed: {
      ...mapState('media', [
        'target'
      ])
    },
    methods: {
      select: function (media) {
        this.$emit('select', media);
      },
      isSelected: function (media) {
        return this.selected !== null && media === this.selected;
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .media-list{
    padding: 16px 8px 0;
    //height:80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction:row;
    flex-wrap:wrap;
    flex-grow: 2;
    background-color: $white;
    div{
      width:10.17%;
      margin:0 1% 16px;
      cursor:pointer;
      &.is-checked{
        position:relative;
        &:after{
          content:"";
          display:block;
          width:25px;
          height:25px;
          border-radius:50%;
          background-color: $white;
          background-image: url('img/icons/icon-check-green.svg');
          background-repeat:no-repeat;
          background-position: center center;
          background-size: 50%;
          position:absolute;
          right: 5%;
          bottom: 10%;
        }
      }
    }
    p.no-media {
      width: 80%;
      position: relative;
      top: 50%;
      left: 10%;
      transform: translateY(-50px);
      text-align: center;
      .no-media-provider {
        font-weight: bold;
      }
    }
  }
</style>
