<template>
  <div class="search">
    <div class="search-block">
      <input v-model="search" type="text" name="Search" placeholder="Rechercher un media" />
      <button></button>
    </div>
    <div class="change-view">
      <button @click="switchListView('vertical')" class="list-view" :class="{active: listView === 'vertical'}"></button>
      <button @click="switchListView('thumbnails')" class="thumbnail-view" :class="{active: listView === 'thumbnails'}"></button>
    </div>
  </div>
</template>

<script>
  import {mapState, mapMutations} from 'vuex';

  export default {
    name: "MediaManagerSearch",
    data: function () {
      return {
        search: "",
        setSearchTimeout: null
      };
    },
    computed: {
      ...mapState('media', [
        'listView'
      ])
    },
    methods: {
      ...mapMutations('media', {
        'setListView': 'listView',
        'setSearch': 'search',
        'setCurrentPage': 'currentListPage'
      }),
      switchListView: function (viewName) {
        this.setListView(viewName);
      }
    },
    watch: {
      search: function (input) {
        if(this.setSearchTimeout) {
          clearTimeout(this.setSearchTimeout);
          this.setSearchTimeout = null;
        }
        this.setSearchTimeout = setTimeout(() => {
          this.setSearch(input);
        },500);
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .search{
    padding: 16px 16px 16px 0;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    .search-block{
      display: flex;
      width:80%;
      border-bottom: 2px solid $bgOne;
      input{
        font-size: 16px;
        font-weight: 200;
        height:40px;
        width:calc(100% - 40px);
        border:0;
        padding: 10px;
      }
      @include placeholder{
        color: $bgThree;
        font-size: 16px;
        font-weight:200;
      }
      button{
        border:0;
        width: 40px;
        height: 40px;
        background-color:white;
        background-image: url('img/icons/icon-search.svg');
        background-position:center center;
        background-repeat:no-repeat;
        &:hover{
          background-color: $bgOne;
          cursor:pointer;
        }
      }
    }
    .change-view{
      width: 10%;
      display: flex;
      align-items:center;
      justify-content:space-around;
      button{
        opacity:0.5;
        width:22px;
        height:22px;
        background-color: transparent;
        background-position: center center;
        background-repeat:no-repeat;
        border:0;
        &:hover{
          cursor:pointer;
        }
        &:hover, &.active{
          opacity:1;
        }
      }
      .list-view{
        background-image: url('img/icons/icon-list-bullet.svg');
      }
      .thumbnail-view{
        background-image: url('img/icons/icon-list-square.svg');
      }
    }
  }
</style>
