<template>
  <div class="pagination" v-if="pagination">
    <div class="pagination-inner">
      <a @click="changePage(1)" class="first-page" :class="{disabled: currentPage === 1}" :disabled="currentPage === 1">
        <i class="fa fa-angle-double-left"></i>
      </a>
      <a @click="changePage(currentPage - 1)" class="previous-page" :class="{disabled: currentPage === 1}" :disabled="currentPage === 1">
        <i class="fa fa-angle-left"></i>
      </a>

      <a
        @click="changePage(p)"
        v-for="p in startPages"
        :key="'page'+p"
        class="page-numbers"
        :class="{'current': p === currentPage}"
      >{{p}}</a>

      <span v-if="middlePages" class="page-numbers dots">…</span>
      <a
        v-if="middlePages"
        @click="changePage(p)"
        v-for="p in middlePages"
        :key="'page'+p"
        class="page-numbers"
        :class="{'current': p === currentPage}"
      >{{p}}</a>

      <span v-if="endPages" class="page-numbers dots">…</span>
      <a
        v-if="endPages"
        @click="changePage(p)"
        v-for="p in endPages"
        :key="'page'+p"
        class="page-numbers"
        :class="{'current': p === currentPage}"
      >{{p}}</a>

      <a @click="changePage(currentPage + 1)" class="next-page" :class="{disabled: currentPage === pagination.count}" :disabled="currentPage === pagination.count">
        <i class="fa fa-angle-right"></i>
      </a>
      <a @click="changePage(pagination.count)" class="last-page" :class="{disabled: currentPage === pagination.count}" :disabled="currentPage === pagination.count">
        <i class="fa fa-angle-double-right"></i>
      </a>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapMutations, mapState} from "vuex";
  import pagination from "../mixins/pagination";

  export default {
    name: "MediaManagerListPagination",
    mixins: [pagination],
    computed: {
      ...mapState('media', {
        'currentPage': 'currentListPage'
      }),
      ...mapGetters('media', [
        'pagination'
      ])
    },
    mounted: function () {
      window.addEventListener('keydown', this.arrowNavigationListener);
    },
    methods: {
      ...mapMutations('media', {
        'setCurrentListPage': 'currentListPage',
        'setListLoading': 'listLoading'
      }),
      changeCurrentPage: function (page) {
        this.setListLoading(true);
        setTimeout(() => {
          this.setCurrentListPage(page);
        }, 100);
      },
      arrowNavigationListener: function (e) {
        if (e.key === "ArrowLeft" && this.currentPage !== 1) {//Arrow Left
          this.changePage(this.currentPage - 1);
        } else if (e.key === "ArrowRight" && this.currentPage !== this.pagination.count) {//Arrow Right
          this.changePage(this.currentPage + 1)
        }
      }
    },
    destroyed() {
      window.removeEventListener('keydown', this.arrowNavigationListener);
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .pagination{
    // position:absolute;
    // left:50%;
    // bottom:10px;
    // @include translate(-50%,0);
    padding: 24px 24px 40px;
    margin-top:8px;
    background-color: $white;
    .pagination-inner {
      text-align: center;
      font-size: 12px;
      display: flex;
      justify-content:center;
      .first-page,
      .last-page,
      .previous-page,
      .next-page,
      .page-numbers{
        color: $text;
        text-decoration: none;
        width: 25px;
        height: 25px;
        margin-right: 1px;
        border-radius: $bora;
        display: flex;
        justify-content:center;
        align-items:center;
        &:not(.current){
          cursor: pointer;
        }
        &:hover,
        &.current{
          color: $white;
          background-color: $alpha;
        }
        &.dots:hover{
          color: $text;
          background-color: transparent;
          cursor: default;
        }
      }
      .first-page,
      .last-page,
      .previous-page,
      .next-page {
        background-color: $bgOne;
        &.disabled{
          color: $bgOne;
          background-color: transparent;
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
</style>
