<template>
  <figure :class="{error: inError}">
    <div v-if="uploading" class="thumbnail uploading" :class="[format, context]"></div>
    <skeleton v-else-if="loading" class="thumbnail" :class="format" ></skeleton>
    <picture v-else-if="src">
      <source type="image/webp" :srcset="src" >
      <source :srcset="srcNoWebp" >
      <img v-if="deleting" class="thumbnail deleting" :class="[format, context]" :src="srcNoWebp">
      <img v-else class="thumbnail" :class="[format, context]" loading="lazy" :src="srcNoWebp">
    </picture>
    <div v-else class="thumbnail no-image" :class="format" ></div>
  </figure>
</template>

<script>
  import mime from 'mime/lite';
  import Skeleton from '../common/Skeleton';
  import {mapActions, mapState} from "vuex";
  import placeholders from "../../util/placeholders";

  export default {
    name: "Media",
    components: {Skeleton},
    props: ['media', 'format', 'context'],
    data: function () {
      return {
        fixtureSrc: null,
        editSrc: null,
        imgPattern: '/medias/{format}/{id}/{name}.{extension}',
        imgPatternApiReference: '/medias/reference/{id}/{name}.{extension}',
        directLoadingContexts: ['edit', 'module', 'gallery'],
        referenceExtensions: ['svg']
      }
    },
    computed: {
      id: function () {
        return this.media !== undefined && this.media.id !== undefined ? this.media.id : null;
      },
      src: function () {
        if(this.editSrc) {
          return this.editSrc;
        } else if(!this.isImage && this.fixtureSrc) {
          return this.fixtureSrc;
        }
        return this.hasSrcForFormat ? this.media.src[this.format] : null;
      },
      srcNoWebp: function() {
        return this.src + "?webp=0";
      },
      loading: function () {
        if((this.directLoadingContexts.includes(this.context)) && ((this.isImage && !this.editSrc) || (!this.isImage && !this.fixtureSrc))) {
          return true;
        }
        return this.hasLoadingForFormat ? this.media.loading[this.format] : false;
      },
      uploading: function () {
        return this.media.uploading || false;
      },
      deleting: function () {
        return this.media.deleting || false;
      },
      inError: function () {
        return this.media.error || false;
      },
      hasSrcForFormat: function () {
        return this.media
          && this.media.src !== undefined
          && this.media.src[this.format] !== undefined;
      },
      hasLoadingForFormat: function () {
        return this.media
          && this.media.loading !== undefined
          && this.media.loading[this.format] !== undefined;
      },
      shouldGetReference: function () {
        let extension = mime.getExtension(this.media.contentType);
        return extension ? this.referenceExtensions.includes(extension) : true;
      },
      thumbnailPath: function () {
        if(this.media !== null && this.media.id && this.isImage) {
          let extension = mime.getExtension(this.media.contentType);
          if(this.shouldGetReference){
            return this.imgPatternApiReference
              .replace('{id}', this.media.id)
              .replace('{name}', this.media.id)
              .replace('{extension}', extension);
          } else {
            return this.imgPattern
              .replace('{format}', this.format)
              .replace('{id}', this.media.id)
              .replace('{name}', this.media.id)
              .replace('{extension}', extension);
          }
        }

        return null;
      },
      isImage: function () {
        return this.media.contentType !== null && this.media.contentType !== undefined && this.media.contentType.includes('image');
      }
    },
    methods: {
      ...mapActions('media', [
        'queueMediaToLoad',
        'loadMedia'
      ]),
      load: function () {
        if(this.isImage) {
          if(!this.hasSrcForFormat) {
            if (this.directLoadingContexts.includes(this.context)) {
              let image = new Image();
              if(this.shouldGetReference) {
                image.src = process.env.API_URL + this.thumbnailPath.substring(1);
              } else {
                image.src = process.env.FRONTEND_URL + this.thumbnailPath.substring(1);
              }
              image.onload = () => {
                this.editSrc = image.src;
              };
            } else {
              this.queueMediaToLoad({
                id: this.media.id,
                path: this.thumbnailPath,
                format: this.format,
                context: this.context
              });
            }
          }
        } else if (this.media && !this.isImage) {
          let placeholder = placeholders[mime.getExtension(this.media.contentType)]
          if(placeholder !== undefined) {
            this.fixtureSrc = placeholder;
          } else {
            this.fixtureSrc = null;
          }
        }
      }
    },
    watch: {
      id: {
        handler: function () {
          this.editSrc = null;
          this.fixtureSrc = null;
          this.load();
        },
        immediate: true
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_mixins.scss';
  figure {
    margin: 0;
    &.error {
      background-color: rgba(216,101,78, 0.8);
      .thumbnail.uploading {
        opacity: 0.3;
      }
    }
  }
  .thumbnail {
    display: block;
    max-width: 100%;
    max-height: 100%;
    &.media_manager_selected {
      min-height: 40px;
      max-height: 255px;
      width:auto;
      max-width:100%;
      display: block;
      margin:auto;
    }
    &.edit {
      max-height: 250px;
      max-width: 470px;
    }
    //&.gallery {
    //  height: 113px;
    //  width: 113px;
    //}
    &.module {
      max-height: 125px;
      max-width: 235px;
    }
    &.skeleton.media_manager_selected{
      min-height:255px;
    }
    &.uploading {
      position:relative;
      &:after{
        content:"";
        width:28px;
        height:28px;
        box-sizing: border-box;
        display: block;
        position: absolute;
        border: 2px solid;
        border-radius: 50%;
        animation: loader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $alpha transparent transparent transparent;
        left:calc(50% - 14px);
        top:calc(50% - 14px);
      }
    }
    &.deleting{
      opacity: 0.6;
    }
  }
  .media-list {
    figure {
      padding-bottom: 91.66%;
      position: relative;
    }
    .thumbnail.media_manager_list_thumbnail {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      object-position: center;
    }
  }
  .no-image {
    background-color: #D8654E;
  }
  @keyframes loader-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
