<template>
  <div
    v-if="show"
    class="modal-layout"
    @dragover.prevent
    @drop.prevent
  >
    <div
      class="modal-overlay"
      @click.self="close"
    ></div>
    <div
      v-if="isDraggingOver"
      class="dragging-overlay"
      @drop.prevent="addFiles"
      @dragleave.prevent="isDraggingOver = false"
    ></div>
    <!-- @remi, toggle .show-upload-overlay on .modal for uploading overlay-->
    <div
      class="modal is-open"
      :class="{'dragging': isDraggingOver}"
      @dragenter.prevent="isDraggingOver = true"
    >
      <div class="upload-overlay">
      </div>
      <div class="media-manager-header">
        <p class="media-manager-title">Bibliothèque des médias</p>
        <p class="media-manager-subtitle" v-if="provider">{{provider|translateProvider}}s</p>
        <p class="media-manager-subtitle" v-else>Tous</p>
      </div>
      <button @click="close" class="close"></button>

      <div class="all-media">
        <media-manager-list :loading="listLoading"></media-manager-list>
        <media-manager-select @chooseFile="chooseFile" @close="close"></media-manager-select>
      </div>

      <input @change="addFiles" type="file" :accept="accept" ref="fileChooser" multiple class="file-input"/>
    </div>
  </div>
</template>

<script>
  import MediaManagerAdd from "./MediaManagerAdd";
  import MediaManagerList from "./MediaManagerList";
  import MediaManagerSelect from "./MediaManagerSelect";
  import {mapActions, mapState, mapMutations} from "vuex";
  import errorLog from "../mixins/errorLog";
  import isMedia from "../mixins/isMedia";

  export default {
    name: "MediaManager",
    components: {MediaManagerSelect, MediaManagerList, MediaManagerAdd},
    mixins: [errorLog, isMedia],
    props: ['show'],
    data: function () {
      return {
        isDraggingOver: false,
        files: [],
        uploading: [],
        mediasToLoadInterval: null
      }
    },
    computed: {
      ...mapState('media', [
        'listLoading',
        'target',
        'mediaToLoadQueue',
        'mediaLoadingQueue'
      ]),
      provider: function () {
        return _.has(this.target, 'provider') ? this.target.provider : null;
      },
      accept: function () {
        if(this.provider) {
          switch(this.provider) {
            case 'image':
              return 'image/*';
            case 'pdf':
              return 'application/pdf';
            case 'video':
              return 'video/*';
            default:
              return '*';
          }
        } else {
          return "*";
        }
      }
    },
    methods: {
      ...mapActions('media', [
        'uploadMedia',
        'loadMedia',
        'mediaLoaded'
      ]),
      ...mapMutations('media', [
        'search',
        'selected'
      ]),
      isActiveTab: function (name) {
        return this.activeTab === name;
      },
      changeTab: function (name) { //No longer used
        this.activeTab = name;
      },
      close: function () {
        if(this.show === true) {
          this.search(""); //reset search
          this.selected(null); //unselect
          this.$emit('close');
        }
      },
      chooseFile: function () {
        this.$refs.fileChooser.click();
      },
      addFiles: function (e) {
        this.isDraggingOver = false;
        let files;
        if(e.dataTransfer !== undefined && e.dataTransfer.files !== undefined) {
          files = e.dataTransfer.files;
        } else if(e.target !== undefined && e.target.files !== undefined) {
          files = e.target.files;
        }
        if(!files) return;
        ([...files]).forEach(file => {
          this.files.push(file);
        });
      },
      guessProvider: function (file) {
        if(file === undefined) {
          return null;
        }
        let mimeType = file.type;
        if(mimeType.includes('image')) {
          return 'image';
        } else if(mimeType.includes('video')) {
          return 'video';
        } else {
          return 'file';
        }
      },
      tryLoadingNextMedia: function () {
        if(this.mediasToLoadInterval) {
          clearInterval(this.mediasToLoadInterval);
        }

        this.mediasToLoadInterval = setInterval(() => {
          if (this.mediaToLoadQueue.length === 0 && this.mediaLoadingQueue.length === 0) {
            clearInterval(this.mediasToLoadInterval);
          } else if (this.mediaToLoadQueue.length > 0 && this.mediaLoadingQueue.length < 6) {
            let mediaToLoad = this.mediaToLoadQueue[0];
            this.loadNextMedia(mediaToLoad);
          }
        },100);
      },
      loadNextMedia: function (mediaToLoad) {
        this.loadMedia(mediaToLoad).then((loadedMedia) => {
          this.mediaLoaded(loadedMedia);
        });
      }
    },
    watch: {
      files: function (files) {
        //this.changeTab('all');
        _.each(files, (file, fileIndex) => {
          this.files.splice(fileIndex, 1);
          let uploadingLength = this.uploading.push(file);
          let uploadingIndex = uploadingLength - 1;
          let fileProvider = this.guessProvider(file);
          if(fileProvider && (this.accept === "*" || this.provider === fileProvider)) {
            this.uploadMedia({file, provider: fileProvider})
              .finally(() => {
                this.uploading.splice(uploadingIndex, 1);
              });
          } else {
            this.logError("The file's mime type ("+(file ? file.type : '')+") is not accepted. Awaiting "+this.accept);
          }
        });
      },
      mediaToLoadQueue: {
        handler: 'tryLoadingNextMedia'
      },
      mediaLoadingQueue: {
        handler: 'tryLoadingNextMedia'
      },
    }
  }
</script>

<style scoped lang="scss">
  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';

  .modal-layout{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:10000;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
  }
  .dragging-overlay {
    background-color: lighten(#F8F7F5, 20);
    opacity: 0.5;
    height:90vh;
    min-height:400px;
    max-height:760px;
    width: 90%;
    max-width: 1300px;
    position:absolute;
    top:50%;
    left: 50%;
    @include translate(-50%,-50%);
    z-index:10001;
  }
  .modal{
    height:90vh;
    min-height:400px;
    max-height:760px;
    width: 90%;
    max-width: 1300px;
    padding: 16px;
    border:solid 8px $white;
    background-color:#F8F7F5;
    overflow-y: auto;
    overflow-x: hidden;
    position:absolute;
    top:50%;
    left: 50%;
    z-index:10000;
    @include translate(-50%,-50%);
    @include shadow(2px,2px,6px,-4px,#000);
    .upload-overlay{
      display: none;
      background-color:rgba(#F8F7F5,0.8);
      background-image: url('img/icons/icon-upload-large.svg');
      background-position:center center;
      background-size:168px 168px;
      background-repeat:no-repeat;
      position:absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      z-index:1;
    }
    &.show-upload-overlay .upload-overlay{
      display: block;
    }
  }
  .media-manager-header{
    display: flex;
    flex-direction: column;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  .media-manager-title{
    font-size: 26px;
    font-weight:200;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    width:100%;
  }
  .media-manager-subtitle{
    margin: 0;
    font-size: 14px;
    font-weight:200;
    text-align: center;
    text-transform: uppercase;
  }
  .close{
    width:26px;
    height:26px;
    padding:0;
    background-image: url('img/icons/icon-close-grey.svg');
    background-size:100%;
    background-color: transparent;
    border:0;
    position: absolute;
    top:8px;
    right:8px;
    cursor:pointer;
    &:hover {
      opacity: 0.6;
    }
  }
  .all-media {
    // min-height:calc(100% - 47px);
    display: flex;
    flex-direction: row;
    border-top: 2px solid $white;
    height:calc(100% - 88px);
  }
  .alert{
    font-size: 9px;
    line-height:1.1em;
    padding:5px 0 5px 25px;
    background-image: url('img/icons/icon-warning-grey.svg');
    background-position:left center;
    background-repeat:no-repeat;
    strong{
      color: #D8654E;
      font-weight: 800;
      display: block;
    }
  }
  .file-input {
    visibility: hidden;
    display:none;
  }
  </style>
