<template>
  <div class="media-list vertical">
    <div v-for="media in medias" :class="{'is-checked': isSelected(media)}" @click="select(media)">
    	<div class="checkbox"></div>
    	<div class="img">
        <media :media="media" format="media_manager_list_thumbnail" context="manager-list"></media>
    	</div>
    	<p class="name"><!-- media name in context ? --><small>{{media.providerReference}}</small></p>
    	<p v-if="usageCount(media) > 0" class="content">
        {{usageCount(media)}}
        <span v-if="usageCount(media) > 1">utilisations</span>
        <span v-else>utilisation</span>
      </p>
      <p v-else class="content"></p>
    	<div class="labels">
    		<p class="label">{{media.contentSize|formatBytes}}</p>
    		<p class="label">{{media.width}}x{{media.height}} px</p>
    	</div>
    </div>
  </div>
</template>

<script>
  import Media from "./Media";
  import isMedia from "../mixins/isMedia";

  export default {
    name: "MediaManagerListVertical",
    components: {Media},
    props: ['medias', 'selected'],
    mixins: [isMedia],
    methods: {
      select: function (media) {
        this.$emit('select', media);
      },
      isSelected: function (media) {
        return this.selected !== null && media === this.selected;
      },
      usageCount: function (media) {
        return media && media.resourceHasMedias !== undefined && media.resourceHasMedias !== null
          ? media.resourceHasMedias.length
          : 0;
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


	.media-list{
		padding: 20px 0 0;
		height:80%;
		overflow: scroll;
		background-color:white;
    	flex-grow: 2;
		div{
			display: flex;
			justify-content: space-around;
			align-items: center;
			align-content: flex-start;
			flex-direction:row;
			flex-wrap:nowrap;
			margin:2px 0;
			cursor:pointer;

			.checkbox{
				display:block;
				width:20px;
				height:20px;
				margin:0 5px;
				border-radius:50%;
				border:1px solid $bgThree;
				background-color: $white;
				position:relative;
			}
		    p.name{
				font-size: 14px;
				font-weight: 400;
				width:30%;
				margin:0 5px;
				small{
					font-size: 11px;
					font-size: 200;
					display: block;
				}
		    }
		    p.content{
		    	font-size: 11px;
		    	font-weight: 400;
				width:20%;
				margin:0 5px;
		    	span{
		    		font-weight: 200;
		    	}
		    }
		    .labels{
		    	.label{
		    		color: $white;
		    		font-size: 9px;
		    		font-weight: 200;
		    		line-height: 3em;
		    		text-align: center;
		    		display: inline-block;
		    		min-width: 77px;
		    		margin:0 3px;
		    		background-color: $beta;
		    		border-radius: $bora;
		    	}
		    }
			&.is-checked .checkbox:after,
			&:hover .checkbox:after{
				content:"";
				display:block;
				width:20px;
				height:20px;
				background-image: url('img/icons/icon-check-green.svg');
				background-repeat:no-repeat;
				background-position: 50% 50%;
				background-size: 50%;
	        }
		}

	}

</style>
