<template>
  <div class="medias">
    <media-manager-search></media-manager-search>
    <div v-if="loading" class="list-loader">
      <loader></loader>
    </div>
    <media-manager-list-thumbnails v-else-if="listView === 'thumbnails'" :medias="paginatedMedias" :selected="selected" @select="select"></media-manager-list-thumbnails>
    <media-manager-list-vertical v-else-if="listView === 'vertical'" :medias="paginatedMedias" :selected="selected" @select="select"></media-manager-list-vertical>
    <media-manager-list-pagination></media-manager-list-pagination>
  </div>
</template>

<script>
  import MediaManagerSearch from "./MediaManagerSearch";
  import MediaManagerListThumbnails from "./MediaManagerListThumbnails";
  import MediaManagerListPagination from "./MediaManagerListPagination";
  import MediaManagerListVertical from "./MediaManagerListVertical";
  import {mapActions, mapGetters, mapMutations, mapState} from "vuex";
  import Loader from "sv/js/components/common/Loader";

  export default {
    name: "MediaManagerList",
    components: {
      Loader,
      MediaManagerListVertical,
      MediaManagerListPagination,
      MediaManagerListThumbnails,
      MediaManagerSearch
    },
    props: ['loading'],
    mounted: function () {
      if(this.medias.length === 0) {
        this.fetch();
      }
    },
    computed: {
      ...mapState('media', [
        'medias',
        'selected',
        'currentListPage',
        'listView',
        'filters'
      ]),
      ...mapGetters('media', [
        'paginatedMedias'
      ])
    },
    methods: {
      ...mapActions('media', [
        'fetch',
        'select'
      ]),
      ...mapMutations('media', {
        'setCurrentListPage': 'currentListPage',
        'setListLoading': 'listLoading'
      })
    },
    watch: {
      currentListPage: function () {
        this.$nextTick(() => {
          this.setListLoading(false);
        });
      },
      filters: {
        handler: function () {
          this.setCurrentListPage(1);
        },
        deep: true
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .medias{
    width:60%;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .list-loader {
    //height: 80%;
    text-align: center;
    background-color:white;
    flex-grow: 2;
    /deep/ .loader-ring {
      top: calc(50% - 24px);
    }
  }
</style>
