<template>
  <div class="media-add">
    <div class="upload">
      <loader class="loader" v-if="choosing"></loader>
      <span v-else @click="chooseFile">
        Pour ajouter des médias, déposez des fichiers ici
      </span>
    </div>

  </div>
</template>

<script>
  import Loader from "sv/js/components/common/Loader";
  export default {
    name: "MediaManagerAdd",
    components: {Loader},
    data: function () {
      return {
        choosing: false
      };
    },
    methods: {
      chooseFile: function () {
        this.choosing = true;
        this.$emit('chooseFile');
        setTimeout(() => {
          this.choosing = false;
        }, 3000);
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .media-add{
    width: 100%;
    height: 100%;
    position:relative;
    p {
      position: relative;
      text-align: center;
    }

    .upload {
      span {
        text-align: center;
        width:100%;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        cursor: pointer;
        &:before{
          content:"";
          width: 63px;
          height: 63px;
          display: block;
          margin: 16px auto;
          background-image: url('img/icons/icon-upload.svg');
          background-position: center center;
          background-repeat: no-repeat;
        }
        &:hover {
          opacity: 0.7;
        }
      }
      .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        @include translate(-50%, -50%);
      }
    }

    .uploading {
      text-align: center;
      background-color: transparent;
      border: $bgThree solid 1px;
      span {
        font-size: 12px;
        font-weight: 200;
        padding-top: 85px;
        background-image: url('img/icons/icon-uploading.svg');
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        left: 50%;
        top: 50%;
        @include translate(-50%, -50%);
      }
    }

    .error {
      height: 100%;
      text-align: center;
      position: relative;

      span {
        color: #D8654E;
        font-size: 12px;
        font-weight: 800;
        padding-top: 85px;
        background-image: url('img/icons/icon-error-upload.svg');
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        left: 50%;
        top: 50%;
        @include translate(-50%, -50%);
      }

      & + .alert {
        background-image: url('img/icons/icon-warning-red.svg');

        p strong {
          color: #D8654E;
        }
      }
    }
  }

</style>
