<template>
  <div v-if="media" class="selected">
    <div class="infos">
      <span v-if="media.contentSize">{{media.contentSize|formatBytes}}</span>
      <span v-if="media.width && media.height">{{media.width}}x{{media.height}} px</span>
    </div>
    <div class="media-block">
      <div class="selected-media">
        <div class="media-container">
          <video v-if="isVideo" :key="media.id" controls controlslist="nodownload" poster="" class="video-player">
            <source :src="videoPath" type="video/webm">
            <source :src="videoPath" type="video/mp4">
          </video>
          <media v-else :media="media" format="media_manager_selected" context="manager-select"></media>
          <!-- <a href="">Modifier le média</a> -->
        </div>
      </div>
      <p class="media-url">URL directe
        <a v-if="!urlCopied && !urlCopiedError" v-clipboard="() => url" v-clipboard:success="copySuccess" v-clipboard:error="copyError" class="copy-link">
          <i class="fa fa-copy"></i>
        </a>
        <span class="copy-link-result" v-else-if="urlCopied && !urlCopiedError"><i class="fa fa-check"></i></span>
        <span class="copy-link-result copy-link-error" v-else>erreur lors de la copie...</span>
        <a class="open-link" :href="url" target="_blank"><i class="fa fa-external-link"></i></a>
        <br/>
        {{path}}<strong>{{mediaNameFormatted}}{{extension}}</strong>
      </p>
      <div class="selected-image-info" v-if="!isVideo">
        <div>
          <label for="media-name">Nom de l'image</label>
          <input id="media-name" :value="mediaNameFormatted" @input="mediaName = $event.target.value" type="text"/><span class="media-name-extension">{{extension}}</span>
        </div>
        <div v-if="target !== null">
          <label for="media-alt">Balise Alt</label>
          <input id="media-alt" v-model="mediaAlt" type="text"/>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button @click="insertIntoTarget" class="alpha" :class="{disabled: !target}">
        <template v-if="isVideo">Insérer la vidéo</template>
        <template v-else>Insérer l'image dans mon contenu</template>
      </button>
      <div v-if="deleting" class="deleting">
        <loader class="loader" size="small"></loader>
        <span>Suppression en cours…</span>
      </div>
      <button v-else @click="confirmDelete" class="delete">Supprimer Définitivement</button>
    </div>
  </div>
  <div v-else class="instructions">
    <media-manager-add @chooseFile="$emit('chooseFile')"></media-manager-add>
  </div>
</template>

<script>
  import Media from "./Media";
  import {mapActions, mapState} from 'vuex';
  // import mime from "mime/lite";
  import confirmation from "sv/js/components/mixins/confirmation";
  import isMedia from "../mixins/isMedia";
  import Loader from "sv/js/components/common/Loader";
  import MediaManagerAdd from "sv/js/components/media/MediaManagerAdd";

  export default {
    name: "MediaManagerSelect",
    components: {Media, MediaManagerAdd, Loader},
    mixins: [isMedia, confirmation],
    data: function () {
      return {
        deleting: false,
        urlCopied: false,
        urlCopiedError: false,
        mediaName: "",
        mediaAlt: ""
      }
    },
    computed: {
      ...mapState('media', {
        'media': 'selected',
        'target': 'target'
      }),
      ...mapState('languages', [
        'currentLocale'
      ]),
      path: function () {
        if(this.media !== null && this.media.id) {
          return this.getMediaUrl('reference', this.media.id, "");
        }
      },
      url: function () {
        if(this.media !== null && this.media.id) {
          return this.getMediaUrl('reference', this.media.id, this.mediaNameFormatted + this.extension);
        }
      },
      extension: function () {
        let extension = this.media.providerReference.split('.').pop();
        return extension !== this.media.providerReference ? "."+extension : "";
      },
      mediaNameFormatted: function () {
        return this.mediaName !== "" ? this.removeExtension(this.mediaName) : this.removeExtension(this.media.providerReference);
      },
      isVideo: function () {
        return this.media !== null && this.media.id && this.media.providerName === 'video';
      },
      videoPath: function () {
        if(this.isVideo) {
          return process.env.FRONTEND_URL + 'medias/reference/' + this.media.id + '/' + this.media.providerReference;
        }
        return null;
      }
    },
    methods: {
      ...mapActions('edits', [
        'updateMedia',
      ]),
      ...mapActions('media', ['deleteMedia']),
      copySuccess: function () {
        this.urlCopied = true;
        setTimeout(() => {
          this.urlCopied = false;
        }, 2000);
      },
      copyError: function () {
        this.urlCopied = true;
        this.urlCopiedError = true;
        setTimeout(() => {
          this.urlCopied = false;
          this.urlCopiedError = false;
        }, 2000);
      },
      removeExtension: function (filename) {
        return filename.replace(this.extension, "");
      },
      insertIntoTarget: function () {
        let callback = this.target.callback || null;
        this.updateMedia({
          'type': this.target.type,
          'identifier': this.target.identifier,
          'moduleId': this.target.moduleId ?? null,
          'media': this.media,
          'name': this.mediaNameFormatted+this.extension,
          'alt': this.mediaAlt,
          'locale': this.currentLocale,
          'position': this.target.position ?? null
        }).then(() => {
            if(callback && typeof callback === 'function') {
              callback();
            }
        });
        this.$emit('close');
      },
      confirmDelete: function () {
        this.confirm("Suppression du média d'origine", "Êtes-vous certain de vouloir supprimer définitivement ce média de la bibliothèque ?", this.delete);
      },
      delete: function () {
        this.deleting = true;
        this.deleteMedia()
        .then((response) => {
          if(response.status === 409) {
            const message = "Impossible de supprimer le média car il est utilisé sur les contenus suivants :<br>" + response.data.join('<br>');
            this.confirm("Erreur lors de la suppression du média", message, null);
          }
        })
        .finally(() => {
          this.deleting = false;
        });
      }
    },
    watch: {
      media: {
        handler: function (media) {
          if(media && media.resourceHasMedias !== undefined && media.resourceHasMedias.length > 0) {
            let latestUsed = media.resourceHasMedias.reduce((a, b) => {
              return new Date(a.updatedAt) > new Date(b.updatedAt) ? a : b;
            });
            this.mediaName = latestUsed.name ?? "";
            this.mediaAlt = latestUsed.alt ?? "";
          }
        },
        immediate: true
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .instructions {
    width: 40%;
    p {
      position: relative;
      top: 50%;
      line-height: 34px;
      margin-top: -17px;
      text-align: center;
      width: 100%;
    }
  }
  .selected{
    width: 40%;
    padding: 16px 16px 0;
    .infos{
      padding: 16px;
      display:flex;
      flex-direction: row-reverse;
      span{
        color:$white;
        font-size: 9px;
        font-weight: 200;
        letter-spacing: 0.3px;
        line-height: 1.1em;
        padding: 8px 10px;
        min-width: 77px;
        border-radius:$bora;
        display: inline-block;
        background-color: $beta;
        margin-left: 10px;
        text-align: center;
      }
    }
    .media-block{
      margin-top:1px;
      padding:16px;
      background-color: white;
    }
    .selected-media{
      position:relative;
      .media-container{
        width:auto;
        max-width:100%;
        display: block;
        position:relative;
        img, video {
          width:auto;
          max-width:100%;
          display: block;
          margin:auto;
        }
        a{
          color:$white;
          font-size: 12px;
          font-weight: 200;
          letter-spacing: 0.3px;
          text-transform:uppercase;
          text-decoration: none;
          padding:5px 20px;
          position:absolute;
          right:7px;
          bottom:7px;
          background-color:#4D4D4D;
          &:hover{
            background-color: darken(#4D4D4D,10%);
          }
        }
      }
    }
    .media-url,
    label{
      font-size: 12px;
      font-weight: 400;
      display: block;
    }
    .copy-link, .open-link, .copy-link-result {
      color: $textOne;
    }
    .copy-link:hover, .open-link:hover {
      cursor: pointer;
      color: $textTwo;
    }
    .copy-link, .copy-link-result {
      margin-left: 5px;
    }
    .selected-image-info{
      display: block;
      div{
        margin-bottom: 5px;
        width: calc(100% - 10px);
        input{
          border: 1px solid $bgOne;
          width: 100%;
          height: 34px;
          padding: 5px;
          &#media-name {
            padding-right: 25px;
          }
        }
        .media-name-extension {
          font-size: 13px;
          position: relative;
          top: -25px;
          right: 5px;
          float: right;
          text-align: right;
        }
      }
    }
    .buttons{
      display:flex;
      flex-direction:row-reverse;
      justify-content:space-between;
      align-items: center;
      margin-top: 20px;
      button{
        color:$white;
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px;
        background-color: $alpha;
        border:0;
        cursor:pointer;
        &:hover{
          background-color: darken($alpha,10%);
        }
        &.delete{
          color: $alert;
          text-transform:lowercase;
          background-color:transparent;
          padding: 10px 0;
          &:hover{
            color: darken($alert,10%);
          }
        }
        &.disabled {
          background-color: $bgThree;
          &:hover {
            cursor: not-allowed;
          }
        }
      }
      .deleting {
        display: flex;
        align-items: center;
        font-size: 12px;
        margin-top: -7px;
        span {
          margin-top: 7px;
          margin-left: 7px;
        }
      }
    }
  }
</style>
