<template>
  <div class="list-table-row list-content" :class="[{deleting: isDeleting}, style]">
    <div class="list-table-cell middle move-raw">
      <button v-if="isPositionable" class="move-table-row"></button>
    </div>

    <div class="list-table-cell other-actions middle" v-if="configuration.optionsPosition === 'left'">
      <div class="dropdown-wrapper other-actions-dropdown" :class="{'active': showActions}">
        <div @click="showActions = !showActions" class="dropdown-button other-actions-button">
          <span>...</span>
        </div>
      </div>
      <list-table-row-actions :show="showActions" :actions="configuration.rowActions" :row="row" :position='configuration.optionsPosition' @close="closeActions" @delete="deleteRow"></list-table-row-actions>
    </div>

    <div :key="column.name" class="list-table-cell middle" v-for="(column, index) in columns">
      <div class="grid">
        <div class="text-content">
          <span class="merged-column-label" v-if="column.mergedColumnAsLabel">
            {{format(row[column.mergedColumnAsLabel.name], column.mergedColumnAsLabel)}}
          </span>
          <router-link :to="getMainActionRoute(row)" v-if="column.clickable">
            <p v-if="cell(row, column.name) !== null" class="excerp" :class="formatColor(cell(row, column.name), column)">{{format(cell(row, column.name), column)}}</p>
            <p v-else-if="column.fallback !== undefined && cell(row, column.fallback) !== null" class="excerp" :class="formatColor(cell(row, column.name), column)">{{format(cell(row, column.fallback), column)}}</p>
          </router-link>
          <p @click="" v-else-if="cell(row, column.name) !== null" class="excerp" :class="formatColor(cell(row, column.name),column)">{{format(cell(row, column.name),column)}}</p>
          <p v-else-if="column.fallback !== undefined && cell(row, column.fallback) !== null" class="excerp" :class="formatColor(cell(row, column.name),column)">{{format(cell(row, column.fallback), column)}}</p>
        </div>
      </div>
      <router-link :to="getChildrenRoute(row)" v-if="index === 0 && getChildrenCount(row) && getChildrenCount(row) > 0" class="children">
        <span class="children-count">{{getChildrenCount(row)}}</span> <span class="children-label">{{getChildrenLabel(row)}}</span>
      </router-link>
    </div>

    <div v-if="isMultilingual && isPublishable" class="list-table-cell middle">
      <ul class="content-status">
        <li v-for="(language, locale) in activeLanguages">
          <button class="lang-button" :class="getLanguageStatusClass(locale)">{{locale}}</button>
        </li>
      </ul>
    </div>
    <div v-else-if="isPublishable" class="list-table-cell middle">
      <div class="content-status">
        <p v-if="isPublicationPending(currentLocale)" class="pending"> En attente de<br/> publication</p>
        <p v-else-if="isPublished(currentLocale)" class="active"> Publié</p>
        <p v-else> Jamais publié</p>
      </div>
    </div>

    <div class="list-table-cell other-actions middle" v-if="configuration.optionsPosition === 'right'">
      <div class="dropdown-wrapper other-actions-dropdown" :class="{'active': showActions}">
        <div @click="showActions = !showActions" class="dropdown-button other-actions-button">
          <span>...</span>
        </div>
      </div>
      <list-table-row-actions :show="showActions" :actions="configuration.rowActions" :row="row" :position='configuration.optionsPosition' @close="closeActions" @delete="deleteRow"></list-table-row-actions>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";
  import moment from "moment";
  import Skeleton from "../common/Skeleton";
  import ListTableRowActions from "./ListTableRowActions";
  import actionHelper from "../mixins/actionHelper";
  import contentStatus from "../mixins/contentStatus";
  import listType from "sv/js/components/mixins/listHelper";
  import listHelper from "sv/js/components/mixins/listHelper";

  export default {
    name: "ListTableRow",
    components: {ListTableRowActions, Skeleton},
    mixins: [actionHelper, contentStatus, listType, listHelper],
    props: ['row'],
    data: function () {
      return {
        showActions: false,
        isDeleting: false
      };
    },
    computed: {
      columns: function () {
        return this.list ? this.list.columns : [];
      },
      activeLanguages: function () {
        return this.languages; //todo, activate/deactive languages
      },
      versionHashes: function () {
        return this.isPublishable && this.row && this.row.versionHashes !== undefined
          ? this.row.versionHashes
          : null;
      },
      draftHashes: function () {
        return this.isPublishable && this.row && this.row.draftHashes !== undefined
          ? this.row.draftHashes
          : null;
      },
      style: function () {
        return this.configuration.style;
      },
      guide: function () {
        return this.row.guide !== undefined && this.row.guide !== null ? this.row.guide : null;
      }
    },
    methods: {
      ...mapActions('lists', [
        'deleteElement',
        'removeElementFromCurrentList'
      ]),
      cell: function (row, path) {
        return _.get(row, path, null);
      },
      format: function(cell, column) {
        if (cell === undefined) {
          //console.error('No value found for column', column.name);
          return '❌';
        }
        switch (column.type) {
          case 'date':
            return moment(cell).format('DD/MM/YYYY');
          case 'datetime':
            return moment(cell).format('DD/MM/YYYY HH:mm:ss');
          case 'boolean':
            if(_.has(column, 'options.format')) {
              let format = column.options.format;
              if(_.has(format, 'true') && _.has(format, 'false')) {
                return cell ? format.true.label : format.false.label;
              }
            }
            return cell ? '🟢' : '❌';
          case 'string':
            if(_.has(column, 'options.convert')) {
              let conversion = column.options.convert;
              if(_.has(conversion, cell)) {
                return conversion[cell];
              }
            }
            return cell;
          case 'percentage':
            return cell * 100 + '%';
          case 'list':
            if(!_.isArray(cell)) {
              console.error("Column type 'list' can only be used on arrays or objects");
            } else if(_.has(column, 'options.property')) {
              let property = column.options.property;
              return _.reduce(cell, (carry, value) => carry !== "" ? carry + ", " + _.get(value, property) : _.get(value, property), "");
            } else {
              return _.reduce(cell, (carry, value) => carry !== "" ? carry + ", " + value : value, "");
            }
            break;
          default:
            return cell; //don't do anything
        }
      },
      formatColor: function (value, column) {
        return _.has(column, ['options', 'format', value, 'color']) ? this.colorClass(column.options.format[value].color) : null;
      },
      colorClass: function (color) {
        switch(color) {
          case 'green':
            return 'text-success';
          case 'red':
            return 'text-alert';
          case 'yellow':
            return 'text-notice';
          default:
            return color;
        }
      },
      closeActions: function () {
        this.showActions = false;
      },
      getMainActionRoute: function (row) {
        if(this.configuration.mainRowAction) {
          let mainAction = this.configuration.rowActions.find((rowAction) => {
            return rowAction.name === this.configuration.mainRowAction;
          });

          if (mainAction !== undefined) {
            return this.buildActionRoute(mainAction, row);
          } else {
            console.error('Could not find main action '+this.configuration.mainRowAction+' for clickable column');
          }
        } else {
          console.error('To have clickable columns, you must defined a mainRowAction in the list configuration');
        }
      },
      getChildrenAction: function (row) {
        let childrenAction = this.configuration.rowActions.find((rowAction) => {
          return !_.isNil(rowAction.count) && rowAction.type === 'list';
        });
        return childrenAction;
      },
      getChildrenRoute: function (row) {
        let childrenAction = this.getChildrenAction(row);
        if (childrenAction !== undefined) {
          return this.buildActionRoute(childrenAction, row);
        } else {
          console.error('Could not find list action '+childrenAction+' for clickable column');
        }
      },
      getChildrenLabel: function (row) {
        let childrenAction = this.getChildrenAction(row);
        let childrenCount = this.getChildrenCount(row);
        let label = 'sous-éléments';
        if(childrenAction && _.has(childrenAction, 'childrenLabel') && childrenAction.childrenLabel !== null) {
          label = childrenAction.childrenLabel;
        }
        //Handle plural: (s) in labels become s or nothing depending if plural or not
        //Caveat: Does not work for plurals that have other irregular forms
        if(childrenCount < 2) {
          label = label.replace(/\(s\)$/, '');
        } else {
          label = label.replace(/\(s\)$/, 's');
        }
        return label;
      },
      getChildrenCount: function (row) {
        let childrenAction = this.getChildrenAction(row);
        if(_.has(childrenAction, 'count') && childrenAction.count !== null) {
          return row[childrenAction.count];
        } else {
          return null;
        }
      },
      deleteRow: function () {
        this.isDeleting = true;
        this.deleteElement({
          id: this.row.id,
          apiReference: this.getApiReferenceFromConfig('delete')
        }).then(() => {
          this.removeElementFromCurrentList(this.row.id);
          this.isDeleting = false;
        }).catch((error) => {
          this.isDeleting = false;
          console.error('There was an error while deleting the row', error);
        });
      }
    }
  }
</script>

<style scoped lang="scss">

  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';


  .list-table-row.deleting {
    opacity: 0.3;
  }

  .list-table-row {
    &.normal .list-table-cell{
      padding: 11px 0 0 10px;
      display: table-cell;
      &.top{
        vertical-align:top;
      }
      &.middle{
        vertical-align:middle;
      }
      &.move-raw,
      &.other-actions{
        width:50px;
      }
    }
    &.compact .list-table-cell {
      padding: 5px 0 0 10px;
      p.excerp {
        font-size: 13px;
        margin: 0;
      }
      .children-label {
        line-height: 13px;
      }
    }
  }

  // move button
  .move-table-row{
    width: 25px;
    height: 25px;
    display: block;
    padding: 0;
    margin:0 10px;
    background-color: transparent;
    background-image: url('img/icons/icon-move.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px 15px;
    border:0;
    cursor: move;
    &:hover,
    &:focus,
    &:active{
      background-color: darken($bg,10%);
    }
  }

  .align-bottom{
    vertical-align: bottom;
  }

  // text management
  p{
    font-size: 15px;
    font-weight: 200;
  }
  .text-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
    padding-right: 15px;
    a {
      transition: color 0.3s;
      text-decoration: none;
      &:hover {
        color: lighten($text, 20%);
      }
    }
  }
  .merged-column-label,
  .ref{
    font-size: 12px;
    font-weight: 200;
    line-height: 1.5em;
    padding: 3px 5px;
    margin-bottom: 5px;
    border-radius: $bora;
  }
  .merged-column-label{
    color: $alphaText;
    background-color: $alphaBg;
  }
  .ref{
    color: $text;
    background-color: $bgOne;
  }
  .excerp{
    font-size: 15px;
    font-weight: 200;
    padding: 0;
    margin: 0 0 5px;
  }

  // children and links
  a,
  .children,
  .add{
    color: $text;
    font-size: 12px;
  }
  .add{
    &:hover{
      text-decoration: none;
    }
  }
  .children{
    transition: color 0.3s;
    color: $betaOne;
    text-decoration: none;
    .children-count{
      color: $white;
      font-size: 12px;
      font-weight:200;
      text-align: center;
      line-height: 18px;
      width: 18px;
      height: 18px;
      display: inline-block;
      background-color: $betaOne;
      border-radius: 50%;
      margin-bottom: 5px;
    }
    .children-label{
        font-weight:200;
        margin-left:4px;
    }
    &:hover{
      color: darken($betaOne, 15%);
      cursor: pointer;
    }
  }

  // language management
  ul.content-status{
    display: flex;
    list-style-type: none;
    margin: 0 0 0 -10px;
    padding: 0 0 0 14px;
    border-left:1px solid $bgTwo;
    li{
      button{
        color: $white;
        font-size: 12px;
        font-family: $font1;
        text-transform: uppercase;
        padding:4px 7px;
        margin:2px;
        background-color: $bgLang;
        border:0;
        border-radius: $bora;
        cursor: pointer;
        &:hover{
          background-color: darken($bgLang,10%);
        }
        &.active{
          background-color: $alpha;
          &:hover{
            background-color: darken($alpha,10%);
          }
        }
        &.pending{
          background-color: $notice;
          &:hover{
            background-color: darken($notice,10%);
          }
        }
      }
    }
  }

  // thumbnail and image management
  .thumbnail{
    padding-right: 25px;
    img{
      width: 100%;
      height: auto;
      max-width: 140px;
    }
  }
  div.content-status{
    p{
      color: $alert;
      font-size: 12px;
      &.active{
        color:$alpha;
        i{
          width: 12px;
          height: 12px;
          margin-left: 5px;
          display: inline-block;
          background-image: url('img/icons/icon-active.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          vertical-align: middle;
        }
      }
      &.pending{
        color: $notice;
      }
    }
  }
</style>
