<template>
  <div class="pagination" v-if="pagination && enabled && pagination.count > 1">
    <div class="pagination-inner">
      <a @click="changePage(1)" class="first-page" :class="{disabled: currentPage === 1}">
        <i class="fa fa-angle-double-left"></i>
      </a>
      <a @click="changePage(currentPage - 1)" class="previous-page" :class="{disabled: currentPage === 1}">
        <i class="fa fa-angle-left"></i>
      </a>

      <a
        @click="changePage(p)"
        v-for="p in startPages"
        :key="'page'+p"
        class="page-numbers"
        :class="{'current': p === currentPage}"
      >{{p}}</a>

      <span v-if="middlePages" class="page-numbers dots">…</span>
      <a
        v-if="middlePages"
        @click="changePage(p)"
        v-for="p in middlePages"
        :key="'page'+p"
        class="page-numbers"
        :class="{'current': p === currentPage}"
      >{{p}}</a>

      <span v-if="endPages" class="page-numbers dots">…</span>
      <a
        v-if="endPages"
        @click="changePage(p)"
        v-for="p in endPages"
        :key="'page'+p"
        class="page-numbers"
        :class="{'current': p === currentPage}"
      >{{p}}</a>

      <a @click="changePage(currentPage + 1)" class="next-page" :class="{disabled: currentPage === pagination.count}">
        <i class="fa fa-angle-right"></i>
      </a>
      <a @click="changePage(pagination.count)" class="last-page" :class="{disabled: currentPage === pagination.count}">
        <i class="fa fa-angle-double-right"></i>
      </a>
    </div>
  </div>
  <div class="pagination" v-else-if="!enabled">
    <div class="pagination-inner"></div>
  </div>
</template>

<script>
  import {mapMutations, mapState} from "vuex";
  import pagination from "../mixins/pagination";

  export default {
    name: "ListPagination",
    mixins: [pagination],
    props: {
      enabled: {
        type: Boolean,
        default: true
      }
    },
    computed: {
      ...mapState('lists', {
        'pagination': 'currentPagination',
        'currentPage': 'currentPage'
      }),
    },
    methods: {
      ...mapMutations('lists', {
        'changeCurrentPage': 'currentPage'
      }),
    }
  }
</script>

<style scoped lang="scss">

  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';

  .pagination{
    margin:50px 0 50px;
    .pagination-inner{
      text-align: center;
      font-size: 11px;
      display: flex;
      justify-content:center;
      .first-page,
      .last-page,
      .previous-page,
      .next-page,
      .page-numbers{
        color: $text;
        text-decoration: none;
        width: 35px;
        height: 35px;
        margin-right: 1px;
        border-radius: $bora;
        display: flex;
        justify-content:center;
        align-items:center;
        &:not(.current){
          cursor: pointer;
        }
        &:hover,
        &.current{
          color: $white;
          background-color: $alpha;
        }
        &.dots:hover{
          color: $text;
          background-color: transparent;
          cursor: default;
        }
      }
      .first-page,
      .last-page,
      .previous-page,
      .next-page {
        background-color: $bgOne;
        &.disabled{
          color: $bgOne;
          background-color: transparent;
          cursor: default;
        }
      }
    }
  }
</style>
