<template>
  <div class="list-filters" v-if="availableFilters">
    <div class="filters">
      <span class="filter-title">Filtrer&nbsp;:</span>
      <div class="current-filters">
        <div class="filter-bloc">
          <template v-if="currentFilters.length < 2">
            <div class="filter" v-for="(filter, filterIndex) in currentFilters" :key="filter.name+'_'+filterIndex">
              <span class="current-filter-label">{{filter.label}} {{filterStrategySign(filter)}}</span>
              <component :is="filterComponent(filter)" :filter="filter" :index="filterIndex" @update="updateCurrentFilter" @apply="applyFilters"></component>
              <a @click="removeFilter(filterIndex)" class="close"></a>
            </div>
          </template>
          <template v-else>
            <div class="filter" :key="currentFilters[0].name+'_0'">
              <span class="current-filter-label">{{currentFilters[0].label}} {{filterStrategySign(currentFilters[0])}}</span>
              <component :is="filterComponent(currentFilters[0])" :filter="currentFilters[0]" index="0" @update="updateCurrentFilter" @apply="applyFilters"></component>
              <a @click="removeFilter(0)" class="close"></a>
            </div>
            <div @click="toggleFilterMode" class="toggle-two-values" :class="{'on': filterModeOr}">
              <span class="toggle-left">ET</span> <span class="toggle-switch"></span> <span class="toggle-right">OU</span>
            </div>
            <div class="filter" v-for="(filter, filterIndex) in currentFiltersWithoutFirst" :key="filter.name+'_'+(filterIndex+1)">
              <span class="current-filter-label">{{filter.label}} {{filterStrategySign(filter)}}</span>
              <component :is="filterComponent(filter)" :filter="filter" :index="filterIndex+1" @update="updateCurrentFilter" @apply="applyFilters"></component>
              <a @click="removeFilter(filterIndex+1)" class="close"></a>
            </div>
          </template>
          <div class="dropdown-wrapper filter-dropdown">
            <span class="dropdown-button filter-button" @click="showAddFilter = !showAddFilter"><i></i> Ajouter un filtre</span>
            <div class="dropdown-content" :class="{open: showAddFilter}" id="filter-by-content">
              <ul>
                <li v-for="filter in availableFilters" :key="filter.name">
                  <a v-if="filterCanBeAdded(filter)" @click="addFilter(filter)">{{filter.label}}</a>
                  <a v-else class="disabled">{{filter.label}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div v-if="!filtersApplied" class="apply-filters">
        <button type="button" class="btn alpha" @click="applyFilters">Appliquer</button>
      </div>
    </div>

    <!-- not implemented (order-by implemented in another way)
    <div class="order-by">
      <div class="dropdown-wrapper">
        <span class="dropdown-button order-by-button"> Trier par <i></i></span>
        <div class="dropdown-content to-the-right" id="order-by-content">
          <ul>
            <li>Par référence : <a class="up" href=""></a><a class="down" href=""></a></li>
            <li>Par date de création : <a class="up" href=""></a><a class="down" href=""></a></li>
            <li>Par utilisateur : <a class="up" href=""></a><a class="down active" href=""></a></li>
            <li>Par type : <a class="up" href=""></a><a class="down" href=""></a></li>
            <li>Par statut : <a class="up" href=""></a><a class="down" href=""></a></li>
            <li>Par montant : <a class="up" href=""></a><a class="down" href=""></a></li>
          </ul>
        </div>
      </div>
      <button class="export"></button>
    </div> -->
  </div>
</template>

<script>
  import listHelper from "sv/js/components/mixins/listHelper";
  import {unobserve} from "sv/js/util/unobserver";
  import {mapMutations, mapState} from "vuex";
  import TextFilter from "sv/js/components/list/filters/TextFilter";
  import ToggleFilter from "sv/js/components/list/filters/ToggleFilter";
  import SelectFilter from "sv/js/components/list/filters/SelectFilter";

  export default {
    name: "ListFilters",
    components: {TextFilter},
    mixins: [listHelper],
    data: function () {
      return {
        currentFilters: [],
        filterModeOr: false,
        showAddFilter: false
      };
    },
    computed: {
      ...mapState('lists', {
        'stateFilters': 'filters',
        'stateFilterMode': 'filterMode'
      }),
      availableFilters: function () {
        return _.has(this.configuration, 'filters') ? this.configuration.filters : null;
      },
      filters: function () {
        return this.currentFilters.length > 0 ? _.reduce(this.currentFilters, (carry, filter) => {
          if (filter.value === "" || filter.value === null) {
            return carry;
          }

          if (!_.has(carry, filter.name)) {
            carry[filter.name] = filter.value;
          } else {
            if(!_.isArray(carry[filter.name])) {
              let currentValue = carry[filter.name];
              carry[filter.name] = [currentValue];
            }
            carry[filter.name].push(filter.value);
          }
          return carry;
        }, {}) : null;
      },
      filtersApplied: function () {
        let filterModeApplied = false;
        if((this.stateFilterMode === null && (this.filters === null || Object.keys(this.filters).length < 2))
          || (this.filterModeOr && this.stateFilterMode === 'or')
          || (!this.filterModeOr && this.stateFilterMode === 'and')
        ) {
          filterModeApplied = true;
        }

        return this.stateFilters === this.filters && filterModeApplied;
      },
      currentFiltersWithoutFirst: function () {
        return this.currentFilters.slice(1);
      }
    },
    methods: {
      ...mapMutations('lists', {
        'setListFilters': 'filters',
        'setListFilterMode': 'filterMode'
      }),
      filterComponent: function (filter) {
        switch(filter.type) {
          case 'text':
            return TextFilter;
          case 'toggle':
            return ToggleFilter;
          case 'select':
            return SelectFilter;
          default:
            console.error('Filter type '+filter.type+' is not implemented');
            return null;
        }
      },
      addFilter: function (filter) {
        const filterToAdd = unobserve(filter);
        if(filterToAdd.value === undefined) {
          switch(filterToAdd.type) {
            case 'text':
              filterToAdd.value = '';
              break;
            case 'toggle':
              filterToAdd.value = false;
              break;
            case 'select':
              filterToAdd.value = null;
              break;
            default:
              console.error('Filter type '+filterToAdd.type+' is not implemented');
              return null;
          }
        }
        this.currentFilters.push(filterToAdd);
        this.showAddFilter = false;
      },
      removeFilter: function (filterIndex) {
        this.currentFilters.splice(filterIndex, 1);
      },
      updateCurrentFilter: function (payload) {
        this.$set(this.currentFilters[payload.index], 'value', payload.value);
      },
      applyFilters: function () {
        this.setListFilters(this.filters);
        this.setListFilterMode(this.filterModeOr ? 'or' : 'and');
      },
      filterCanBeAdded: function (filter) {
        if(this.filterModeOr || filter.strategy !== 'exact') {
          return true;
        } else {
          return !_.some(this.currentFilters, current => current.name === filter.name);
        }
      },
      toggleFilterMode: function () {
        this.filterModeOr = !this.filterModeOr;
      },
      filterStrategySign: function (filter) {
        if(filter.type === 'toggle') {
          return '';
        }

        switch(filter.strategy) {
          case 'exact':
            return '=';
          case 'partial':
            return '';
          case 'different':
            return '≠';
          default:
            return '';
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  @import 'sv/scss/modules/_mixins.scss';
  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';

  .list-filters{
    //display: flex;
    //flex-wrap: wrap;
    //justify-content:space-between;
    padding: 40px 20px;
    border-bottom:$white-border;
    // dropdown styling for filters and order-by
    .dropdown-wrapper{
      span{
        color: $alphaText;
        font-size: 12px;
        display: block;
        text-transform: uppercase;
        margin-right: 15px;
        i{
          width: 13px;
          height: 13px;
          margin-left: 5px;
          display: inline-block;
          vertical-align: top;
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }
      .dropdown-content{
        text-align: left;
        &.open {
          display: block;
        }
      }
    }
    // styling for filters
    .filters{
      display: flex;
      //flex-wrap: wrap;
      align-items: top;
      justify-content:space-between;
      .filter-title{
        font-weight: 200;
        font-size: 12px;
        margin: 10px 15px 0 0;
      }
      .filter-dropdown{
        margin-left: 10px;
        flex: 1 0 auto;
        padding: 10px 0;
        i{
          position: relative;
          top: 1px;
          background-image: url('img/icons/icon-add-filter.svg');
        }
        .dropdown-content {
          cursor: pointer;
          max-width: 200px;
          a.disabled {
            cursor: not-allowed;
            color: $textOne;
          }
        }
        &:hover {
          .filter-button {
            opacity: 0.6;
          }
        }
      }
      .current-filters{
        flex-grow: 1;
        display: flex;
        align-items: center;
        .filter-bloc {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding:0;
          margin:0;
          list-style-type: none;
          .filter{
            font-size: 12px;
            display: flex;
            margin:2px;
            padding: 7px 30px 7px 10px;
            background-color: $bgOne;
            border-radius: 2px;
            position: relative;
            //&:hover{
            //  background-color: darken($alphaBg,10%);
            //}
            a.close{
              width: 14px;
              height: 14px;
              display: inline-block;
              background-image: url('img/icons/icon-close-white.svg');
              background-size: 100%;
              background-repeat: no-repeat;
              position: absolute;
              top:calc(50% - 7px);
              right: 6px;
              cursor: pointer;
            }
            .current-filter-label {
              font-weight: bold;
              margin-right: 10px;
              padding-top: 3px;
            }
            .current-filter-input {
              border: none;
              background-color: transparent;
              text-align: right;
              font-weight: lighter;
              color: $textThree;
            }
          }
        }
      }
      .apply-filters {
        margin-left: 10px;
        button {
          padding: 7px 10px 7px 10px;
        }
      }
    }
    // styling for order-by
    .order-by{
      display: flex;
      align-items: center;
      .dropdown-wrapper{
        text-align:right;
        width: 225px;
        span i{
          background-image: url('img/icons/icon-order-by.svg');
        }
      }
      .export{
        background-image: url('img/icons/icon-export.svg');
        background-size:  8px 12px;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 2px;
        background-color: $betaOne;
        padding:14px 14px;
        border:0;
        cursor:pointer;
        &:hover{
          background-color: darken($betaOne,10%);
        }
      }
    }
    .toggle-two-values {
      color: $text;
      font-size: 12px;
      cursor: pointer;
      position: relative;
      margin: 0 16px;
      span.toggle-switch{
        width: 50px;
        height: 20px;
        display: inline-block;
        background-color: $bgOne;
        border-radius: 30px;
        position: absolute;
        top: 0;
        left: 0;
        &:after{
          content:"";
          width: 24px;
          height: 18px;
          display: block;
          border-radius: 30px;
          background-color: $alpha;
          position: absolute;
          left:1px;
          top:1px;
          text-align: center;
          padding-top: 2px;
          font-size: 10px;
          @include transition(all 0.5s ease-out);
        }
      }
      &.on span.toggle-switch:after {
        @include translate(24px,0);
      }
      span.toggle-left {
        position: relative;
        z-index: 3;
        color: white;
        line-height: 20px;
        padding: 0 3px 0 6px;
        @include transition(color 1s ease-out);
      }
      &.on span.toggle-left {
        color: $textOne;
      }
      span.toggle-right {
        position: relative;
        z-index: 3;
        line-height: 20px;
        padding: 0 6px;
        color: $textOne;
        @include transition(color 1s ease-out);
      }
      &.on span.toggle-right {
        color: white;
      }
    }
  }

</style>
