<template>
  <div class="list-view">
    <list-header></list-header>
    <list-filters></list-filters>
    <list-table></list-table>
    <list-pagination :enabled="!isPositionable"></list-pagination>
  </div>
</template>

<script>
  import {mapActions, mapGetters, mapState} from 'vuex';
  import ListHeader from "./ListHeader";
  import ListFilters from "./ListFilters";
  import ListTable from "./ListTable";
  import ListPagination from "./ListPagination";
  import {formatVuePathForApi, getMatchedPath} from "../../routing";
  import featureHelper from "sv/js/components/mixins/featureHelper";
  import actionHelper from "sv/js/components/mixins/actionHelper";

  export default {
    name: "List",
    components: {ListPagination, ListTable, ListFilters, ListHeader},
    mixins: [featureHelper, actionHelper],
    data: function () {
      return {
        configuration: null,
        listContentLoading: []
      };
    },
    created: function () {
      if (!this.listsLoaded) { //If the lists haven't been loaded, fetch them
        this.fetchLists();
      }
      if (!this.languagesLoaded) {
        this.fetchLanguages();
      }
    },
    computed: {
      ...mapState('lists', [
        'listsLoaded', //The lists are loaded
        'currentListLoading',
        'currentPage',
        'filters',
        'filterMode',
        'orderBy'
      ]),
      ...mapGetters('lists', [
        'getListConfigurationForPath',
        'isListContentLoadedByActionName'
      ]),
      ...mapGetters('languages', [
        'getMainLocale',
        'languagesLoaded'
      ]),
      isLoading: function () {
        return this.listContentLoading.includes(this.configurationName);
      },
      genericRoute: function () {
        return formatVuePathForApi(getMatchedPath(this.$route));
      },
      configurationName: function () {
        return !_.isNil(this.configuration) && !_.isNil(this.configuration.name) ? this.configuration.name : null;
      },
      listsLoadedOrGenericRoute: function () {
        return this.listsLoaded && this.genericRoute !== null ? {
          listsLoaded: this.listsLoaded,
          genericRoute: this.genericRoute
        } : null;
      },
      order: function () {
        if (this.isPositionable) {
          return {
            name: 'position'
          };
        } else if (this.orderBy !== null) {
          return this.orderBy;
        } else if(this.configuration.defaultOrder !== undefined) {
          let defaultOrder = this.configuration.defaultOrder;
          if (_.has(this.configuration, 'order') && _.has(this.configuration.order, defaultOrder)) {
            return {
              name: defaultOrder,
              direction: this.configuration.order[defaultOrder]
            };
          }
        } else {
          return null;
        }
      }
    },
    methods: {
      updateConfiguration: function () {
        this.configuration = this.getListConfigurationForPath(this.genericRoute);
      },
      update: function (after, before) {
        if (this.configurationName !== null && !this.isLoading && (before === null || !_.isEqual(after, before)) && this.getMainLocale) {
          let loader = true;
          this.listContentLoading.push(this.configurationName);
          if (this.isListContentLoadedByActionName(this.configurationName)) {
            this.switchCurrentList(this.configurationName);
            loader = false;
          }
          this.resetFilters();
          this.loadListContent({
            actionName: this.configurationName,
            apiReference: this.apiReference,
            locale: this.getMainLocale ?? 'fr',
            parent: this.parent,
            parameters: this.actionParameters,
            style: this.configuration.style,
            order: this.order,
            paginated: !this.isPositionable,
            page: 1,
            loader
          }).then(() => {
            this.listContentLoading.splice(this.listContentLoading.indexOf(), 1);
          });  //always load or reload the list when navigating to a new list
        }
      },
      loadNewPage: function () {
        if(!_.isNil(this.configuration) && !_.isNil(this.configurationName) && this.getMainLocale) {
          this.loadListContent({
            actionName: this.configurationName,
            apiReference: this.apiReference,
            locale: this.getMainLocale ?? 'fr',
            parameters: this.actionParameters,
            page: this.currentPage,
            style: this.configuration.style,
            order: this.order,
            loader: true
          });
        }
      },
      reloadList: function () {
        if(this.configuration !== null && this.configurationName !== undefined && this.getMainLocale) {
          this.loadListContent({
            actionName: this.configurationName,
            apiReference: this.apiReference,
            locale: this.getMainLocale ?? 'fr',
            parameters: this.actionParameters,
            page: 1,
            style: this.configuration.style,
            order: this.order,
            loader: true
          });
        }
      },
      ...mapActions('lists', [
        'fetchLists',
        'loadListContent',
        'switchCurrentList',
        'resetFilters'
      ]),
      ...mapActions('languages', {
        'fetchLanguages': 'fetch'
      })
    },
    watch: {
      listsLoadedOrGenericRoute: { //only update configuration once, even if both have changed
        handler: 'updateConfiguration',
        immediate: true,
        deep: true
      },
      configurationName: {
        handler: 'update',
        immediate: true,
      },
      actionParameters: {
        handler: 'update',
        immediate: true,
        deep: true
      },
      getMainLocale: {
        handler: 'update',
        immediate: true,
      },
      filters: {
        handler: 'reloadList',
        deep: true
      },
      filterMode: {
        handler: 'reloadList',
        deep: true
      },
      orderBy: {
        handler: 'reloadList',
        deep: true
      },
      currentPage: {
        handler: 'loadNewPage'
      },
    },
  }
</script>

<style lang="scss">
</style>
