<template>
  <div class="list-container">
    <div v-if="rows.length" class="list-table">
      <list-table-header :ready="rows.length"></list-table-header>

      <draggable v-if="isPositionable" handle=".move-table-row" v-model="rows" tag="tbody" forceFallback="true">
        <list-table-row :key="row.slug" :row="row" v-for="row in rows"></list-table-row>
      </draggable>
      <tbody v-else>
        <list-table-row :key="row.slug" :row="row" v-for="row in rows"></list-table-row>
      </tbody>
    </div>
    <div v-else-if="!isLoading" class="list-empty">
      <span v-if="isFiltered">Aucun élément ne satisfait les filtres demandés</span>
      <span v-else>Il n'y a aucun élément dans cette liste</span>
    </div>
  </div>
</template>

<script>
  import ListTableRow from "./ListTableRow";
  import ListTableHeader from "./ListTableHeader";
  import Draggable from "vuedraggable";
  import {mapActions, mapState} from "vuex";
  import listHelper from "sv/js/components/mixins/listHelper";
  import errorLog from "sv/js/components/mixins/errorLog";

  export default {
    name: "ListTable",
    props: ['listName'],
    components: {ListTableHeader, ListTableRow, Draggable},
    mixins: [listHelper, errorLog],
    data: function () {
      return {
        'updatedOrder': null
      };
    },
    computed: {
      ...mapState('lists', [
        'isLoading'
      ]),
      rows: {
        get: function () {
          if(this.list === null || !this.list.loaded) {
            return [];
          } else {
            if(this.updatedOrder !== null) {
              return this.updatedOrder;
            } else {
              return this.list.content;
            }
          }
        },
        set: function (value) {
          this.updatedOrder = value;
          let orderedIds = value.map((row) => row.id);
          const payload = {
            apiReference: this.getApiReferenceFromConfig('order'),
            ids: orderedIds
          }
          this.repositionList(payload).catch((error) => {
            this.logError("Error ordering list, see console for details.");
            this.updatedOrder = null;
            console.error(error);
          });
        }
      }
    },
    methods: {
      ...mapActions('lists', [
        'repositionList'
      ])
    }
  }
</script>

<style lang="scss" scoped>
  .list-empty {
    margin-top: 10%;
    text-align: center;
  }
</style>
