<template>
  <div class="title-container">
    <div>
      <breadcrumbs :back="parent !== null || this.backRoute !== null" :route="backRoute"/>
      <main-title :title="title"></main-title>
      <span v-if="count > 0" class="count">{{count}} élément{{count > 1 ? 's': ''}} {{isFiltered ? '(filtré)' : ''}}</span>
    </div>
    <div class="btn-container">
      <router-link v-for="action in generalActions" :key="action.name" :to="buildActionRoute(action, $route.params)" class="btn alpha btn-big">{{action.label}}</router-link>
    </div>
  </div>
</template>

<script>
  import Breadcrumbs from "../common/Breadcrumbs";
  import MainTitle from "../common/MainTitle";
  import actionHelper from "../mixins/actionHelper";
  import listHelper from "sv/js/components/mixins/listHelper";

  export default {
    name: "ListHeader",
    components: {MainTitle, Breadcrumbs},
    mixins: [actionHelper, listHelper],
    computed: {
      title: function () {
        return this.list ? this.list.title : '';
      },
      generalActions: function () {
        return this.list ? this.list.generalActions : [];
      }
    },
  }
</script>

<style scoped lang="scss">
  .title-container {
    .page-title{
      text-transform: uppercase;
    }
    .btn-container{
      a{
        text-transform: initial;
        margin-top: 5px;
      }
    }
  }
  .count {
    position: relative;
    font-size: 12px;
    top: -30px;
    left: 2px;
  }
  /*title container is the same for lists and edit*/
</style>
