<template>
  <div v-on-clickaway="close" class="dropdown-content" id="other-actions-content" :class="{show: show, 'to-the-right': position === 'right', 'to-the-left': position === 'left'}">
    <ul v-for="action in actions" :class="{'only-child': actions.length === 1}">
      <li v-if="isVisible(action)">
        <a v-if="action.type === 'delete'" @click="deleteRow" class="client-method delete">{{action.label}}</a>
        <a v-else-if="action.type === 'custom' && isVisible(action)" @click="customActionRow(action)" class="client-method">
          {{action.label}}
          <span v-if="customActionDone" class="icon-success"><i class="fa fa-check"></i></span>
          <span v-else-if="customActionError" class="icon-error"><i class="fa fa-times"></i></span>
          <loader v-else-if="isLoading" size="small"></loader>
        </a>
        <router-link v-else :to="buildActionRouteForRow(action, row)">
          {{action.label}} <span v-if="action.count && row[action.count] !== undefined">({{row[action.count]}})</span>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import dropdownElement from "../mixins/dropdownElement";
import actionHelper from "../mixins/actionHelper";
import _ from "lodash";
import confirmation from "sv/js/components/mixins/confirmation";
import listHelper from "../mixins/listHelper";
import {mapGetters} from "vuex";
import api from "sv/js/api";
import Loader from "sv/js/components/common/Loader";
import errorLog from "sv/js/components/mixins/errorLog";

export default {
  name: "ListTableRowActions",
  props: ['actions', 'row', 'position'],
  mixins: [dropdownElement, actionHelper, listHelper, confirmation, errorLog],
  components: {Loader},
  data: function () {
    return {
      isLoading: false,
      customActionDone: false,
      customActionError: false
    };
  },
  computed: {
    slug: function () {
      return this.row.slug;
    },
  },
  methods: {
    ...mapGetters('general', [
      'getAction'
    ]),
    buildActionRouteForRow: function (action, row) {
      if (action !== undefined) {
        return this.buildActionRoute(action, row);
      } else {
        console.error('Could not find action for row', row, action);
      }
    },
    deleteRow: function () {
      this.confirm("Confirmer la suppression", "Êtes-vous certains de vouloir supprimer <u>définitivement</u> cette ressource&nbsp;?", () => {
        this.$emit('delete');
        this.close();
      });
    },
    customActionRow: function (action) {
      if (!this.isLoading) {
        const customAction = this.getAction()(action.name);
        const params = this.buildPathParametersFromData(action.pathParameters, this.row);
        const method = Object.keys(customAction.apis)[0];
        const apiReference = Object.values(customAction.apis)[0].reference.replace('.', '_');
        let query = {'locale': this.currentLocale};
        if (params) {
          _.each(params, (parameterValue, parameterName) => {
            query[parameterName] = parameterValue;
          });
        }
        this.customActionError = false;
        this.isLoading = true;
        api.squareview(
          method,
          apiReference,
          query
        ).then((response) => {
          this.customActionDone = true;
          setTimeout(() => {
            this.customActionDone = false;
          }, 2000);
        }).catch((error) => {
          this.customActionError = true;
          setTimeout(() => {
            this.customActionError = false;
          }, 2000);
          this.logError("Error during action attempt, see console for details");
          console.error(error);
        }).finally(() => this.isLoading = false);
      }
    },
    isVisible: function (action) {
      const showConditions = action.options?.showConditions
      if (_.isNil(showConditions)) {
        return true
      }
      let formatter = new Function('row', 'return '+showConditions);
      try {
        return formatter(this.row);
      } catch (error) {
        console.error(error);
        return true;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'sv/scss/modules/_colors.scss';
.dropdown-content {
  display: none;
  margin-top: -3px;
  padding:3px 0;
  &.to-the-right {
    right:20px;
    left: auto;
  }
  &.to-the-left {
    right: auto;
    left: 40px;
  }
  ul{
    padding:1px 5px;
  }
  &.show {
    display: block;
  }
  a.client-method:hover {
    cursor: pointer;
  }
}
.icon-success {
  color: $alpha;
  margin-left: 5px;
}
.icon-error {
  color: $alert;
  margin-left: 5px;
}
</style>
