<template>
  <div class="list-table-row list-header">
    <div class="list-table-cell">
      <!-- empty div on purpose for move action, even if not positionable -->
    </div>
    <div class="list-table-cell" v-if="configuration.optionsPosition === 'left'">
      <!-- empty div on purpose for actions dropdown -->
    </div>

    <div :key="index" class="list-table-cell" v-for="(column, index) in columns">
      <button v-if="column.mergedColumnAsLabel">
        <span class="list-table-cell_title">{{column.mergedColumnAsLabel.label}}</span>
      </button>
      <button @click="changeOrderBy(column)" :class="orderByClasses(column)">
        <span class="list-table-cell_title">
          {{column.label}} <i></i>
          <span v-if="column.description" :data-tippy-content="column.description"><i class="fa fa-info-circle"></i></span>
        </span>
      </button>
    </div>

    <div v-if="ready && isPublishable" class="list-table-cell status">
      <span class="list-table-cell_title">Statut</span>
    </div>

    <div class="list-table-cell" v-if="configuration.optionsPosition === 'right'">
      <!-- empty div on purpose for actions dropdown -->
    </div>
  </div>
</template>

<script>
  import listHelper from "sv/js/components/mixins/listHelper";
  import tippy from "tippy.js";
  import {mapActions, mapMutations, mapState} from "vuex";

  export default {
    name: "ListTableHeader",
    props: ['ready'],
    mixins: [listHelper],
    computed: {
      ...mapState('lists', [
        'orderBy'
      ]),
      columns: function () {
        return this.list ? this.list.columns : [];
      }
    },
    mounted() {
      tippy('[data-tippy-content]');
    },
    methods: {
      ...mapActions('lists', [
        'resetOrderBy'
      ]),
      ...mapMutations('lists', {
        'setOrderBy': 'orderBy'
      }),
      orderByClasses(column) {
        let classes = [];
        if(column.orderable) {
          classes.push("can-order-by");
          if(this.orderBy) {
            if (this.orderBy.name === column.name) {
              classes.push("order-by-active");
              classes.push(this.orderBy.direction);
            } else {
              classes.push('asc');
            }
          }
        }
        return classes.join(" ");
      },
      changeOrderBy(column) {
        if(column.orderable) {
          if(this.orderBy && this.orderBy.name === column.name) { //already same orderBy: only change direction
            this.setOrderBy({
              name: column.name,
              direction: this.orderBy.direction === 'asc' ? 'desc' : 'asc'
            });
          } else {
            this.setOrderBy({
              name: column.name,
              direction: 'asc'
            });
          }
        }
      }
    }
  }
</script>

<style scoped lang="scss">

  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .list-header{
    .list-table-cell{
      padding:17px 0;
    }
    button{
      margin: 0;
      padding: 0;
      background-color: transparent;
      border:0;
      //cursor: pointer;
      &.order-by-active, &.can-order-by {
        cursor: pointer;
        span{
          padding: 0px 10px 0px 10px;
        }
        i{
          position: relative;
          display: inline-block;
          width: 14px;
          height: 14px;
          top: -1px;
          margin-left: 2px;
          margin-right: 2px;
          border-radius: 50%;
          background-image: url('img/icons/icon-arrow-down.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 5px 6px;
          vertical-align: middle;
        }
        &.asc i{
          @include rotate(180);
        }
      }
      &.order-by-active {
        i{
          background-color: $alphaText;
        }
      }
      &.can-order-by i {
        opacity: 0;
      }
      &.can-order-by:hover {
        i{
          opacity: 1;
          background-color: $alphaBg;
        }
        &:not(.order-by-active) {
          i {
            @include rotate(180);
          }
        }
      }
    }
    span.list-table-cell_title{
      color: $alphaText;
      font-size: 12px;
      font-family: $font1;
      text-transform: uppercase;
      text-align: left;
      display: inline-block;
      padding: 2.25px 20px 2.25px 10px;
      border-left:1px solid $bgTwo;
    }
  }

</style>
