{% extends "@SGCms/backend/base.html.twig" %}

{% block body %}
    <div id="backend"></div>
{% endblock body %}

{% block javascripts %}
    <script type="application/javascript">
        const USER = {
            'username': '{{ app.user.username }}',
            'email': '{{ app.user.email }}',
            'roles': '{{ app.user.roles | join(';') }}'
        };
    </script>
    {{ parent() }}
{% endblock %}
