{% extends "@SGCms/backend/base.html.twig" %}

{% block body %}
    <div class="security-container">
        <div class="form-container">
            <p class="hello">Hello !</p>
            <h1>Connectez-vous à votre espace de gestion <span>Squareview</span></h1>

            <form  method="post" novalidate>
                <div class="input-group{% if error %} alert{% endif %}">
                    <input type="text" class="empty" id="username" name="username" value="{{ last_username }}" required="required">
                    <label for="username">Login</label>
                    {% if error %}
                        <span class="callout alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </span>
                    {% endif %}
                </div>
                <div class="input-group">
                    <input type="password" class="empty" id="password" name="password" value="" required="required">
                    <label for="password">Mot de passe</label>
                </div>

                <button type="submit" class="btn disabled-login"  id="_submit" name="_submit"><i></i>Connexion</button>
                <div class="validate-container">

                    <div class="small checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                        <label for="remember_me">Se souvenir de moi</label>
                    </div>
                    <a href="{{ path("app_resetting_request") }}" class="lost-password">Mot de passe oublié ?</a>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}" >
            </form>
        </div>
        <div class="squareview-by-sg">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
