{% if languages|length > 0 %}
<ul>
    {% for language in languages %}
    <li><a href="{{ path('switch_language', {'target': language.id}) }}" rel="nofollow">{{ language.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
