<script>
var translations = {
    "{{ app.request.locale }}": {
        {% for name,catalog in catalogs %}
        "{{ name }}+intl-icu": {
            {% for key, message in catalog %}
            {{ key|json_encode|raw }}: {{ message|json_encode|raw }},
            {% endfor %}
        },
        {% endfor %}
    }
};
</script>
