<script>
(function (t) {
t.fallback = 'fr';
t.defaultDomain = 'messages';
    {% for name,catalog in catalogs %}
        {% for key, message in catalog %}
            t.add({{ key|json_encode|raw }}, {{ message|e('html')|json_encode|raw }}, "{{ name }}+intl-icu", "{{ app.request.locale }}");
        {% endfor %}
    {% endfor %}
})(Translator);
</script>
