<template>
  <div class="show-field">
    <component v-if="showFieldComponent(field.type)"
      :is="showFieldComponent(field.type)"
      :field="field"
      :label="field.label"
      showLabel="true"
      :description="field.description"
      :zone-type="zone.type"
      :value="value"
      :options="field.options"
      :api="field.api"
      :parameters="field.parameters"
      :locale="currentLocale"
    ></component>
    <div class="not-found" v-else>
      Can't display field: type "{{field.type}}" not found
    </div>
  </div>
</template>

<script>
  import {mapActions, mapState} from "vuex";
  import showHelper from "sv/js/components/mixins/showHelper";
  import showFieldFinder from "../mixins/showFieldFinder";

  export default {
    name: "ShowField",
    props: ['field', 'zone', 'value', 'context'],
    mixins: [showHelper, showFieldFinder],
    computed: {
      ...mapState('languages', [
        'currentLocale'
      ])
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_colors.scss';

  .not-found {
    color: rgba(207, 80, 86, 0.51);
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .show-field {
    margin-bottom: 5px;
    /deep/ .show-container {
      display: flex;
    }
    /deep/ .show-label {
      color: $textOne;
    }
    /deep/ .show-value {
      flex-grow: 1;
      text-align: right;
    }
  }
</style>
