<template>
  <div class="show-view">
    <show-header/>
    <div class="show">
      <show-content/>
    </div>
  </div>
</template>

<script>
  import ShowHeader from "./ShowHeader";
  import ShowContent from "./ShowContent";
  import {mapActions, mapGetters, mapMutations, mapState} from "vuex";
  import {formatVuePathForApi, getMatchedPath} from "sv/js/routing";
  import featureHelper from "sv/js/components/mixins/featureHelper";
  import actionHelper from "../mixins/actionHelper";

  export default {
    name: "Show",
    components: {ShowContent, ShowHeader},
    mixins: [featureHelper, actionHelper],
    data: function () {
      return {
        configuration: null,
        loadingZone: []
      };
    },
    created: function () {
      if (!this.languagesLoaded) {
        this.fetchLanguages();
      }
      if (!this.showsLoaded) { //If the shows haven't been loaded, fetch them
        this.fetchShows();
      }
    },
    computed: {
      genericRoute: function () {
        return formatVuePathForApi(getMatchedPath(this.$route));
      },
      content: function () {
        if (!this.configuration) {
          return null;
        } else {
          return this.isShowContentLoadedByActionName(this.configuration.name) ? this.currentShow.content : null;
        }
      },
      configurationName: function () {
        return !_.isNil(this.configuration) && this.configuration.name !== undefined ? this.configuration.name : null;
      },
      contentId: function () {
        return this.content ? this.content.id : null;
      },
      contentIdOrLocale: function () { //used to detect change
        return this.currentLocale !== null ? {
          contentId: this.contentId,
          currentLocale: this.currentLocale
        } : null;
      },
      showsLoadedOrGenericRoute: function () {
        return this.showsLoaded && this.genericRoute !== null ? {
          showsLoaded: this.showsLoaded,
          genericRoute: this.genericRoute
        } : null;
      },
      ...mapState('shows', [
        'showsLoaded', //The shows are loaded
        'currentShow'
      ]),
      ...mapState('languages', [
        'currentLocale',
      ]),
      ...mapGetters('shows', [
        'getShowConfigurationForPath',
        'isShowContentLoadedByActionName'
      ]),
      ...mapGetters('languages', [
        'languagesLoaded',
        'getMainLocale'
      ])
    },
    methods: {
      updateConfiguration: function () {
        if(this.showsLoadedOrGenericRoute !== null) {
          this.configuration = this.getShowConfigurationForPath(this.genericRoute);
        }
      },
      load: function () {
        if (this.isShowContentLoadedByActionName(this.configurationName)) { //If already loaded before, switch
          this.switchCurrentShow(this.currentShow);
        } else { //else, start loading properties
          this.loadZone('properties');
        }
      },
      loadZone: function (api) {
        if(!this.loadingZone.includes(api)) { //check not already loading
          if (this.currentLocale && this.configuration) { //Case Show
            this.loadingZone.push(api);
            let query = {'locale': this.currentLocale};
            if (this.contentId) {
              query['resourceIdentifier'] = this.contentId;
            }
            if (this.actionParameters) {
              _.each(this.actionParameters, (parameterValue, parameterName) => {
                query[parameterName] = parameterValue;
              });
            }
            let apiReference = null;
            if (api === 'properties') {
              apiReference = this.getApiReferenceFromConfig('show');
            }
            this.loadShowContent({
              actionName: this.configurationName,
              apiReference: apiReference,
              apiName: api,
              query
            }).then(() => {
              this.loadingZone.splice(this.loadingZone.indexOf(api), 1);
            });
          }
        }
      },
      ...mapActions('shows', {
        'fetchShows' : 'fetch',
        'loadShowContent' : 'loadShowContent',
        'switchCurrentShow' : 'switchCurrentShow',
      }),
      ...mapActions('languages', {
        'fetchLanguages': 'fetch',
        'switchLocale': 'switchLocale'
      }),
      ...mapGetters('general', [
        'getGuide'
      ]),
    },
    watch: {
      //TODO: IN ALL THESES CASES (?) EMPTY UPDATE QUEUE !
      //If the shows are loaded (first time) or the route base (generic route, without params) has changed
      showsLoadedOrGenericRoute: { //only update configuration once, even if both have changed.
        handler: 'updateConfiguration',//Update the show configuration
        immediate: true,
        deep: true
      },
      //If the type of show has changed (after loading show configuration) or switched to "new"
      configurationName: { //only load once, even if both have changed
        handler: 'load',//Load the content of the show
        immediate: true,
        deep: true
      },
      //If the properties of the show have changed (slug has changed for example)
      actionParameters: {
        handler: function () { //once properties have loaded, contentId will change, loading routes (see below)
          this.loadZone('properties'); //load zone directly, as we are on the same show type
        },
        immediate: true,
        deep: true
      },
      //If changed locale or contentId was defined or changed (after loading zone properties)
      contentIdOrLocale: {
        handler: function (now, before) { //should not be called if action parameters was changed too
          if (now !== null) {
            if ((before === null && now.currentLocale !== undefined) //currentLocale has now been defined
              || (before !== null && now.currentLocale !== before.currentLocale) //currentLocale has changed
            ) {
              this.loadZone('properties');
            }
          }
        },
        deep: true
      },
    },
    beforeDestroy: function () {
      this.switchLocale(this.getMainLocale);
    }
  }
</script>

<style scoped>

</style>
