<template>
  <div class="input-group element-container">
    <div class="flex-group">
      <div class="module-content input-group">
        <show-field v-for="field in zone.fields" :field="field" :key="field.identifier" :zone="zone" :value="data[field.identifier]" context="collection"></show-field>
      </div>
    </div>
  </div>
</template>

<script>
  import _ from "lodash";
  import ShowField from "./ShowField";
  import {mapActions} from "vuex";

  export default {
    name: "ShowCollectionElement",
    components: {ShowField},
    props: ['data', 'zone', 'index']
  }
</script>

<style scoped lang="scss">

  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .input-group.element-container {
    padding-top: 3px;
  }

  // label
  /deep/ .label{
    color: $alpha;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    top: auto;
    left: auto;
  }
  /deep/ input:not(.vs__search),
  /deep/ textarea:not(.vs__search){
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    padding: 14px 16px;
    margin:0;
    border:0;
    background-color: white;
  }
  /deep/ textarea:not(.vs__search){
    min-height:92px;
  }
  /deep/ .module-content{
    flex-grow: 3;
  }
  .flex-group{
    margin: 0 0 0;
    display: flex;
    .input-group{
      padding-top: 0;
      width: 100%;
    }
    input:not(.vs__search){
      margin: 0 0 3px;
    }

  }

  /deep/ .no-margin-on-last-input input,
  /deep/ .no-margin-on-last-textarea textarea{
    margin-bottom: 0;
  }
</style>
