<template>
  <div class="title-container">
    <div class="form-title">
      <breadcrumbs back :route="backRoute"/>
      <main-title
        :title="title"
        :loading="isLoading"
        :showable="false"
        :property="titleProperty"
      ></main-title>
    </div>
    <show-languages v-if="!languagesLoaded || isMultilingual"/>
  </div>
</template>

<script>
  import Breadcrumbs from "../common/Breadcrumbs";
  import MainTitle from "../common/MainTitle";
  import ShowLanguages from "./ShowLanguages";
  import {mapActions, mapState, mapGetters} from "vuex";
  import showHelper from "sv/js/components/mixins/showHelper";
  import actionHelper from "sv/js/components/mixins/actionHelper";

  export default {
    name: "ShowHeader",
    components: {ShowLanguages, Breadcrumbs, MainTitle},
    mixins: [showHelper, actionHelper],
    computed: {
      ...mapState('languages', [
        'currentLocale'
      ]),
      ...mapGetters('languages', [
        'languagesLoaded'
      ]),
      title: function () {
        return !this.isLoading
          && this.content[this.titleProperty] !== undefined
            ? this.content[this.titleProperty]
            : null;
      },
      titleProperty: function () {
        return this.configuration.mainTitleProperty || 'name';
      },
      isLoading: function () {
        return this.content === null || this.currentShowLoading;
      }
    }
  }
</script>

<style scoped lang="scss">
</style>
