<template>
    <div class="show-zone-content">
      <div class="show-zone-label">
        {{zone.label}}
      </div>
      <div v-if="!isLoading" class="show-zone">
        <template v-if="zone.type === 'properties'">
          <show-field v-for="field in fields" :field="field" :key="field.identifier + '_' + currentLocale" :zone="zone" :value="getFieldValue(field.identifier)" context="properties"></show-field>
        </template>
        <template v-else-if="zone.type === 'collection'">
          <show-collection :zone="zone" :data="data"></show-collection>
        </template>
        <template v-else-if="zone.type === 'custom'">
          <component :is="customShowZone"></component>
        </template>
      </div>
      <div v-else>
        <div v-for="i in 3" :key="'skeleton_zone_'+i" class="zone-skeleton">
          <skeleton></skeleton>
        </div>
      </div>
    </div>
</template>

<script>
  import ShowField from "./ShowField";
  import {mapActions, mapState} from "vuex";
  import Skeleton from "../common/Skeleton";
  import ShowCollection from "./ShowCollection";
  import showHelper from "sv/js/components/mixins/showHelper";
  import {snakeToPascal} from "../../util/textTransformer";

  export default {
    name: "ShowZone",
    components: {ShowCollection, ShowField, Skeleton},
    mixins: [showHelper],
    props: ['zone', 'data'],
    computed: {
      ...mapState('languages', [
        'currentLocale'
      ]),
      ...mapState('shows', [
        'isLoading'
      ]),
      fields: function() {
        return this.zone.type === 'properties' && this.zone.fields ? this.zone.fields : null;
      },
      customShowZone: function () {
        let CustomZone = snakeToPascal(zone.type) + "Zone";
        if (this.$root.importedComponents.includes(CustomZone)) {
          return CustomZone;
        }
        console.error("Custom zone type "+zone.type+" was not found in custom components");
        return null;
      },
    },
    methods: {
      getFieldValue: function(fieldIdentifier) {
        if(this.data) {
          return _.get(this.data, fieldIdentifier);
        } else {
          return null;
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  // @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  // @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';

  .zone-skeleton {
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
    /deep/ .skeleton {
      height: 40px;
    }
  }

  .show-zone-content {
    flex-direction: column;
    min-width: 45%;
    padding: 20px;
    margin: 10px;
    border: 1px solid $bgTwo;
  }

  .show-zone-label {
    color: $alpha;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
</style>
