<template>
  <div class="show-zones-container">
    <show-zone v-for="zone in zones" :key="zone.name" :zone="zone" :data="getZoneData(zone)"></show-zone>
  </div>
</template>

<script>
  import ShowZone from "./ShowZone";
  import showHelper from "../mixins/showHelper";

  export default {
    name: "ShowContent",
    components: {ShowZone},
    mixins: [showHelper],
    methods: {
      getZoneData: function(zone) {
        if(!this.content) {
          return null;
        }
        switch(zone.type) {
          case 'properties':
            return this.content;
          case 'collection':
            let collectionName = zone.options.collection;
            return this.content[collectionName];
          default:
            return this.content[zone.type];
        }
      }
    }
  }
</script>

<style lang="scss">
  .show-zones-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 30px;
  }
</style>
