<template>
  <div class="languages-show-management">
    <div v-if="languagesLoaded" class="active-languages">
      <div class="language-label"><span>Langues actives :</span></div>
      <ul>
        <li v-for="(language, locale) in activeLanguages">
          <button v-if="isCurrentLocale(locale)" class="lang-button displayed" :class="getLanguageStatusClass(locale)">{{language.name || locale}}</button>
          <button v-else @click="switchLocale(locale)" class="lang-button" :class="getLanguageStatusClass(locale)">{{locale}}</button>
        </li>
      </ul>
    </div>
    <div v-else class="skeleton-languages">
      <skeleton></skeleton>
    </div>
    <a href="" class="btn notice not-implemented">Configurer les langues <i>...</i></a>
  </div>
</template>

<script>
  import {mapActions, mapGetters, mapState} from "vuex";
  import Skeleton from "../common/Skeleton";
  import contentStatus from "../mixins/contentStatus";

  export default {
    name: "ShowLanguages",
    components: {Skeleton},
    mixins: [contentStatus],
    computed: {
      ...mapState('languages', [
        'languages',
        'currentLocale'
      ]),
      ...mapGetters('languages', [
        'languagesLoaded'
      ]),
      ...mapState('shows', [
        'currentShow'
      ]),
      activeLanguages: function () {
        return this.languages; //todo, activate/deactive languages
      },
      content: function () {
        return this.currentShow && this.currentShow.content !== undefined ? this.currentShow.content : null;
      }
    },
    methods: {
      isCurrentLocale: function (locale) {
        return this.currentLocale === locale;
      },
      ...mapActions('languages', [
        'switchLocale'
      ])
    }
  }
</script>

<style scoped lang="scss">

  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .languages-show-management{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    .active-languages{
      width: 100%;
      font-weight: 200;
      font-size: 12px;
      padding-top: 10px;
      display: flex;
      // align-items:center;
      .language-label{
        margin-top: 4px;
      }
      ul{
        margin:0;
        list-style-type: none;
        display: flex;
        // align-items:center;
        li{
          button{
            color: white;
            font-size: 12px;
            text-transform: uppercase;
            padding: 7px 10px;
            margin: 0 2px;
            box-shadow: none;
            border: 0;
            background-color: $bgLang;
            border-radius: $bora;
            cursor: pointer;
            @include transition(all 0.5s ease-out);
            .language-label{
              display: flex;
              align-items:center;
            }
            &:hover{
              background-color: darken($bgLang,10%);
            }
            &.active{
              background-color: $alpha;
              &:hover{
                background-color: darken($alpha,10%);
              }
            }
            &.pending{
              background-color: $notice;
              &:hover{
                background-color: darken($notice,10%);
              }
            }
            &.displayed{
              padding: 7px 26px 20px;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              position: relative;
              @include transition(all 0.5s ease-out);
              &:before{
                content:"";
                width: 7px;
                height: 4px;
                display: block;
                background-image: url('img/icons/icon-carret-down.svg');
                background-size: 100%;
                background-repeat: no-repeat;
                position: absolute;
                left: calc(50% - 3.5px);
                bottom: 6px;
              }
            }
          }
        }
      }
    }
    .btn.notice{
      min-width: 200px;
      position: relative;
      right: -8px;
      i{
        position: absolute;
        top: calc(50% - 10px);
        right: 13px;
      }
    }
    .skeleton-languages {
      width: 40%;
      height: 40px;
      position: relative;
      bottom: 0;
      /deep/ .skeleton {
        height: 100%;
      }
    }
  }
</style>
