<template>
  <div>
    <show-collection-element v-for="(element, elementIndex) in data" :key="'element_'+element.id" :data="element" :zone="zone" :index="elementIndex"></show-collection-element>
  </div>
</template>

<script>
  import ShowCollectionElement from "./ShowCollectionElement";
  import showHelper from "../mixins/showHelper";

  export default {
    name: "ShowCollection",
    components: {ShowCollectionElement},
    props: ['zone', 'data'],
    mixins: [showHelper],
    data: function () {
      return {
        shownElements: null
      };
    },
    computed: {
      elements: function () {
        return this.shownElements ? this.shownElements : this.data;
      }
    }
  }
</script>

<style scoped lang="scss">
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_mixins.scss';
</style>
