@include device(small){
	.edit-container{
		display: flex;
		.edit-content{
			width: calc(100% - 214px);
			.input-group{
				padding-top: 10px;
				position: relative;
				label{
					color: $alpha;
					font-size: 16px;
					text-transform: uppercase;
					position: relative;
					top: auto;
					left: auto;
				}
                p.legend {
                    margin-top: 0;
                    color: $bgThree;
                    font-weight: 300;
                    font-style: italic;
                }
                input:not(.vs__search){
					font-size: 16px;
                    line-height: 1.3;
					font-weight: 200;
					padding: 14px 16px;
					border:0;
					background-color: white;
				}
				.dropdown-wrapper{
			      position: absolute;
			      outline: none;
			      right: 0;
			      top: 16px;
			    }
				.other-actions-button{
					margin-right: 0;
					position: absolute;
					top: 0;
					right: 0;
				}
				.dropdown-content{
					right:-8px;
					margin-top:47px;
				}
			}
			// in editzone.vue
			// .add-input-group{
			// 	color: $alpha;
			// 	font-size: 10px;
			// 	text-transform: uppercase;
			// 	padding: 0;
			// 	background-color: transparent;
			// 	border:0;
			// 	cursor: pointer;
			// 	i{
			// 		width: 13px;
			// 		height: 13px;
			// 		display: inline-block;
			// 		margin-right: 10px;
			// 		vertical-align: bottom;
			// 		background-image: url('#{$img}/icons/icon-add-meta.svg');
			// 		background-size: 100%;
			// 		background-repeat: no-repeat;
			// 	}
			// }
			// .flex-group{
			// 	padding-top: 10px;
			// 	margin: 10px 0 20px;
			// 	display: flex;
			// 	.move-flex-group{
			// 		width: 29px;
			// 		display: block;
			// 		padding: 0;
			// 		margin:0 3px 0 0;
			// 		background-color: white;
			// 		background-image: url('#{$img}/icons/icon-move.svg');
			// 		background-position: center;
			// 		background-repeat: no-repeat;
			// 		background-size: 17px 15px;
			// 		border:0;
			// 		cursor: move;
			// 		&:hover,
			// 		&:focus,
			// 		&:active{
			// 			background-color: darken($bg,10%);
			// 		}
			// 	}
			// 	.input-group{
			// 		padding-top: 0;
			// 		width: 100%;
			// 	}
			// 	input{
			// 		margin: 0;
			// 	}
			// }

            //in EditMedia.vue
			//.list-of-media{
			//	display: flex;
			//	.media,
			//	.add-media{
			//		width: 115px;
			//		height: 115px;
			//		background-color: $white;
			//		border:1px solid $bgOne;
			//		margin-right:10px;
			//		background-size: cover;
			//		position: relative;
			//		.upload-media{
			//			text-align: center;
			//			width: 40px;
			//			height: 40px;
			//			background-color: $white;
			//			background-image: url('#{$img}/icons/icon-add-media.svg');
			//			background-repeat: no-repeat;
			//			background-position: center;
			//			border-radius: 50%;
			//			cursor:pointer;
			//			position: absolute;
			//			top: 50%;
			//			left: 50%;
			//			@include translate(-50%,-50%);
			//		}
			//	}
			//}
		}
		.edit-sidebar{
			width: 214px;
			padding: 24px 11px;
			border-left: $white-border;
			background-color: $bgOne;
			p{
				font-size: 12px;
				font-weight: 200;
				margin-bottom: 15px;
				span{
					font-weight: 400;
				}
			}
			.publish-block{
				min-height: 325px;
				position: relative;
				.publish{
					color: $white;
					font-size: 14px;
					text-transform: uppercase;
					width: 100%;
					padding: 20px;
					border:0;
				}
				.publish-toggle{
					color: $text;
					font-size: 12px;
					border: 0.5px solid $bgThree;
					padding: 5px 10px;
					margin: 12px 0 20px;
					cursor:pointer;
					span{
						width: 25px;
						height: 15px;
						display: inline-block;
						float: right;
						background-color: $textTwo;
						border-radius: 30px;
						position: relative;
						&:after{
							content:"";
							width: 13px;
							height: 13px;
							display: block;
							border-radius: 50%;
							background-color:$bgOne;
							position: absolute;
							left:1px;
							top:1px;
							@include transition(all 0.5s ease-out);
						}
					}
					&.published span{
						background-color: $alpha;
						&:after{
							@include translate(10px,0);
						}
					}
				}
				p{
					&.changes-have-been-made{
						padding-left: 20px;
						position: relative;
						&:before{
							content:"";
							width: 12px;
							height: 12px;
							display: block;
							background-image: url('#{$img}/icons/icon-notice.svg');
							background-size: 100%;
							background-repeat: no-repeat;
							position: absolute;
							top: 3px;
							left: 0;
						}
						span{
							color: $notice;
						}
					}
				}
				.update-notification{
					color: $alpha;
					font-weight: 200;
					font-size: 16px;
					text-align: center;
					width: 100%;
					display: block;
					position: absolute;
					bottom:60px;
				}
				.delete{
					font-weight: 200;
					text-transform: Initial;
					width: 100%;
					position: absolute;
					bottom: 20px;
					i{
						width: 10px;
						height: 10px;
						display: block;
						background-image: url('#{$img}/icons/icon-bin.svg');
						background-size: 100%;
						background-repeat: no-repeat;
						position: absolute;
						top: calc(50% - 5px);
						left: 14px;
					}
				}
			}
			.publish-notification{
				text-align: center;
				p{
					color: $alpha;
					font-size: 14px;
				}
			}
			.two-buttons-block{
				p{
					font-size: 14px;
				}
				.grid{
					justify-content:space-between;
				}
				.btn{
					width: 46%;
				}
			}
			p.victory-title{
				text-transform: uppercase;
			}
			.publish-other-languages{
				p{
					font-size: 14px;
				}
				p.publish-title{
					color: $alpha;
					text-transform: uppercase;
					text-align: center;
					strong{
						display: block;
					}
				}
				p.publish-title{
					position: relative;
					strong:before{
						content:"";
						width: 30px;
						height: 27px;
						display: block;
						background-image: url('#{$img}/icons/icon-checked.svg');
						background-size: 100%;
						background-repeat: no-repeat;
						position: absolute;
						// top: calc(50% - 5px);
						left: 0;
						top: -7px;
					}
				}
				ul{
					list-style-type: none;
					margin: 0 0 20px;
					padding: 0;
					li{
						padding:10px 0;
						border-bottom: $white-border;
						label{
							font-size: 12px;
							font-weight: 200;
						}
						&:last-child{
							border:none;
						}
						.status{
							font-size: 12px;
							font-weight: 200;
							line-height: 2.3em;
							float: right;
							opacity: 0.5;
							&.status-published{
								color: $alpha;
								opacity: 1;
							}
						}
					}
					& + .btn{
						margin-bottom: 10px
					}
				}
			}
		}
	}
}
