@include device(small){
	.error-container{
		height: calc(100vh - 56px);
		background-color: $bg;
		display: flex;
		align-items:center;
		justify-content:center;
		.image-container{
			width: 30%;
			max-width: 412px;
			height: 412px;
			margin:50px;
			background-image: url('#{$img}/error.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
		}
		.text-container{
			width:70%;
			max-width: 566px;
			margin:50px;
			h1{
				font-weight: 400;
				font-size: 27px;
				text-transform: uppercase;
				margin:0;
				span{
					color: $alpha;
				}
			}
			h2{
				font-weight: 200;
				font-size: 32px;
				text-transform: uppercase;
				margin:0 0 30px;
			}
			p{
				font-size: 16px;
				font-weight: 200;
				line-height: 1.5em;
				margin-bottom: 30px
			}
			a{
				color: $alpha;
				font-size: 16px;
				text-transform: uppercase;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
