@include device(small){
	.homepage{
		min-height: 700px;
	}

    .testImg{
        width: 100px;
        height: 100px;
        //background-image: url(#{$img}/IMG_25563.jpeg);
    }
}
@include device(medium){

}
@include device(large){

}
@include device(xlarge){

}
