@include device(small){
	.security-container{
		height: calc(100vh - 56px);
		background-color: $bg;
		background-image: url('#{$img}/locked-bg.svg');
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
		position: relative;
		.form-container{
			width: 50%;
			max-width: 225px;
			margin: 100px;
			.hello{
				margin:0 0 20px;
				padding: 0;
				height: 65px;
				overflow: hidden;
				text-indent: -10000px;
				background-image: url('#{$img}/hello.svg');
				background-position: -19px top;
				background-repeat: no-repeat;
			}
			h1{
				font-size: 12px;
				font-weight: 200;
				span{
					text-indent: 1000px;
					display: inline-block;
					width: 90px;
					height: 15px;
					background-image: url('#{$img}/logo-squareview.svg');
					background-repeat: no-repeat;
					background-position: center;
					overflow: hidden;
                    margin-left: -2px;
				}
			}
			button.btn{
				font-size: 12px;
				text-transform: Initial;
				width: 100%;
				padding: 18px;
				margin: 10px 0 30px;
				&:before{
					background-color: $alpha;
					@include transition($transbg);
				}
				&:after{
					background-color: darken($alpha, 10%);
				}
				i{
					display: block;
					width: 14px;
					height: 23px;
					background-image: url('#{$img}/icons/icon-lock-closed.svg');
					background-repeat: no-repeat;
					background-position: center;
					position: absolute;
					top:calc(50% - 11.5px);
					left:calc(22% - 7px);
				}
				&.disabled-login{
					pointer-events:none;
					&:before{
						background-color: #4D4D4D;
						@include transition($transbg);
					}
					&:after{
						background-color: darken(#4D4D4D, 10%);
					}
				}
			}
			.validate-container{
				display: flex;
				flex-direction:row;
				justify-content: space-between;
				align-items:center;
				.small,
				a{
					font-size: 12px;
					font-weight: 200;
				}
				a{
					color: $alpha;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
		.squareview-by-sg{
			width: 389px;
			height: 58px;
			background-image: url('#{$img}/squareview-by-sg.svg');
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			right: 21px;
			bottom: 17px;
		}
		input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active
        {
         	-webkit-box-shadow: 0 0 0 40px #F8F7F5 inset !important;
        }
	}
}
