@include device(small){
	.sitemap{
		ul{
			list-style-type: none;
			margin-bottom: 5px;
			li{
				line-height: 1.3em;
				padding: 5px 0 5px 10px;
				a{
					color:$text;
					line-height: 1.1em;
				}
				&:before{
					top:3px;
				}
			}
		}
	}
}