<template>
  <div class="home">
    <div class="title-container">
      <div>
        <br/>
        <h1 class="page-title">Bienvenue</h1>
      </div>
    </div>
    <div class="home-content">
      <div v-if="homeImagePath" class="image" :style="{'background-image': 'url('+homeImage+')'}">
      </div>
    </div>
  </div>

</template>

<script>
  import {mapState} from "vuex";

  export default {
    name: "Home",
    computed: {
      ...mapState('general', [
        'configuration'
      ]),
      homeImagePath: function () {
        return this.configuration && _.has(this.configuration, 'homeImage') ? this.configuration.homeImage : null;
      },
      homeImage: function () {
        return this.homeImagePath ? require('~/images/'+this.homeImagePath) : null;
      }
    }
  }
</script>

<style scoped lang="scss">
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_mixins.scss';

  .home{
    display: flex;
    flex-direction: column;
    .page-title{
      font-size: 62px;
      line-height: 80px;
    }
    .image{
      width: 100%;
      max-width: 740px;
      height: 1000px;
      max-height:100%;
      margin:0 auto;
      background-position:left center;
      background-repeat:no-repeat;
      background-size: 100% auto;
    }
  }
</style>
