.fade-enter-active, .fade-leave-active {
    transition: opacity .25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.reveal-children-enter-active {
    @include transition(opacity 0.5s, transform 0.5s);
}
.reveal-children-leave-active {
    @include transition(opacity 0.25s, transform 0.25s);
}
.reveal-children-enter, .reveal-children-leave-to {
    opacity: 0;
    @include transform(translateX(-10px));
}
