
// -------------------- BASE COLORS --------------------
//
$white:#ffffff;
$black:#000000;

$text: #626262;
$textOne: #949a9e;
$textTwo: #757575;
$textThree: #4D4D4D;

// -------------------- ALPHA COLORS - green --------------------
//
$alpha:#8CBB46; // borders, some text in menu,
$alphaText:#4E784B; // darker shade for text
$alphaBg: #BAE17F; // filters bg

// -------------------- BETA COLORS - brown --------------------
//
$beta:#DDB848; // configure button color
$betaOne: #A78442; // export button

// -------------------- BORDER and BACKGROUND COLORS - grey --------------------
//
$bg: #F8F7F5;
$bgOne: #ECEAE5;
$bgTwo: #DDD8CF; //border on list header items
$bgThree: #C4C4C4;
$bgLang: rgba($text,0.5);

//-------------------- NOTICE COLORS --------------------
$success: #8CBB46;
$notice: #DDB848;
$alert: #D8654E;
