// media queries mixin
@mixin device($point) {
  @if $point == xxlarge {
    @media only screen and (min-width: 1440px) { @content; }
  }
  @else if $point == xlarge {
    @media only screen and (min-width: 1200px) { @content; }
  }
  @else if $point == breakpoint {
    @media only screen and (min-width: 1160px)  { @content; }
  }
  @else if $point == large {
    @media only screen and (min-width: 1024px)  { @content; }
  }
  @else if $point == medium {
    @media only screen and (min-width: 640px)  { @content; }
  }
  @else if $point == smallMedium {
    @media only screen and (min-width: 345px)  { @content; }
  }
  @else if $point == small {
    @media only screen and (min-width: 0)  { @content; }
  }
}