//@import "compass";

// ----------------------------------- SHADOW -----------------------------------
@mixin box-shadow($params) {
  -webkit-box-shadow : #{$params};
     -moz-box-shadow : #{$params};
          box-shadow : #{$params};
}
@mixin shadow($hlength, $vlength, $blur, $spread, $color){
  -webkit-box-shadow: $hlength $vlength $blur $spread $color;
  -moz-box-shadow: $hlength $vlength $blur $spread $color;
  box-shadow: $hlength $vlength $blur $spread $color;
}
// ----------------------------------- TEXT SHADOW -----------------------------------
$default-text-shadow-color: rgba(white, 1);
$default-text-shadow-blur: 0;
$default-text-shadow-v-offset: 2px;

// ----------------------------------- PLACEHOLDERS -----------------------------------
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  ;
}

// ----------------------------------- TRANSITION -----------------------------------
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}
// ----------------------------------- TRANSFORM -----------------------------------
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// ----------------------------------- ROTATE -----------------------------------
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// ----------------------------------- SCALE -----------------------------------
@mixin scale($scale) {
   @include transform(scale($scale));
} 
// ----------------------------------- TRANSLATE -----------------------------------
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// ----------------------------------- SKEW -----------------------------------
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
// ----------------------------------- TRANSFORM ORIGIN -----------------------------------
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}
// ----------------------------------- SPRITESHEET MIXIN -----------------------------------
@mixin stitches-sprite($x: 0, $y: 0, $width: 0, $height: 0) {
    background-position: $x $y;
    width: $width;
    height: $height;
}

@mixin greyBg {
  background-image: url('#{$img}layout/bg.png');
  background-color: $text;
  background-size: 50px;
  @include box-shadow( "inset 0 0 3px #666" );
}
@mixin greenBg {
  background-image: url('#{$img}layout/bg.png');
  background-color: $alpha;
  background-size: 50px;
  @include box-shadow( "inset 0 0 3px #666" );
}
@mixin vertical-center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}