
// -------------------- IMAGES --------------------
$img: "~../images";
$font: "~../fonts";

// -------------------- BORDERS --------------------
// border radius
$bora: 2px;
$white-border: 2px solid $white;

// borders
$bo: 1px solid rgba(147, 128, 108, 0.25);

// -------------------- OPACITY --------------------
$op:0.8;

// -------------------- TRANSITION --------------------
$transbg: background-color 0.5s ease;

