<template>
  <div class="datetime show-container">
    <span v-if="showLabel" class="show-label">{{label}}</span>
    <date-field
      :field="field"
      :value="value"
      :options="options"
      :api="api"
      class="datetime-date"
      :show-label="showLabel"
    ></date-field>
    <time-field
      :field="field"
      :value="value"
      :options="options"
      :api="api"
      :parameters="parameters"
      class="datetime-time"
      :show-label="showLabel"
    ></time-field>
  </div>
</template>

<script>
  import DateField from "./DateField";
  import TimeField from "./TimeField";
  import showField from "../../mixins/showField";
  import moment from "moment";

  export default {
    name: "DateTimeField",
    components: {DateField, TimeField},
    mixins: [showField],
  }
</script>

<style lang="scss" scoped>
  .datetime {
    display: flex;
    flex-direction: row;
    .datetime-date, .datetime-time {
      margin-right: 10px;
      display: flex;
    }
  }
</style>
