<template>
  <div>
    <span v-if="showLabel == 'true'" class="show-label">{{label}}</span>
    <span class="show-value">{{ formatDate }}</span>
  </div>
</template>

<script>
  import showField from "../../mixins/showField";

  export default {
    name: "DateField",
    mixins: [showField],
    computed: {
      formatDate: function() {
        return new Date(this.value).toLocaleDateString()
      }
    },
  }
</script>

<style lang="scss" scoped>
  .vdp-datepicker.error /deep/ input.error {
    border-bottom: 1px solid;
    border-bottom-color: rgba(207, 80, 86, 0.51);
  }
</style>
