<template>
  <div class="show-container">
    <span v-if="showLabel" class="show-label">{{label}}</span> <span class="show-value">{{value || '-'}}</span>
  </div>
</template>

<script>
  import showField from "../../mixins/showField";
  export default {
    name: "FloatField",
    mixins: [showField],
    computed: {
    },
  }
</script>

<style scoped lang="scss">
  .edit-container .edit-content .input-group {
    input.error {
      border-bottom: 1px solid;
      border-bottom-color: rgba(207, 80, 86, 0.51);
    }
    input[readonly="readonly"] {
      background-color: transparent;
      padding-left: 0;
    }
  }
</style>
