<template>
  <div class="show-container">
    <span v-if="showLabel" class="show-label">{{label}}</span> <span class="show-value">{{ formatedValue || '-'}}%</span>
  </div>
</template>

<script>
  import showField from "../../mixins/showField";

  export default {
    name: "PercentageField",
    mixins: [showField],
    computed: {
      formatedValue: function () {
        return this.value * 100;
      },
    },
  }
</script>
