<template>
  <div class="show-container">
    <span v-if="showLabel" class="show-label">{{label}}</span> <span class="show-value">{{currentLabel || '-'}}</span>
  </div>
</template>

<script>
  import showField from "../../mixins/showField";
  import api from "sv/js/api";
  import editHelper from "sv/js/components/mixins/editHelper";

  export default {
    name: "SelectField",
    mixins: [showField, editHelper],
    data: function () {
      return {
        dynamicChoices: null,
        dynamicChoicesLoading: false
      }
    },
    mounted: function () {
      if(this.apiName !== undefined && this.apiName !== null) {
        this.dynamicChoicesLoading = true;
        api.squareview(
          'GET',
          this.apiName.replace('.','_') ?? null
        ).then((response) => {
          if(response.status === 200 && _.isArray(response.data)) {
            this.dynamicChoices = response.data.map((choice) => {
              return {
                value: +choice.id,
                label: this.formatResult(choice)
              };
            });
            this.dynamicChoicesLoading = false;
          } else {
            console.error('api for select field '+this.field.id+' returned a response that was not in the correct format. Awaiting status 200 and array.', response);
          }
        });
      }
    },
    computed: {
      apiName: function () {
        return this.api || this.options.api;
      },
      choiceType: function () {
        if(this.staticChoices) {
          return 'static';
        } else {
          return 'dynamic';
        }
      },
      choices: function () {
        return this.staticChoices ? this.staticChoices : this.dynamicChoices;
      },
      staticChoices: function () {
        return this.options.choices !== undefined ? this.options.choices : null;
      },
      currentValue: function () {
        return _.isObject(this.value) && _.has(this.value, 'id') ? this.value.id : this.value;
      },
      currentLabel: function () {
        return _.find(this.choices, ['value', this.currentValue])?.label
      },
    }
  }
</script>
