<template>
  <div class="show-container">
    <span class="show-label" v-if="showLabel">{{label}}</span> <span class="show-value">{{value || '-'}}</span>
  </div>
</template>

<script>
  import showField from "sv/js/components/mixins/showField";

  export default {
    name: "TextField",
    mixins: [showField]
  }
</script>

<style lang="scss" scoped>

</style>
