<template>
  <div class="show-container">
    <span v-if="showLabel" class="show-label">{{label}}</span> <span class="show-value">{{value || '-'}}</span>
  </div>
</template>

<script>
  import showField from "sv/js/components/mixins/showField";

  export default {
    name: "TextAreaField",
    mixins: [showField]
  }
</script>

<style lang="scss" scoped>
  .show-value {
    white-space: pre-wrap;
  }
</style>
