<template>
  <div>
    <span v-if="showLabel == 'true'" class="show-label">{{label}}</span>
    <span class="show-value">{{ formatTime }}</span>
  </div>
</template>

<script>
  import showField from "../../mixins/showField";

  export default {
    name: "TimeField",
    mixins: [showField],
    computed: {
      formatTime: function() {
        return new Date(this.value).toLocaleTimeString()
      }
    },
  }
</script>
