<template>
  <float-label v-if="forModule">
    <div @click="toggleValue" class="toggle" :class="{on: inputValue}">
      {{ inputValue ? statusLabels.on : statusLabels.off }}<span></span>
    </div>
  </float-label>
  <div v-else @click="toggleValue" class="toggle" :class="{on: inputValue}">
    {{ inputValue ? statusLabels.on : statusLabels.off }}<span></span>
  </div>
</template>

<script>
  import editField from "../../mixins/editField";
  import FloatLabel from "vue-float-label/components/FloatLabel";

  export default {
    name: "ToggleField",
    mixins: [editField],
    components: {FloatLabel},
    props: {
      placeholder: {
        type: String,
        default: null
      }
    },
    computed: {
      statusLabels: function () {
        if(_.has(this.options, 'statusLabels')) {
          return {
            on: this.options.statusLabels.on ?? 'Oui',
            off: this.options.statusLabels.off ?? 'Non'
          };
        } else {
          return {
            on: 'Oui',
            off: 'Non'
          };
        }
      }
    },
    methods: {
      toggleValue: function () {
        if (!this.field.readonly) {
          this.update(!this.inputValue);
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';

  .edit-container .edit-content {
    .input-group {
      input.error {
        border-bottom: 1px solid;
        border-bottom-color: rgba(207, 80, 86, 0.51);
      }

      .vfl-has-label {
        input {
          padding-top: 25px;
        }
        /deep/ label.vfl-label {
          position: absolute;
          left: 5px;
          top: 5px;
          font-size: 14px;
        }
      }

      input[readonly="readonly"] {
        background-color: transparent;
      }
    }
    .input-group .vfl-has-label input {
      margin-bottom: 3px;
    }
    .input-group > .field-container:last-child .vfl-has-label input {
      margin-bottom: 0;
    }
    .toggle{
      color: $text;
      font-size: 16px;
      padding: 5px 0;
      //margin: 12px 0 20px;
      //cursor:pointer;
      span{
        width: 40px;
        height: 20px;
        display: inline-block;
        float: left;
        background-color: $textTwo;
        border-radius: 30px;
        position: relative;
        margin-right: 20px;
        &:after{
          content:"";
          width: 18px;
          height: 18px;
          display: block;
          border-radius: 50%;
          background-color:$bgOne;
          position: absolute;
          left:1px;
          top:1px;
          @include transition(all 0.5s ease-out);
        }
      }
      &.on span{
        background-color: $alpha;
        &:after{
          @include translate(20px,0);
        }
      }
    }
  }
</style>
