<?xml version="1.0" encoding="UTF-8"?>
<urlset
    xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
          http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"
    xmlns:xhtml="http://www.w3.org/1999/xhtml">

{% for url in urls %}
    <url>
        <loc>{{url.location}}</loc>
        {% if url.lastModification is defined %}<lastmod>{{url.lastModification}}</lastmod>{% endif %}

        {% if url.changeFrequency is defined %}<changefreq>{{url.changeFrequency}}</changefreq>{% endif %}

        {% if url.priority is defined %}<priority>{{url.priority}}</priority>{% endif %}

        {% if url.alternates is defined %}{% for alternate in url.alternates %}<xhtml:link rel="alternate" hreflang="{{alternate.language}}" href="{{alternate.location}}" />{% endfor %}{% endif %}

    </url>
{% endfor %}

</urlset>
