<template>
  <div class="input-group">
    <div class="flex-group">
      <div class="list-of-media">
        <div class="media-info">
          <label>{{media.label}} <span v-if="media.description" :data-tippy-content="media.description" class="icon-info"><i class="fa fa-info-circle"></i></span></label>
          <p class="small"><b>Type :</b> {{media.provider|translateProvider}}</p>
          <p class="small" v-if="media.dimensions"><b>Dimensions recommandées :</b> {{media.dimensions}}</p>
          <a v-if="url" :href="url" target="_blank" class="link">Voir en pleine taille</a>
        </div>
        <div v-if="value && value.selecting !== undefined && value.selecting" class="loader add-media">
          <loader></loader>
        </div>
        <div v-else-if="value">
          <div class="media">
            <media :media="value" :format="media.format" context="edit"></media>
            <div class="actions">
              <button type="button" @click="openMediaManagerWithTarget" class="change" title="Remplacer le média">Change</button>
              <button type="button" @click="remove" class="delete" title="Retirer le média">Delete</button>
            </div>
          </div>
          <div class="media-name" v-if="value && media.provider !== 'image'">{{value.name}} - {{value.contentSize|formatBytes}}</div>
          <edit-media-info :show="showEditMediaInfo" :value="value" @close="closeModal" context="resource"></edit-media-info>
        </div>
        <div v-else @click="openMediaManagerWithTarget" class="add-media loader">
            <span class="upload-media">
            </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Media from '../media/Media';
  import {mapActions, mapState} from "vuex";
  import mediaAware from "../mixins/mediaAware";
  import isMedia from "../mixins/isMedia";
  import Loader from "../common/Loader";
  import EditMediaInfo from "sv/js/components/edit/EditMediaInfo";

  export default {
    name: "EditMedia",
    components: {EditMediaInfo, Loader, Media},
    props: ['media', 'zone', 'value'],
    mixins: [mediaAware, isMedia],
    data: function () {
      return {
        showEditMediaInfo: false
      }
    },
    computed: {
      ...mapState('languages', [
        'currentLocale'
      ]),
      identifier: function () {
        return this.media.identifier ?? null;
      },
      url: function () {
        if(this.media !== null && this.value !== null && this.value !== undefined) {
          return this.getMediaUrl(this.media.format, this.value.id, this.value.name);
        } else {
          return null;
        }
      }
    },
    methods: {
      ...mapActions('edits', [
        'removeMedia'
      ]),
      openMediaManagerWithTarget: function() {
        this.toggleMediaManager(true);
        this.setMediaManagerTarget({
          type: 'resource',
          identifier: this.identifier,
          provider: this.media.provider
        });
      },
      remove: function() {
        this.removeMedia({
          type: 'resource',
          identifier: this.identifier,
          locale: this.currentLocale
        });
      },
      closeModal: function () {
        this.showEditMediaInfo = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .list-of-media{
    display: flex;
    justify-content:space-between;
    align-items:center;
    .media-info{
      label{
        font-weight: 200;
        font-size: 18px;
        text-transform: initial;
        display: block;
        margin-bottom:16px;
      }
      p{
        font-weight: 200;
        margin:0 0 16px;
      }
      p.small{
        font-size: 12px;
        margin:0 0 8px;
      }
      .link{
        color:$text;
        font-size: 12px;
        font-family: $font1;
        text-align: left;
        text-decoration:underline;
        padding:0;
        margin:0;
        border:0;
        background: transparent;
        cursor:pointer;
      }
    }
    .media,
    .add-media{
      background-size: cover;
      position: relative;
      &:hover {
        .upload-media {
          border: 1px solid $alpha;
        }
      }
      .upload-media{
        text-align: center;
        width: 40px;
        height: 40px;
        background-color: $white;
        background-image: url('img/icons/icon-add-media.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        border:1px solid $bgOne;
        cursor:pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%,-50%);

      }
    }
    .media-name {
      position: absolute;
      bottom: 0px;
      right: 5px;
      color: white;
      text-align: right;
    }
    .add-media {
      background-color: $white;
      border: 1px solid $bgOne;
    }

    .media{
      width: auto;
      max-width: 470px;
      height:auto;
      max-height: 250px;
      position:relative;
      float: right;
      .actions{
        display: none;
        justify-content:space-between;
        width:80%;
        min-width:82px;
        max-width:96px;
        position:absolute;
        top:50%;
        left:50%;
        @include translate(-50%,-50%);
        button{
          width:40px;
          height:40px;
          background-image: url('img/icons/icon-add-media.svg');
          background-position: center center;
          background-repeat:no-repeat;
          background-color:rgba(#FFFFFF,0.8);
          border-radius: 50%;
          border:0;
          overflow: hidden;
          text-indent: -1000px;
          &:hover{
            cursor:pointer;
            background-color: #FFFFFF;
          }
          &.delete{
            background-image: url('img/icons/icon-close-green.svg');
          }
        }
      }
      &:hover .actions{
        display: flex;
      }
      /deep/ .skeleton {
        width: 470px;
        height: 250px;
        position: relative;
      }
    }

    .loader {
      width: 100%;
      max-width: 470px;
      height: 250px;
      max-height: 250px;
      padding-top: calc(250px/2 - 48px/2);
      text-align: center;
    }
  }
</style>
