<template>
  <div v-on-clickaway="close" class="dropdown-content module-dropdown" :class="{show: show}">
    <h2>Choisissez un module à ajouter</h2>
    <ul>
      <li v-for="guide in moduleGuides">
        <a @click="addModule(guide)" :class="{disabled: addingModule !== null}" :disabled="addingModule !== null">
          <span v-if="isAddingModule(guide)" class="material-icons-outlined">hourglass_empty</span>
          <span v-else class="material-icons-outlined">{{guide.icon}}</span>
          <p>{{guide.label}}
            <span v-if="guide.description" :data-tippy-content="guide.description" class="icon-info"><i class="fa fa-info-circle"></i></span>
          </p>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
  import {mapActions, mapState} from "vuex";
  import dropdownElement from "../mixins/dropdownElement";
  import tippy from "tippy.js";


  export default {
    name: "EditModuleSelector",
    props: ['zone', 'nextPosition',],
    mixins: [dropdownElement],
    data: function () {
      return {
        'addingModule': null
      };
    },
    computed: {
      ...mapState('general', [
        'moduleGuides'
      ]),
      ...mapState('languages', [
        'currentLocale'
      ])
    },
    methods: {
      ...mapActions('edits', [
        'createModule',
        'addModuleToContent'
      ]),
      addModule: function (guide) {
        this.addingModule = guide.name;
        let module = this.generateEmptyModule(guide);
        this.createModule({
          locale: this.currentLocale,
          data: module
        }).then((response) => {
          this.addModuleToContent(response.data);
          this.addingModule = null;
          this.close();
          this.$emit('update-expanded-value', response.data.identifier);
        });
      },
      generateEmptyModule: function (guide) {
        let module = {
          'guideIdentifier': guide.name,
          'zone': this.zone.name,
          'position': this.nextPosition
        };

        module.parameters = this.addEmptyParameters(module, guide);
        return module;
      },
      addEmptyParameters: function (module, guide) {
        return guide.parameters.map((parameterGuide) => {
          return this.generateEmptyParameter(parameterGuide);
        });
      },
      generateEmptyParameter: function (guide) {
        return {
          'identifier': guide.name,
          'value': guide.defaultValue ?? null
        };
      },
      isAddingModule: function (guide) {
        return this.addingModule && this.addingModule === guide.name;
      }
    },
    mounted() {
      tippy('[data-tippy-content]');
    }
  }
</script>

<style scoped lang="scss">

  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';

  .module-dropdown{
    width: 100%;
    max-width: 400px;
    background-color: $bg;
    border: 10px solid $white;
    margin-left: -5px;
    margin-top: 15px;
    display: none;
    &.show {
      display: block;
    }
    &:after{
      bottom:calc(100% + 10px);
    }
    h2{
      font-size: 22px;
      font-weight: 200;
      text-align:center;
      text-transform: uppercase;
    }
    ul{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      max-height: 300px;
      overflow: auto;
      li{
        font-size: 12px;
        font-weight: 200;
        text-align: left;
        background-color: $white;
        border:5px solid $bg;
        a{
          display: flex;
          align-items: center;
          padding: 8px;
          span{
            margin-right: 10px;
            width: 24px;
            &.icon-info i {
              color: $bgThree;
              font-size: 12px;
              margin-left: 5px;
              float: none;
            }
          }
          &:hover{
            cursor: pointer;
            box-shadow: 0 0px 6px rgba(0,0,0,0.2);
          }
          &.disabled {
            color: $bgLang;
          }
        }
        &:first-child,
        &:last-child{
          padding: 0;
        }
        p{
          margin: 0;
        }
      }
    }
  }

</style>
