<template>
  <div v-on-clickaway="close" class="dropdown-content metatag-dropdown" :class="{show: show}">
    <h2>Choisissez une balise à ajouter</h2>
    <ul>
      <li @click="!isAlreadyUsed(metaTag) ? addMetaTag(metaTag) : null" :class="{disabled: addingMetaTag !== null || isAlreadyUsed(metaTag)}" v-for="metaTag in availableMetaTags">
        <a>
          <i v-if="isAddingMetaTag(metaTag)" class="fas fa-spinner fa-spin"></i>
          <i v-else class="fas fa-tag"></i>
          <span>{{metaTag.label}}</span>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
  import {mapActions, mapState, mapGetters} from "vuex";
  import dropdownElement from "../mixins/dropdownElement";

  export default {
    name: "EditMetaTagSelector",
    props: ['used'],
    mixins: [dropdownElement],
    data: function () {
      return {
        'addingMetaTag': null
      };
    },
    computed: {
      ...mapGetters('general', {
        'availableMetaTags': 'getMetaTags'
      }),
      ...mapState('languages', [
        'currentLocale'
      ])
    },
    methods: {
      ...mapActions('edits', [
        'createMetaTag',
        'addMetaTagToContent'
      ]),
      addMetaTag: function (metaTag) {
        this.addingMetaTag = metaTag.name;
        this.createMetaTag({
          locale: this.currentLocale,
          data: {
            'type': metaTag.type,
            'name': metaTag.name,
            'content': null
          }
        }).then((response) => {
          this.addMetaTagToContent(response.data);
          this.addingMetaTag = null;
          this.close();
        });
      },
      isAddingMetaTag: function (metaTag) {
        return this.addingMetaTag && this.addingMetaTag === metaTag.name;
      },
      isAlreadyUsed: function (metaTag) {
        let alreadyUsed = this.used.find((usedMetaTag) => {
          return usedMetaTag.name === metaTag.name;
        });
        return alreadyUsed !== undefined;
      }
    }
  }
</script>

<style scoped lang="scss">

  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';

  .metatag-dropdown{
    width: 100%;
    max-width: 700px;
    background-color: $bg;
    border: 10px solid $white;
    margin-left: -5px;
    margin-top: 15px;
    display: none;
    &.show {
      display: block;
    }
    &:after{
      bottom:calc(100% + 10px);
    }
    h2{
      font-size: 22px;
      font-weight: 200;
      text-align:center;
      text-transform: uppercase;
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 240px; //To order by column but keep 5 equal columns. If items added, maybe go back to flex-direction: row
      li{
        font-size: 14px;
        font-weight: 200;
        text-align: left;
        width: 33.333%;
        background-color: $white;
        border: 3px solid $bg;
        &:not(.disabled):hover{
          cursor: pointer;
          box-shadow: 0 0px 6px rgba(0,0,0,0.2);
          border: 3px solid #eeebe6;
          background-color: #eeebe6;
        }
        &.disabled a {
          color: $bgLang;
          pointer-events: none;
          cursor: not-allowed;
        }
        a{
          display: inline;
          padding: 5px;
          height: 30px;
          i{
            font-size: 12px;
            margin: 10px 0 10px 5px;
          }
        }
        &:first-child,
        &:last-child{
          padding: 0;
        }
        span {
          margin-left: 5px;
          margin-bottom: 15px;
        }
      }
    }
  }

</style>
