<template>
  <div class="title-container">
    <div class="form-title">
      <breadcrumbs back :route="backRoute"/>
      <main-title v-if="isVisible"
        :title="title"
        :loading="isLoading"
        :editable="!isReadonly"
        :property="titleProperty"
        :required="isRequired"
        @update="updateTitle"
      ></main-title>
      <edit-route v-if="isRoutable"/>
    </div>
    <div class="btn-container not-implemented">
      <a href="#" class="preview"><i></i>Prévisualiser</a>
    </div>
    <edit-languages v-if="!languagesLoaded || isMultilingual"/>
  </div>
</template>

<script>
  import Breadcrumbs from "../common/Breadcrumbs";
  import MainTitle from "../common/MainTitle";
  import EditRoute from "./EditRoute";
  import EditLanguages from "./EditLanguages";
  import {mapActions, mapState, mapGetters} from "vuex";
  import updateQueue from "../mixins/updateQueue";
  import editHelper from "sv/js/components/mixins/editHelper";
  import actionHelper from "sv/js/components/mixins/actionHelper";

  export default {
    name: "EditHeader",
    components: {EditLanguages, EditRoute, Breadcrumbs, MainTitle},
    mixins: [updateQueue, editHelper, actionHelper],
    computed: {
      ...mapState('languages', [
        'currentLocale'
      ]),
      ...mapGetters('languages', [
        'languagesLoaded'
      ]),
      title: function () {
        return !this.isLoading
          && this.content[this.titleProperty] !== undefined
            ? this.content[this.titleProperty]
            : null;
      },
      titleProperty: function () {
        return this.configuration.mainTitleProperty || 'name';
      },
      isLoading: function () {
        return this.content === null || this.currentEditLoading;
      },
      isReadonly: function () {
        return this.configuration.mainTitleReadonly;
      },
      isRequired: function () {
        return this.configuration.mainTitleRequired;
      },
      isVisible: function () {
        return this.configuration.mainTitleVisible;
      }
    },
    methods: {
      updateTitle: function(newTitle) {
        this.queueUpdate(this.updateCurrentContent, {
          path: [this.configuration.mainTitleProperty],
          property: this.configuration.mainTitleProperty,
          value: newTitle,
          locale: this.currentLocale,
          apiName: 'properties',
          query: this.actionParameters
        });
      },
      ...mapActions('edits', [
        'isSaving',
        'updateCurrentContent'
      ]),
    }
  }
</script>

<style scoped lang="scss">
</style>
