<template>
  <div class="edit-view">
    <edit-header/>
    <div class="edit-container">
      <edit-content/>
      <edit-sidebar/>
    </div>
  </div>
</template>

<script>
  import EditHeader from "./EditHeader";
  import EditSidebar from "./EditSidebar";
  import EditContent from "./EditContent";
  import {mapActions, mapGetters, mapMutations, mapState} from "vuex";
  import {formatVuePathForApi, getMatchedPath} from "sv/js/routing";
  import featureHelper from "sv/js/components/mixins/featureHelper";
  import actionHelper from "../mixins/actionHelper";

  export default {
    name: "Edit",
    components: {EditContent, EditSidebar, EditHeader},
    mixins: [featureHelper, actionHelper],
    data: function () {
      return {
        configuration: null,
        loadingZone: []
      };
    },
    created: function () {
      if (!this.languagesLoaded) {
        this.fetchLanguages();
      }
      if (!this.editsLoaded) { //If the edits haven't been loaded, fetch them
        this.fetchEdits();
      }
    },
    computed: {
      genericRoute: function () {
        return formatVuePathForApi(getMatchedPath(this.$route));
      },
      content: function () {
        if (!this.configuration) {
          return null;
        } else if (this.isNew && this.currentNewEdit) {
          return this.buildNewContent(this.currentNewEdit.apis?.new?.staticParameters?.guide);
        } else {
          return this.isEditContentLoadedByActionName(this.configuration.name) ? this.currentEdit.content : null;
        }
      },
      configurationName: function () {
        return !_.isNil(this.configuration) && this.configuration.name !== undefined ? this.configuration.name : null;
      },
      contentId: function () {
        return this.content && !this.isNew ? this.content.id : null;
      },
      contentIdOrLocale: function () { //used to detect change
        return this.currentLocale !== null ? {
          contentId: this.contentId,
          currentLocale: this.currentLocale
        } : null;
      },
      editsLoadedOrGenericRoute: function () {
        return this.editsLoaded && this.genericRoute !== null ? {
          editsLoaded: this.editsLoaded,
          genericRoute: this.genericRoute
        } : null;
      },
      configurationNameOrIsNew: function () {
        return this.configurationName !== null && this.isNew !== null ? {
          configurationName: this.configurationName,
          isNew: this.isNew
        } : null;
      },
      ...mapState('edits', [
        'editsLoaded', //The edits are loaded
        'currentEdit',
        'currentNewEdit',
        'isNew'
      ]),
      ...mapState('languages', [
        'currentLocale',
      ]),
      ...mapGetters('edits', [
        'getEditConfigurationForPath',
        'isEditContentLoadedByActionName'
      ]),
      ...mapGetters('languages', [
        'languagesLoaded',
        'getMainLocale'
      ])
    },
    methods: {
      updateConfiguration: function () {
        if(this.editsLoadedOrGenericRoute !== null) {
          this.checkAndMarkIfNew(this.genericRoute);
          this.configuration = this.getEditConfigurationForPath(this.genericRoute);
        }
      },
      load: function () {
        if(this.configurationNameOrIsNew !== null) {
          if (this.isEditContentLoadedByActionName(this.configurationName)) { //If already loaded before, switch
            this.switchCurrentEdit(this.isNew ? this.currentNewEdit : this.currentEdit);
          } else { //else, start loading properties
            this.loadZone('properties');
          }
          this.emptyUpdateQueue();
        }
      },
      loadZone: function (api, loadRoutesAfter = false) {
        if(!this.loadingZone.includes(api)) { //check not already loading
          if (this.currentLocale && this.configuration && !this.isNew) { //Case Edit
            this.loadingZone.push(api);
            let query = {'locale': this.currentLocale};
            if (this.contentId) {
              query['resourceIdentifier'] = this.contentId;
            }
            if (this.actionParameters) {
              _.each(this.actionParameters, (parameterValue, parameterName) => {
                query[parameterName] = parameterValue;
              });
            }
            let apiReference = null;
            if (api === 'properties') {
              apiReference = this.getApiReferenceFromConfig('show');
            } else if (api === 'routes') {
              apiReference = 'routes_read';
            }
            this.loadEditContent({
              actionName: this.configurationName,
              apiReference: apiReference,
              apiName: api,
              query
            }).then(() => {
              //In some cases, routes MUST be loaded AFTER properties, else causes locale switch problems (especially with wysiwyg fields)
              if(loadRoutesAfter) {
                this.loadZone('routes');
              }
              this.loadingZone.splice(this.loadingZone.indexOf(api), 1);
            });
          } else if (this.configuration && this.isNew) { //Case New
            this.loadingZone.push(api);
            let newContent = this.buildNewContent(this.currentNewEdit.apis?.new?.staticParameters?.guide);

            if (newContent) {
              this.loadNewEditContent({
                actionName: this.configurationName,
                content: newContent
              });
              this.loadingZone.splice(this.loadingZone.indexOf(api), 1);
            }
          }
        }
      },
      buildNewContent: function (guideName) {
        if(this.currentNewEdit !== undefined) {
          let baseStructure = {
            defaultName: '',
            modules: [],
            medias: [],
            guide: guideName
          };
          baseStructure[this.configuration.mainTitleProperty] = '';
          return baseStructure;
        } else {
          console.error("Could not build new content");
          return null;
        }
      },
      ...mapActions('edits', {
        'fetchEdits' : 'fetch',
        'loadEditContent' : 'loadEditContent',
        'switchCurrentEdit' : 'switchCurrentEdit',
        'checkAndMarkIfNew' : 'checkAndMarkIfNew',
        'loadNewEditContent': 'loadNewEditContent'
      }),
      ...mapActions('languages', {
        'fetchLanguages': 'fetch',
        'switchLocale': 'switchLocale'
      }),
      ...mapGetters('general', [
        'getGuide'
      ]),
      ...mapMutations('edits', [
        'emptyUpdateQueue'
      ])
    },
    watch: {
      //TODO: IN ALL THESES CASES (?) EMPTY UPDATE QUEUE !
      //If the edits are loaded (first time) or the route base (generic route, without params) has changed
      editsLoadedOrGenericRoute: { //only update configuration once, even if both have changed.
        handler: 'updateConfiguration',//Update the edit configuration
        immediate: true,
        deep: true
      },
      //If the type of edit has changed (after loading edit configuration) or switched to "new"
      configurationNameOrIsNew: { //only load once, even if both have changed
        handler: 'load',//Load the content of the edit
        immediate: true,
        deep: true
      },
      //If the properties of the edit have changed (slug has changed for example)
      actionParameters: {
        handler: function () { //once properties have loaded, contentId will change, loading routes (see below)
          this.emptyUpdateQueue();
          this.loadZone('properties'); //load zone directly, as we are on the same edit type
        },
        immediate: true,
        deep: true
      },
      //If changed locale or contentId was defined or changed (after loading zone properties)
      contentIdOrLocale: {
        handler: function (now, before) { //should not be called if action parameters was changed too
          if (now !== null) {
            if (now.contentId !== undefined && now.contentId !== null && now.currentLocale  && this.isRoutable
              && ((before === null) || (now.contentId !== before.contentId))  //we have a currentLocale and have routes
            ) {
              this.loadZone('routes');
            } else if ((before === null && now.currentLocale !== undefined) //currentLocale has now been defined
              || (before !== null && now.currentLocale !== before.currentLocale) //currentLocale has changed
            ) {
              if(this.isRoutable && now.contentId) { //If we have routes, load them too
                this.loadZone('properties', true);
              } else {
                this.loadZone('properties');
              }
            }
          }
        },
        deep: true
      },
    },
    beforeDestroy: function () {
      this.switchLocale(this.getMainLocale);
    }
  }
</script>

<style scoped>

</style>
