<template>
  <div v-on-clickaway="close" class="dropdown-content to-the-right" :class="{show: show}">
    <ul>
      <li><a @click="deleteModule" class="delete">Supprimer<i></i></a></li>
    </ul>
  </div>
</template>

<script>
  import dropdownElement from "../mixins/dropdownElement";

  export default {
    name: "EditModuleActions",
    props: ['show'],
    mixins: [dropdownElement],
    methods: {
      deleteModule: function () {
        //TODO: add dialog confirmation + loader while deleting
        this.$emit('delete');
        this.close();
      }
    }
  }
</script>

<style scoped lang="scss">
  .dropdown-content {
    display: none;

    &.show {
      display: block;
    }
  }
</style>
