<template>
  <div class="edit-sidebar" data-v-sticky-container>
    <div v-sticky="stickyOptions">
      <div class="publish-block" :class="{'error': hasErrors}" data-v-sticky-inner>

        <button class="publish btn alpha"
                :class="{'disabled': buttonIsDisabled, 'error': hasErrors}"
                @click="publish"
        >
          <span v-if="hasErrors && lastErrorType === 'invalid'">Certains champs obligatoires (*)<br/><span class="small">ne sont pas remplis</span></span>
          <span v-else-if="hasErrors && lastErrorType === 'api'">Oups, petit souci !<br/><span class="small">Si le problème persiste, contactez-nous</span></span>
          <span v-else-if="saving">Enregistrement...</span>
          <span v-else-if="saved">Enregistré !</span>
          <span v-else-if="!isPublishable">Enregistrer</span>
          <span v-else-if="publishing">Publication...</span>
          <span v-else-if="published">Publié !</span>
          <!-- <span v-else-if="lastPublicationDate && !isPublicationPending(this.currentLocale)">Publié</span>-->
          <span v-else-if="isNew">Créer</span>
          <span v-else-if="noDraftForLocale">Modifiez pour publier</span>
          <span size="small" v-else-if="hasQueuedUpdates && !isNew">...</span>
          <span v-else>Publier</span>
        </button>

        <div v-if="(isPublicationPending(this.currentLocale) || !lastPublicationDate) && lastSaveDate" class="draft-block">
          <a @click="showPreviewWindow" class="btn">Voir le preview</a>
          <p class="saved-date">Brouillon enregistré à {{lastSaveDate|time}}</p>
        </div>

        <div v-if="content && (lastPublicationDate || (!isPublishable && hasEnabled))" @click="togglePublished" class="publish-toggle" :class="{published: enabled}">
          {{ enabled ? enabledLabels.enabled : enabledLabels.disabled }}<span></span>
        </div>

        <p v-if="lastPublicationDate" class="published-date"><span>Publié le</span> : {{lastPublicationDate|date}}</p>

        <button v-if="!isNew && isDeletable" @click="confirmDelete" class="btn delete" :class="{disabled: isDeleting}"><i></i>Supprimer</button>
      </div>
      <!-- @RK : bloc publication autres langues / please remove inline styling
      <div class="publish-other-languages" style="border-bottom:2px solid white;padding-bottom:25px;margin-bottom:25px;">
        <p class="publish-title"><strong>Mettre en ligne</strong>(Français)</p>
        <p> Publier également les langues suivantes :</p>
        <ul>
          <form>
            <li>
              <div class="radio">
                <input type="checkbox" id="english">
                <label for="english">Anglais</label>
                <span class="status status-published">Publié</span>
              </div>
            </li>
            <li>
              <div class="radio">
                <input type="checkbox" id="tuvasmouii">
                <label for="tuvasmouii">Japonais</label>
                <span class="status status-published">Publié</span>
              </div>
            </li>
            <li>
              <div class="radio">
                <input type="checkbox" id="ita">
                <label for="ita">Italien</label>
                <span class="status status-not-published">Non Publié</span>
              </div>
            </li>
            <li>
              <div class="radio">
                <input type="checkbox" id="ru">
                <label for="ru">Russe</label>
                <span class="status status-not-published">Non Publié</span>
              </div>
            </li>
          </form>
        </ul>
        <a href="" class="btn alpha">mettre en ligne les langues sélectionnées</a>
        <a href="" class="btn ">non merci</a>
      </div>-->
      <!-- @RK : bloc texte et boutons / please remove inline styling
      <div class="two-buttons-block" style="border-bottom:2px solid white;padding-bottom:25px;margin-bottom:25px;">
        <p>Ce contenu sera supprimé dans toutes les langues</p>
        <div class="grid">
          <a href="" class="btn">Annuler</a>
          <a href="" class="btn alpha">Confirmer</a>
        </div>
      </div> -->
      <!-- @RK : bloc de confirmation / please remove inline styling
      <div class="publish-notification" style="border-bottom:2px solid white;padding-bottom:25px;margin-bottom:25px;">
        <p class="victory-title"><strong>Contenu mis en ligne !</strong></p>
        <p>Les langues Russe et Schleu  sont mises en ligne.</p>
      </div> -->
      <!-- @RK : bloc de confirmation / please remove inline styling
      <div class="publish-notification" style="border-bottom:2px solid white;padding-bottom:25px;margin-bottom:25px;">
        <p class="victory-title"><strong>Contenu mis en ligne !</strong></p>
        <p>Votre contenu est mis en ligne.</p>
      </div> -->
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";
import updateQueue from "../mixins/updateQueue";
import VueStickyDirective from '@renatodeleao/vue-sticky-directive';
import moment from "moment";
import {unobserve} from "sv/js/util/unobserver";
import contentStatus from "../mixins/contentStatus";
import ResizeSensor from "resize-sensor";
import confirmation from "sv/js/components/mixins/confirmation";
import editHelper from "sv/js/components/mixins/editHelper";
import actionHelper from "sv/js/components/mixins/actionHelper";
import Loader from "sv/js/components/common/Loader";
window.ResizeSensor = ResizeSensor; // [1]

export default {
  name: "EditSidebar",
  directives: {
    "sticky": VueStickyDirective
  },
  mixins: [updateQueue, contentStatus, confirmation, editHelper, actionHelper],
  components: {Loader},
  data: function() {
    return {
      saved: false,
      published: false,
      isDeleting: false,
      stickyOptions: {
        topSpacing: 20,
        bottomSpacing: 0,
        resizeSensor: true, // [1] read above
        stickyClass: "is-sticky",
        minWidth: 0
      },
      previewWindow: null,
    }
  },
  computed: {
    ...mapState('edits', [
      'saving',
      'publishing',
      'currentEdit',
      'isNew',
      'hasErrors',
      'lastErrorType'
    ]),
    ...mapGetters('edits', [
      'getCurrentContentHash',
      'isAutoSaving'
    ]),
    content: function () {
      return this.currentEdit && this.currentEdit.content !== undefined ? this.currentEdit.content : null;
    },
    enabled: function () {
      return this.content && this.hasEnabled && this.enabledProperty ? this.content[this.enabledProperty] : null;
    },
    hasEnabled: function () {
      return this.enabledProperty ? this.content[this.enabledProperty] !== undefined : false;
    },
    enabledProperty: function () {
      return this.configuration.enabledProperty;
    },
    enabledLabels: function () {
      return this.configuration.enabledLabels ?? {enabled: 'En ligne', disabled: 'Hors ligne'};
    },
    buttonIsDisabled: function () {
      return (this.saving || this.saved || this.publishing || this.published) //case action being executed or just finished
        || (this.hasQueuedUpdates && this.isPublishable && !this.isNew) //case currently editing a draft
        || (this.noDraftForLocale && !this.isNew && this.isPublishable) //case unmodified fixtures usually or non versionable
        ;
    },
    isDeletable: function() {
      return !!this.getApiReferenceFromConfig('delete');
    },
    route: function () {
      return this.content && this.content.routes ? this.content.routes : null;
    },
    path: function () {
      return this.route ? this.route.path : null;
    },
    locale: function () {
      return this.route ? this.route.locale : null;
    },
    previewPath: function () {
      if (!_.isNil(this.content?.draftHashes) && !_.isNil(this.content?.draftHashes[this.currentLocale]) && !_.isNil(this.content?.draftHashes[this.currentLocale].hash)) {
        return process.env.FRONTEND_URL + (this.isMultilingual ? this.currentLocale + "/" : "") + (this.path ?? "")  + '?preview=' + this.content.draftHashes[this.currentLocale].hash;
      }
      return null;
    },
  },
  watch: {
    saving: function(isSaving, wasSaving) {
      if(wasSaving && !isSaving){
        this.saved = true;
        setTimeout(() => {
          this.saved = false;
        }, 2000);
      }
    },
    publishing: function(isPublishing, wasPublishing) {
      if(wasPublishing && !isPublishing){
        this.published = true;
        setTimeout(() => {
          this.published = false;
        }, 2000);
      }
    },
    previewPath: function (newValue, oldValue) {
      if (this.previewWindow) {
        this.previewWindow.location = newValue;
      }
    }
  },
  methods: {
    ...mapActions('edits', [
      'updateCurrentContent',
      'publishCurrentContent',
      'updateVersionHashes',
      'isPublishing',
      'isSaving',
      'deleteContent',
      'removeCurrentEdit'
    ]),
    publish: function () {
      if(this.isNew || !this.isAutoSaving || this.noDraftForLocale) {
        this.revalidateAllStalled(true);
      } else {
        this.isPublishing(true);
        this.publishCurrentContent({
          locale: this.currentLocale
        }).then((response) => {
          this.updateVersionHashes({version: response.data, locale: this.currentLocale});
          this.isPublishing(false);
        });
      }
    },
    togglePublished: function () {
      this.isSaving(true);
      this.queueUpdate(
        this.updateCurrentContent,
        {
          path: [this.configuration.enabledProperty],
          value: !this.enabled,
          locale: this.currentLocale,
          queueStrategy: 'skip',
          query: this.actionParameters
        }
      );
    },
    confirmDelete: function () {
      this.confirm("Confirmer la suppression", "Êtes-vous certains de vouloir supprimer <u>définitivement</u> cette ressource&nbsp;?", this.doDelete);
    },
    doDelete: function () {
      this.isDeleting = true;
      this.deleteContent({
        id: this.content.id,
        apiReference: this.getApiReferenceFromConfig('delete')
      }).then(() => {
        let section = this.currentEdit.section;
        let listAction = {
          name: "list#" +section,
          pathParameters: this.actionParameters
        };
        let deletedContent = unobserve(this.content);
        let listRoute = this.buildActionRoute(listAction, deletedContent);
        this.isDeleting = false;
        console.log('delete, redirect to', {listRoute});
        this.$router.push(listRoute);
      }).catch((error) => {
        this.isDeleting = false;
        console.error('Error deleting current edit', error);
      });
    },
    showPreviewWindow: function () {
      this.previewWindow = window.open(this.previewPath, location.href);
    }
  },
  filters: {
    date: function (date, withSeconds = false) {
      let format = withSeconds ? "DD/MM/YYYY à HH:mm:ss" : "DD/MM/YYYY à HH[h]mm";
      return date ? moment(date).format(format) : '';
    },
    time: function (date) {
      if(moment(date).diff(moment(), 'days') > 0) {
        return moment(date).format('HH:mm:ss [le] DD/MM/YYYY');
      } else {
        return moment(date).format('HH:mm:ss');
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'sv/scss/modules/_colors.scss';
@import 'sv/scss/modules/_variables.scss';
@import 'sv/scss/modules/_mixins.scss';


p.saved-date {
  font-size: 9px;
  margin: 5px 0 0;
  text-align: right;
}
button.error {
  background-color: $alert;
  pointer-events: none;
  span.small {
    font-size: x-small;
  }
}
.publish-block {
  border-bottom:2px solid white;
  padding-bottom:25px;
  margin-bottom:25px;
  &.error {
    cursor: not-allowed;
  }
}
.draft-block {
  margin-top: 12px;
}
</style>
