<template>
  <div v-if="locale && path !== null" class="url-container">
    <div v-if="!editing">
      <a :href="absolutePath" target="_blank" class="link">{{absolutePath}}</a>
      <a @click="editRoute" class="edit-link">modifier</a>
      <a v-if="!urlCopied && !urlCopiedError" v-clipboard="absolutePath" v-clipboard:success="copySuccess" v-clipboard:error="copyError" class="copy-link">copier l'url</a>
      <span class="copy-link-result" v-else-if="urlCopied && !urlCopiedError">url copiée !</span>
      <span class="copy-link-result copy-link-error" v-else>erreur lors de la copie...</span>
    </div>
    <div v-show="editing">
      {{basePath}}<span v-if="isMultilingual" class="route-locale">{{locale}}/</span><input ref="input" class="link" type="text" :size="inputPath.length" :value="inputPath" @input="updateNewPath($event.target.value)"/>
      <a v-if="newPath !== null && newPath !== path" @click="update" class="edit-link">sauvegarder</a>
      <a v-else @click="editing = false" class="edit-link">annuler</a>
    </div>
  </div>
  <div class="url-container url-skeleton" v-else-if="!isNew">
    <skeleton/>
  </div>
</template>

<script>
  import {mapActions, mapState} from "vuex";
  import Skeleton from "../common/Skeleton";
  import editHelper from "../mixins/editHelper";
  import updateQueue from "../mixins/updateQueue";

  export default {
    name: "EditRoute",
    components: {Skeleton},
    mixins: [editHelper, updateQueue],
    data: function () {
      return  {
        editing: false,
        newPath: null,
        urlCopied: false,
        urlCopiedError: false
      }
    },
    computed: {
      ...mapState('languages', [
        'currentLocale'
      ]),
      ...mapState('edits', [
        'isNew'
      ]),
      basePath: function() {
        return process.env.FRONTEND_URL;
      },
      route: function () {
        return this.content && this.content.routes && !this.currentEditLoading ? this.content.routes : null;
      },
      path: function () {
        return this.route ? this.route.path : null;
      },
      absolutePath: function () {
        return this.basePath + (this.isMultilingual ? this.locale + "/" : "") + this.inputPath;
      },
      locale: function () {
        return this.route ? this.route.locale : null;
      },
      inputPath: function () {
        return this.newPath !== null ? this.newPath : (this.path ?? null);
      }
    },
    methods: {
      editRoute: function() {
        this.editing = true;
        this.$nextTick().then(() => this.$refs.input.focus());
      },
      updateNewPath: function(val) {
        this.newPath = val;
      },
      update: function() {
        this.editing = false;
        this.isSaving(true);
        this.queueUpdate(
          this.updateCurrentContent,
          {
            apiName: 'routes',
            apiReference: 'routes_update',
            path: ['path'],
            value: this.newPath,
            id: this.route.id,
            locale: this.currentLocale
          }
        );
      },
      copySuccess: function () {
        this.urlCopied = true;
        setTimeout(() => {
          this.urlCopied = false;
        }, 2000);
      },
      copyError: function () {
        this.urlCopied = true;
        this.urlCopiedError = true;
        setTimeout(() => {
          this.urlCopied = false;
          this.urlCopiedError = false;
        }, 2000);
      },
      ...mapActions('edits', [
        'isSaving',
        'updateCurrentContent'
      ]),
    },
    watch: {
      path: function () {
        this.updateNewPath(null);
      }
    }
  }
</script>

<style lang="scss" scoped>
  input.link {
    font-size: 12px;
  }
  .url-skeleton {
    width: 50vw;
  }
</style>
