<template>
  <div v-on-clickaway="close" class="dropdown-content to-the-right" :class="{show: show}">
    <ul>
      <li><a @click="deleteMetaTag" class="delete">Supprimer<i></i></a></li>
    </ul>
  </div>
</template>

<script>
  import dropdownElement from "../mixins/dropdownElement";

  export default {
    name: "EditMetaTagActions",
    mixins: [dropdownElement],
    methods: {
      deleteMetaTag: function (e) {
        e.stopPropagation();
        this.close();
        this.$emit('delete');
      }
    }
  }
</script>

<style scoped lang="scss">
  .dropdown-content {
    display: none;

    &.show {
      display: block;
    }
  }
</style>
