<template>
  <div class="input-group">
    <div class="flex-group">
      <div class="list-of-media">
        <div v-for="(media, position) in medias" class="media" :key="identifier+'_'+position">
          <div v-if="media && media.selecting !== undefined && media.selecting" class="loader add-media">
            <loader></loader>
          </div>
          <div v-else-if="media">
            <media :media="media" :format="gallery.thumbnailFormat" context="gallery"></media>
            <div class="actions">
              <button type="button" @click="openMediaManagerWithTarget(position)" class="change">Change</button>
              <button type="button" @click="remove(position)" class="delete">Delete</button>
            </div>
          </div>
        </div>
        <div v-if="isCreating" class="media">
          <div class="loader add-media">
            <loader></loader>
          </div>
        </div>
        <div class="add-media">
          <span class="upload-media" @click="openMediaManagerWithTarget(nextPosition)">
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Media from '../media/Media';
  import {mapActions} from "vuex";
  import mediaAware from "../mixins/mediaAware";
  import isMedia from "../mixins/isMedia";
  import Loader from "../common/Loader";

  export default {
    name: "EditGallery",
    components: {Loader, Media},
    props: ['gallery', 'zone', 'value'],
    mixins: [mediaAware, isMedia],
    computed: {
      identifier: function () {
        return this.gallery.identifier ?? null;
      },
      medias: function () {
        return this.value && this.value.medias !== undefined ? this.value.medias : null;
      },
      nextPosition: function () {
        return this.medias ? this.medias.length : 0;
      },
      isCreating: function () {
        return this.value.creating !== undefined && this.value.creating;
      }
    },
    methods: {
      ...mapActions('edits', [
        'removeMedia'
      ]),
      openMediaManagerWithTarget: function(position) {
        this.toggleMediaManager(true);
        this.setMediaManagerTarget({
          type: 'gallery',
          identifier: this.identifier,
          position,
          provider: 'image'
        });
      },
      remove: function(position) {
        this.removeMedia({
          type: 'gallery',
          identifier: this.identifier,
          position
        });
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .list-of-media{
  	display: flex;
    flex-wrap: wrap;
  	.media,
  	.add-media {
  		width: 151px;
  		height: 151px;
  		background-color: transparent;
  		margin-right:10px;
      margin-bottom: 10px;
  		background-size: cover;
  		position: relative;
  		.upload-media{
  			text-align: center;
  			width: 40px;
  			height: 40px;
  			background-color: $white;
  			background-image: url('img/icons/icon-add-media.svg');
  			background-repeat: no-repeat;
  			background-position: center;
  			border-radius: 50%;
  			cursor:pointer;
  			position: absolute;
  			top: 50%;
  			left: 50%;
  			@include translate(-50%,-50%);
  		}
      &:hover {
        .upload-media {
          border: 1px solid $alpha;
        }
      }
  	}
    .add-media {
      border:1px dashed $bgTwo;
    }
    .media {
      border:1px solid $bgOne;
      .actions {
        display: none;
        justify-content: space-between;
        width: 80%;
        min-width: 82px;
        max-width: 96px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);

        button {
          width: 40px;
          height: 40px;
          background-image: url('img/icons/icon-add-media.svg');
          background-position: center center;
          background-repeat: no-repeat;
          background-color: rgba(#FFFFFF, 0.8);
          border-radius: 50%;
          border: 0;
          overflow: hidden;
          text-indent: -1000px;

          &:hover {
            cursor: pointer;
            background-color: #FFFFFF;
          }

          &.delete {
            background-image: url('img/icons/icon-close-green.svg');
          }
        }
      }

      &:hover .actions {
        display: flex;
      }

      /deep/ .skeleton {
        width: 150px;
        height: 150px;
        position: relative;
      }
    }

    .loader {
      width: 100%;
      max-width: 150px;
      height: 150px;
      max-height: 150px;
      padding-top: calc(150px/2 - 48px/2);
      text-align: center;
      p {
        font-size: 12px;
      }
    }
  }

  //.list-of-media{
  //  display: flex;
  //  justify-content:space-between;
  //  align-items:center;
  //  .media-info{
  //    label{
  //      font-weight: 200;
  //      font-size: 18px;
  //      text-transform: initial;
  //      display: block;
  //      margin-bottom:16px;
  //    }
  //    p{
  //      font-weight: 200;
  //      margin:0 0 16px;
  //    }
  //    p.small{
  //      font-size: 12px;
  //      margin:0 0 8px;
  //    }
  //    .link{
  //      color:$text;
  //      font-size: 12px;
  //      font-family: $font1;
  //      text-align: left;
  //      text-decoration:underline;
  //      padding:0;
  //      margin:0;
  //      border:0;
  //      background: transparent;
  //      cursor:pointer;
  //    }
  //  }
  //  .media,
  //  .add-media{
  //    background-size: cover;
  //    position: relative;
  //    &:hover {
  //      .upload-media {
  //        border: 1px solid $alpha;
  //      }
  //    }
  //    .upload-media{
  //      text-align: center;
  //      width: 40px;
  //      height: 40px;
  //      background-color: $white;
  //      background-image: url('img/icons/icon-add-media.svg');
  //      background-repeat: no-repeat;
  //      background-position: center;
  //      border-radius: 50%;
  //      border:1px solid $bgOne;
  //      cursor:pointer;
  //      position: absolute;
  //      top: 50%;
  //      left: 50%;
  //      @include translate(-50%,-50%);
  //
  //    }
  //  }
  //
  //  .add-media {
  //    background-color: $white;
  //    border: 1px solid $bgOne;
  //  }
  //
  //  .media{
  //    width: auto;
  //    max-width: 470px;
  //    height:auto;
  //    max-height: 250px;
  //    position:relative;
  //    float: right;
  //    .actions{
  //      display: none;
  //      justify-content:space-between;
  //      width:80%;
  //      min-width:82px;
  //      max-width:96px;
  //      position:absolute;
  //      top:50%;
  //      left:50%;
  //      @include translate(-50%,-50%);
  //      button{
  //        width:40px;
  //        height:40px;
  //        background-image: url('img/icons/icon-add-media.svg');
  //        background-position: center center;
  //        background-repeat:no-repeat;
  //        background-color:rgba(#FFFFFF,0.8);
  //        border-radius: 50%;
  //        border:0;
  //        overflow: hidden;
  //        text-indent: -1000px;
  //        &:hover{
  //          cursor:pointer;
  //          background-color: #FFFFFF;
  //        }
  //        &.delete{
  //          background-image: url('img/icons/icon-close-green.svg');
  //        }
  //      }
  //    }
  //    &:hover .actions{
  //      display: flex;
  //    }
  //    /deep/ .skeleton {
  //      width: 470px;
  //      height: 250px;
  //      position: relative;
  //    }
  //  }
  //
  //  .loader {
  //    width: 100%;
  //    max-width: 470px;
  //    height: 250px;
  //    max-height: 250px;
  //    padding-top: calc(250px/2 - 48px/2);
  //    text-align: center;
  //  }
  //}
</style>
