<template>
  <div class="accordion" :class="{'is-expanded': isExpanded && !isInactive, 'is-hidden': isInactive}">
    <div class="accordion-title-block">
      <a @click="toggleAccordion" aria-expanded="false" class="accordion-title">{{zone.label}}</a>
    </div>
    <div class="accordion-content accordion-item" aria-hidden="true">
      <div v-if="!isLoading" class="accordion-content-insider" :class="{'has-accordion-inside': zone.type === 'modules'}">
        <template v-if="zone.type === 'properties'">
          <edit-field v-for="field in fields" :field="field" :key="field.identifier + '_' + currentLocale" :zone="zone" :value="getFieldValue(field.identifier)" context="properties"></edit-field>
        </template>
        <template v-else-if="zone.type === 'medias'">
          <edit-media v-for="media in medias" :media="media" :key="media.identifier" :zone="zone" :value="data[media.identifier]"></edit-media>
        </template>
        <template v-else-if="zone.type === 'gallery'">
          <edit-gallery :key="'gallery_'+zone.name" :gallery="zone.gallery" :zone="zone" :value="data || []"></edit-gallery>
        </template>
        <template v-else-if="zone.type === 'modules'">
          <button v-if="shownModules.length > 1" @click="toggleModulesAccordion" class="button-accordion" :class="{'is-expanded': expandAllModules }">
            Tout <template v-if="expandAllModules">replier</template><template v-else>déplier</template>
            <span class="chevron"></span>
          </button>
          <draggable handle=".move-flex-group" v-model="shownModules" forceFallback="true">
            <transition-group>
              <edit-module v-for="module in shownModules" :module="module" :key="module.identifier" :zone="zone" :index="module.index" :expanded="expandAllModules" :new="!!hasNewModule"></edit-module>
            </transition-group>
          </draggable>
          <button v-if="shownModules.length > 1" @click="toggleModulesAccordion" class="button-accordion" :class="{'is-expanded': expandAllModules }">
            Tout <template v-if="expandAllModules">replier</template><template v-else>déplier</template>
            <span class="chevron"></span>
          </button>
          <div class="add-module-container">
            <div id="add-module" class="dropdown-button add-input-group" @click="toggleModuleSelector"><i></i>Ajouter un module</div>
            <edit-module-selector :ref="zone.name+'_moduleselector'" :show="moduleSelectorOpen" :zone="zone" :nextPosition="nextModulePosition" @close="closeModuleSelector" @update-expanded-value="expandLastModuleAdded"></edit-module-selector>
          </div>
        </template>
        <template v-else-if="zone.type === 'translations'">
          <edit-zone-translations :zone="zone" :data="data" type="resource"></edit-zone-translations>
        </template>
        <template v-else-if="zone.type === 'collection'">
          <edit-collection :zone="zone" :data="data"></edit-collection>
        </template>
      </div>
      <div v-else>
        <div v-for="i in 3" :key="'skeleton_zone_'+i" class="zone-skeleton">
          <skeleton></skeleton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import EditField from "./EditField";
  import EditMedia from "./EditMedia";
  import EditGallery from "./EditGallery";
  import {mapActions, mapState} from "vuex";
  import Skeleton from "../common/Skeleton";
  import EditModuleSelector from "./EditModuleSelector";
  import EditModule from "./EditModule";
  import Draggable from "vuedraggable";
  import updateQueue from "../mixins/updateQueue";
  import EditCollection from "./EditCollection";
  import editHelper from "sv/js/components/mixins/editHelper";
  import EditZoneTranslations from "sv/js/components/translations/EditZoneTranslations";

  export default {
    name: "EditZone",
    components: {EditZoneTranslations, EditCollection, EditField, EditModule, EditMedia, EditGallery, EditModuleSelector, Skeleton, Draggable},
    mixins: [updateQueue, editHelper],
    props: ['zone', 'data'],
    data: function () {
      return {
        'pendingOrderModules': null,
        'moduleSelectorOpen': false,
        'isExpanded': true,
        'expandAllModules': true,
        'inactiveIfNew': [
          'modules',
          'medias',
          'collection'
        ],
        'hasNewModule': null,
      }
    },
    computed: {
      ...mapState('languages', [
        'currentLocale'
      ]),
      fields: function() {
        return this.zone.type === 'properties' && this.zone.fields ? this.zone.fields : null;
      },
      medias: function() {
        return this.zone.type === 'medias' && this.zone.medias ? this.zone.medias : null;
      },
      modules: function() {
        return this.zone.type === 'modules' && this.data ? this.data : null;
      },
      shownModules: {
        get: function() {
          return this.pendingOrderModules ? this.pendingOrderModules : this.modules;
        },
        set: function (value) {
          this.pendingOrderModules = value;
          this.queueUpdate(this.orderModules, {
            apiName: 'modules_order',
            zone: this.zone.name,
            locale: this.currentLocale,
            value: {
              modules: value.map((module) => module.id)
            }
          });
        }
      },
      nextModulePosition: function () {
        return (this.shownModules && this.shownModules.length > 0) ? _.maxBy(this.shownModules, 'position').position + 1 : 0;
      },
      isInactive: function () {
        return this.isNew && this.inactiveIfNew.includes(this.zone.type);
      },
      ...mapState('edits', [
        'isLoading'
      ]),
    },
    methods: {
      ...mapActions('edits', [
        'orderModules'
      ]),
      getFieldValue: function(fieldIdentifier) {
        if(this.data) {
          return _.get(this.data, fieldIdentifier);
        } else {
          return null;
        }
      },
      getModuleFields: function() {
        let fields = [];
        for(let index in this.data) {
          let moduleField = this.data[index];
          if(moduleField.zone === this.zone.name) {
            fields.push(moduleField);
          }
        }
        return fields;
      },
      toggleModuleSelector: function () {
        this.moduleSelectorOpen = !this.moduleSelectorOpen;
        this.$nextTick(() => {
          this.$refs[this.zone.name+'_moduleselector'].$el.scrollIntoView({
            block: 'center',
            behavior: 'smooth'
          });
        });
      },
      closeModuleSelector: function () {
        this.moduleSelectorOpen = false;
      },
      toggleAccordion: function () {
        this.isExpanded = !this.isExpanded;
      },
      toggleModulesAccordion: function () {
        this.expandAllModules = !this.expandAllModules;
      },
      expandLastModuleAdded: function (value) {
        this.hasNewModule = value;
      }
    },
    created() {
      this.isExpanded = this.zone.expanded;
    },
    watch: {
      modules: function () {
        this.pendingOrderModules = null;
      },
    },
  }
</script>

<style scoped lang="scss">
  // @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  // @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .add-input-group{
    color: $alpha;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
    background-color: transparent;
    border:0;
    cursor: pointer;
    margin-top: 40px;
    i{
      width: 13px;
      height: 13px;
      display: inline-block;
      margin-right: 10px;
      vertical-align: bottom;
      background-image: url('img/icons/icon-add-meta.svg');
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
  .zone-skeleton {
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
    /deep/ .skeleton {
      height: 40px;
    }
  }
  .button-accordion {
    border: 0;
    background: transparent;
    cursor: pointer;
    color: $alpha;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    .chevron {
      text-align: center;
      width: 24px;
      height: 24px;
      background-color: $bgOne;
      color: $bgThree;
      margin: 0 10px;
      display: inline-block;
      position: relative;

      &:before {
        content: " ";
        width: 9px;
        height: 7px;
        transition: transform 0.3s ease-in-out;
        background-image: url('img/icons/icon-carret-up-grey.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        right: 7px;
        top: calc(50% - 3.5px);
        @include rotate(180);
      }
    }
    &.is-expanded {
      .chevron:before {
        @include rotate(0);
      }
    }
  }
</style>
