<template>
  <div class="input-group" :class="{deleting: isDeleting}">
    <label>{{getMetaTagLabel(metaTag)}}</label>
    <input @input="updateMetaTag" type="text" class="empty" :value="metaTag.content" required="required">
    <div @click="toggleMetaTagActions" id="for-other-actions" class="dropdown-button other-actions-button">
      <span>...</span>
      <edit-meta-tag-actions :show="showActions" :ref="metaTag.name+'_actions'" @close="closeMetaTagActions" @delete="doDeleteMetaTag(metaTag)"></edit-meta-tag-actions>
    </div>
  </div>
</template>

<script>
  import EditMetaTagActions from "./EditMetaTagActions";
  import {mapActions} from "vuex";
  import updateQueue from "../mixins/updateQueue";
  import editHelper from "../mixins/editHelper";

  export default {
    name: "EditMetaTags",
    components: {EditMetaTagActions},
    props: ['metaTag', 'metaTagIndex', 'availableMetaTags'],
    mixins: [updateQueue, editHelper],
    data: function () {
      return {
        'showActions': false,
        'isDeleting': false
      }
    },
    methods: {
      ...mapActions('edits',  [
        'deleteMetaTag',
        'removeMetaTagFromContent',
        'updateCurrentContent'
      ]),
      closeMetaTagActions: function () {
        this.showActions = false;
      },
      toggleMetaTagActions: function () {
        this.showActions = !this.showActions;
      },
      getMetaTagLabel: function (metaTag) {
        let availableMetaTag = this.availableMetaTags ? this.availableMetaTags.find((available) => {
          return available.name === metaTag.name;
        }): null;

        return availableMetaTag ? availableMetaTag.label : null;
      },
      updateMetaTag: function(event) {
        let value = event.target.value;
        this.queueUpdate(this.updateCurrentContent, {
          path: [this.metaTagIndex],
          value: {
            'content': value
          },
          id: this.metaTag.id,
          locale: this.currentLocale,
          apiName: 'metatags',
          apiReference: 'metatags_update',
          query: this.actionParameters
        });
      },
      doDeleteMetaTag: function (metaTag) {
        let id = metaTag.id;
        this.isDeleting = true;
        this.deleteMetaTag(id).then(() => {
          this.removeMetaTagFromContent(id);
          this.isDeleting = false;
        });
      }
    }
  }
</script>

<style lang="scss" scoped>
  .input-group input:not(.vs__search) {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .input-group.deleting {
    opacity: 0.4;
  }
</style>
