<template>
  <div class="input-group element-container" :class="{deleting: isDeleting}">
    <div class="flex-group">
      <button v-if="zone.options.positionable" class="move-flex-group"></button>
      <div class="module-content input-group" :class="style" :style="gridLayout">
        <edit-field v-for="field in zone.fields" :field="field" :key="field.identifier" :zone="zone" :value="data[field.identifier]" @update="updateElement" context="collection"></edit-field>
      </div>
      <button @click="deleteElement" type="button" class="delete-flex-group" ></button>
    </div>
  </div>
</template>

<script>
  import _ from "lodash";
  import EditField from "./EditField";
  import {mapActions} from "vuex";
  import MediaField from "sv/js/components/edit/fields/MediaField.vue";
  import editHelper from "sv/js/components/mixins/editHelper";

  export default {
    name: "EditCollectionElement",
    components: {EditField},
    props: ['data', 'zone', 'index'],
    mixins: [editHelper],
    computed: {
      isDeleting: function () {
        return _.has(this.data, 'deleting') && this.data.deleting;
      },
      style: function () {
        switch (this.zone.options.style) {
          case 'column':
            return 'column-layout';
          case 'half_column':
            return 'half-column-layout';
          default:
            return '';
        }
      },
      gridLayout: function () {
        if (this.zone.options.style === 'column' && !_.isNil(this.zone.options.template)) {
          return {gridTemplateColumns: this.zone.options.template}
        } else if (this.zone.options.style === 'column') {
          return {gridTemplateColumns: 'repeat('+this.zone.fields.length+', 1fr)'}
        }
        return null
      }
    },
    methods: {
      ...mapActions('edits', [
        'updateCollectionElement',
        'deleteCollectionElement'
      ]),
      deleteElement: function () {
        this.deleteCollectionElement({
          apiReference: this.zone.api + '_delete',
          id: this.data.id,
          path: [this.zone.options.collection, this.index],
          locale: this.currentLocale
        });
      },
      updateElement: _.debounce(function (payload) {
        let value = {};
        switch(payload.fieldType) {
          case 'select':
          case 'autocomplete':
            value[payload.fieldIdentifier] = {id: payload.value};
            break;
          default:
            value[payload.fieldIdentifier] = payload.value;
            break;
        }

        this.updateCollectionElement({
          apiReference: this.zone.api + '_update',
          path: [this.zone.options.collection, this.index],
          value,
          id: this.data.id,
          locale: this.currentLocale
        });
      }, 500)
    }
  }
</script>

<style scoped lang="scss">

  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .input-group.element-container {
    padding-top: 3px;
  }

  // label
  /deep/ .label{
    color: $alpha;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    top: auto;
    left: auto;
  }
  /deep/ input:not(.vs__search),
  /deep/ textarea:not(.vs__search){
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    padding: 14px 16px;
    margin:0;
    border:0;
    background-color: white;
  }
  /deep/ textarea:not(.vs__search){
    min-height:92px;
  }
  /deep/ .module-content{
    flex-grow: 3;
  }
  .flex-group{
    margin: 0 0 0;
    display: flex;
    .move-flex-group{
      width: 29px;
      display: block;
      padding: 0;
      margin:0 3px 0 0;
      background-color: white;
      background-image: url('img/icons/icon-move.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 17px 15px;
      border:0;
      border-radius: 2px;
      cursor: move;
      &:hover,
      &:focus,
      &:active{
        background-color: darken($bg,10%);
      }
    }
    .delete-flex-group{
      width: 29px;
      display: block;
      padding: 0;
      margin:0 0 0 3px;
      background-color: $alert;
      background-image: url('img/icons/icon-bin.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 17px 15px;
      border:0;
      border-radius: 2px;
      cursor: pointer;
      &:hover,
      &:focus,
      &:active{
        background-color: darken($alert, 10%);
      }
    }
    .input-group{
      padding-top: 0;
      width: 100%;
    }
    input:not(.vs__search){
      margin: 0 0 3px;
    }

  }

  .input-group.deleting {
    opacity: 0.4;
  }
  /deep/ .no-margin-on-last-input input,
  /deep/ .no-margin-on-last-textarea textarea{
    margin-bottom: 0;
  }

  .half-column-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    border-bottom: 2px solid #ffffff;
    margin-top: 16px;
    padding-bottom: 16px;
    & > .input-group {
      width: calc(50% - 16px);
    }
  }

  .column-layout {
    display: grid;
    grid-gap: 16px;
    border-bottom: 2px solid #ffffff;

    & > .input-group {
      padding-top: 16px;
      padding-bottom: 16px;
      width: auto;
    }
  }
</style>
