<template>
  <div class="edit-content">
    <edit-meta-tags v-if="isMetaTaggable" :data="content.metatags"></edit-meta-tags>
    <edit-zone v-for="zone in zones" :key="zone.name" :zone="zone" :data="getZoneData(zone)"></edit-zone>
  </div>
</template>

<script>
  import EditZone from "./EditZone";
  import editHelper from "../mixins/editHelper";
  import EditMetaTags from "./EditMetaTags";

  export default {
    name: "EditContent",
    components: {EditMetaTags, EditZone},
    mixins: [editHelper],
    methods: {
      getZoneData: function(zone) {
        if(!this.content) {
          return null;
        }
        switch(zone.type) {
          case 'properties':
            return this.content;
          case 'medias':
            return this.content[zone.type].reduce((carry, element) => ({...carry, [element.identifier]: element}), {});
          case 'collection':
            let collectionName = zone.options.collection;
            return this.content[collectionName];
          case 'modules':
            return this.content.modules.map((module, index) => {
              module.index = index;
              return module;
            }).filter((module) => {
              return module.zone === zone.name;
            });
          case 'gallery':
            return this.content.galleries !== undefined ? this.content.galleries.find((gallery) => gallery.identifier === zone.gallery.identifier) : null;
          case 'translations':
            return _.pick(this.content, ['id', 'discriminator', 'translations']);
          default:
            return this.content[zone.type];
        }
      }
    }
  }
</script>

<style>

</style>
