<template>
  <div class="input-group">
    <label v-if="field.label" :for="field.identifier">{{field.label}} <span class="required-star" v-if="field.required">*</span></label>
    <div v-if="zone.type !== 'properties' && zone.type !== 'collection'" id="for-other-actions" class="dropdown-button other-actions-button">
      <span>...</span>
    </div>
    <p v-if="field.description" class="legend">{{field.description}}</p>
    <div class="flex-group" v-if="!field.readonly">
      <component v-if="fieldComponent(field.type)"
        :is="fieldComponent(field.type)"
        :field="field"
        :zone-type="zone.type"
        :value="value"
        :options="field.options"
        :api="field.api"
        :parameters="field.parameters"
        :locale="currentLocale"
        @update="updateField"
      ></component>
      <div class="not-found" v-else>
        Can't display field: type "{{field.type}}" not found
      </div>
    </div>
    <div v-else>
      <component v-if="showFieldComponent(field.type)"
         :is="showFieldComponent(field.type)"
         :field="field"
         :label="field.label"
         :show-label="false"
         :description="field.description"
         :zone-type="zone.type"
         :value="value"
         :options="field.options"
         :api="field.api"
         :parameters="field.parameters"
         :locale="currentLocale"
      ></component>
      <p v-else>{{ value }}</p>
    </div>
    <div v-if="violation" class="field-violation">{{violation}}</div>
  </div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";
  import updateQueue from "../mixins/updateQueue";
  import editHelper from "sv/js/components/mixins/editHelper";
  import editFieldFinder from "../mixins/editFieldFinder";
  import showFieldFinder from "../mixins/showFieldFinder";

  export default {
    name: "EditField",
    props: ['field', 'zone', 'value', 'context'],
    mixins: [updateQueue, editHelper, editFieldFinder, showFieldFinder],
    computed: {
      ...mapState('languages', [
        'currentLocale'
      ]),
      ...mapGetters('edits', [
        'getFieldViolation'
      ]),
      violation: function () {
        return this.getFieldViolation(this.field.identifier);
      }
    },
    methods: {
      ...mapActions('edits', [
        'updateCurrentContent'
      ]),
      updateField: function(fieldIdentifier, value) {
        switch(this.context) {
          case 'properties':
            this.queueUpdate(
              this.updateCurrentContent,
              {
                path: [fieldIdentifier],
                property: fieldIdentifier,
                value: value,
                apiName: this.zone.api,
                locale: this.currentLocale,
                query: this.actionParameters
              }
            );
            break;
          case 'collection':
            this.$emit('update', {fieldIdentifier, fieldType: this.field.type, value});
            break;
          default:
            console.error('Context ' + this.context + ' is not implemented for EditField');
            break;
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .not-found {
    color: rgba(207, 80, 86, 0.51);
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .required-star {
    font-size: 12px;
    vertical-align: super;
  }
  .field-violation {
    color: rgb(207, 80, 86);
    font-style: italic;
  }
</style>
