<template>
  <div v-if="data" class="accordion" :class="{'is-expanded': accordionOpen}">
    <div class="accordion-title-block">
      <a @click="accordionOpen = !accordionOpen" aria-expanded="false" class="accordion-title">données pour le référencement</a>
    </div>
    <div class="accordion-content accordion-item" aria-hidden="true">
      <div class="accordion-content-insider">
        <form>
          <edit-meta-tag v-for="(metaTag, metaTagIndex) in data" :key="'metaTag_'+metaTag.id" :meta-tag="metaTag" :available-meta-tags="availableMetaTags" :meta-tag-index="metaTagIndex"></edit-meta-tag>
        </form>
        <div id="add-metatag" class="dropdown-button add-input-group" @click="toggleMetaTagSelector"><i></i>Ajouter une donnée pour le référencement</div>
        <edit-meta-tags-selector :show="showSelector" :used="data" @close="closeMetaTagSelector"></edit-meta-tags-selector>
      </div>
    </div>
  </div>
</template>

<script>
  import EditMetaTagsSelector from "./EditMetaTagsSelector";
  import EditMetaTag from "./EditMetaTag";
  import {mapGetters} from "vuex";

  export default {
    name: "EditMetaTags",
    components: {EditMetaTagsSelector, EditMetaTag},
    props: ['data'],
    data: function () {
      return {
        'accordionOpen': false,
        'showSelector': false,
      }
    },
    computed: {
      ...mapGetters('general', {
        'availableMetaTags': 'getMetaTags'
      })
    },
    methods: {
      toggleMetaTagSelector: function () {
        this.showSelector = !this.showSelector;
      },
      closeMetaTagSelector: function () {
        this.showSelector = false;
      }
    }
  }
</script>

<style lang="scss" scoped>
  // @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  // @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';

  .add-input-group{
    color: $alpha;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
    background-color: transparent;
    border:0;
    cursor: pointer;
    margin-top: 20px;
    i{
      width: 13px;
      height: 13px;
      display: inline-block;
      margin-right: 10px;
      vertical-align: bottom;
      background-image: url('img/icons/icon-add-meta.svg');
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
</style>
