<template>
  <div class="accordion" :class="{'is-expanded': isExpanded}">
    <div class="flex-group">
      <button class="move-flex-group"></button>

      <div class="accordion-title-block">
        <a @click="toggleAccordion" aria-expanded="false" class="accordion-title label">{{label}}<span v-if="moduleGuide.description" :data-tippy-content="moduleGuide.description" class="icon-info"><i class="fa fa-info-circle"></i></span></a>
        <div class="dropdown-wrapper">
          <div @click="toggleModuleActions" class="dropdown-button other-actions-button">
            <span>...</span>
          </div>
          <edit-module-actions :show="showModuleActions" :ref="module.name+'_actions'" @close="closeModuleActions" @delete="doDeleteModule"></edit-module-actions>
        </div>
      </div>
    </div>
    <div class="accordion-content accordion-item" aria-hidden="true">
      <div class="accordion-content-insider">
        <div class="input-group" :class="{deleting: isDeleting}">
            <component
              :is="moduleComponent"
              :module="module"
              :guide="moduleGuide"
              @update="updateModule"
              @overrideLabel="overrideLabel"
            ></component>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions, mapGetters, mapState} from "vuex";
  import TitleModule from "./modules/TitleModule";
  import ParagraphModule from "./modules/ParagraphModule";
  import RichParagraphModule from "./modules/RichParagraphModule";
  import DefaultModule from "./modules/DefaultModule";
  import {snakeToPascal} from "../../util/textTransformer";
  import updateQueue from "../mixins/updateQueue";
  import TitleParagraphModule from "./modules/TitleParagraphModule";
  import EditModuleActions from "./EditModuleActions";
  import editHelper from "sv/js/components/mixins/editHelper";
  import tippy from "tippy.js";

  export default {
    name: "EditModule",
    components: {EditModuleActions},
    props: ['module', 'zone', 'index', 'expanded', 'new'], //index = absolute for all modules in resource, not juste for zone
    mixins: [updateQueue, editHelper],
    data: function () {
      return {
        overriddenLabel: null,
        showModuleActions: false,
        isDeleting: false,
        isExpanded: this.new ? true : this.expanded,
      };
    },
    computed: {
      ...mapState('languages', [
        'currentLocale'
      ]),
      moduleComponent: function() {
        switch(this.module.guideIdentifier){
          case 'title':
            return TitleModule;
          case 'paragraph':
            return ParagraphModule;
          case 'rich_paragraph':
            return RichParagraphModule;
          case 'title_paragraph':
            return TitleParagraphModule;
          case 'default':
            return DefaultModule;
          default: //Custom modules loaded via backend.js, if not found we use DefaultModule
            let CustomModule = snakeToPascal(this.module.guideIdentifier) + "Module";
            if(this.$root.importedComponents.includes(CustomModule)) {
              return CustomModule;
            }
            return DefaultModule;
        }
      },
      moduleGuide: function() {
        return this.getModuleGuide()(this.module.guideIdentifier);
      },
      label: function () {
        return this.overriddenLabel ?? this.moduleGuide.label;
      }
    },
    methods: {
      ...mapActions('edits', [
        'updateCurrentContent',
        'deleteModule',
        'removeModuleFromContent',
        'addModuleNewParameterIds'
      ]),
      ...mapGetters('general', [
        'getModuleGuide'
      ]),
      updateModule: function(value, parameter, validateOnly = false) {
        this.queueUpdate(this.updateCurrentContent, {
          apiName: 'modules',
          path: [this.index],
          value,
          id: value.id,
          parameter,
          locale: this.currentLocale,
          apiReference: 'modules_update',
          query: this.actionParameters
        }, (response) => {
          if(_.has(response.data, 'new_parameters')) {
            let newParameters = response.data.new_parameters;
            this.addModuleNewParameterIds({
              newParameters,
              moduleId: this.module.id,
              locale: this.currentLocale
            });
          }
        }, null, false, validateOnly);
      },
      overrideLabel: function (label) {
        this.overriddenLabel = label;
      },
      toggleModuleActions: function () {
        this.showModuleActions = !this.showModuleActions;
        // this.$nextTick(() => {
        //   this.$refs[this.module.name+'_actions'].$el.scrollIntoView({
        //     block: 'center',
        //     behavior: 'smooth'
        //   });
        // });
      },
      closeModuleActions: function () {
        this.showModuleActions = false;
      },
      doDeleteModule: function () {
        let id = this.module.id;
        this.isDeleting = true;
        this.deleteModule(id).then(() => {
          this.removeModuleFromContent({
            moduleId: id,
            locale: this.currentLocale
          });
          this.isDeleting = false;
        });
      },
      toggleAccordion: function () {
        this.isExpanded = !this.isExpanded;
      }
    },
    watch: {
      expanded: function () {
        this.isExpanded = this.expanded;
      },
    },
    mounted() {
      tippy('[data-tippy-content]');
    }
  }
</script>

<style scoped lang="scss">

  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  // label
  /deep/ .label{
    color: $alpha;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    top: auto;
    left: auto;
    .icon-info {
      color: $bgThree;
    }
  }
  /deep/ input,
  /deep/ textarea{
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    padding: 14px 16px;
    margin:0 0 3px;
    border:0;
    background-color: white;
  }
  .module-content input{
    margin: 0 0 3px;
  }
  /deep/ textarea{
    min-height:92px;
  }
  /deep/ .module-content{
    flex-grow: 3;
  }
  .flex-group{
    //padding-top: 10px;
    //margin: 10px 0 20px;
    display: flex;
    .move-flex-group{
      width: 29px;
      display: block;
      padding: 0;
      margin:0 3px 0 0;
      background-color: white;
      background-image: url('img/icons/icon-move.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 17px 15px;
      border:0;
      cursor: move;
      &:hover,
      &:focus,
      &:active{
        background-color: darken($bg,10%);
      }
    }
    .input-group{
      padding-top: 0;
      width: 100%;
    }
    input{
      margin: 0 0 3px;
    }

  }

  .input-group.deleting {
    opacity: 0.4;
  }
  /deep/ .no-margin-on-last-input input,
  /deep/ .no-margin-on-last-textarea textarea{
    margin-bottom: 0;
  }
  .dropdown-wrapper {
    position: absolute;
    top: 0;
    right: 27px;
    .dropdown-content {
      right: 0;
    }
    .other-actions-button {
      margin: 0 3px 0 0;
    }
  }
</style>
