<template>
  <div>
    <draggable handle=".move-flex-group" v-model="elements" forceFallback="true">
      <edit-collection-element v-for="(element, elementIndex) in data" :key="'element_'+element.id" :data="element" :zone="zone" :index="elementIndex"></edit-collection-element>
    </draggable>
    <skeleton v-for="index in addingElements" class="add-element-skeleton" :key="'add_element_'+index"></skeleton>
    <div class="add-element-container">
      <div id="add-element" class="dropdown-button add-input-group" @click="addElement"><i></i>Ajouter</div>
    </div>
  </div>
</template>

<script>
  import EditCollectionElement from "./EditCollectionElement";
  import Draggable from "vuedraggable";
  import {mapActions} from "vuex";
  import editHelper from "../mixins/editHelper";
  import Loader from "sv/js/components/common/Loader";
  import Skeleton from "sv/js/components/common/Skeleton";

  export default {
    name: "EditCollection",
    components: {Skeleton, Loader, EditCollectionElement, Draggable},
    props: ['zone', 'data'],
    mixins: [editHelper],
    data: function () {
      return {
        shownElements: null,
        addingElements: 0
      };
    },
    computed: {
      elements: {
        get: function () {
          return this.shownElements ? this.shownElements : this.data;
        },
        set: function (elements) {
          this.shownElements = elements;
        }
      },
      nextPosition: function () {
        let lastElement = _.maxBy(this.elements, 'position');
        return lastElement !== undefined ? lastElement.position + 1 : 0;
      }
    },
    methods: {
      ...mapActions('edits', [
        'createCollectionElement',
        'addCollectionElementToContent',
        'orderCollection'
      ]),
      addElement: function () {
        this.addingElements++;
        let newElement = {};
        newElement[this.zone.options.owner] = this.content.id;
        _.each(this.zone.fields, (field) => {
          if (field.type === 'integer' && field.defaultValue !== null) {
            newElement[field.identifier] = parseInt(field.defaultValue)
          } else {
            newElement[field.identifier] = field.defaultValue ?? null;
          }
        });
        newElement.position = this.nextPosition;
        this.createCollectionElement({
          apiReference: this.zone.api + '_create',
          locale: this.currentLocale,
          data: newElement
        }).then((response) => {
          this.addCollectionElementToContent({
            collection: this.zone.options.collection,
            element: response.data
          });
          this.addingElements--;
        });
      },
      updateCollectionOrder: function () {
        let order = this.shownElements ? this.shownElements.map((element) => element.id) : null;
        if(order) {
          this.orderCollection({
            apiReference: this.zone.api + '_order',
            path: [this.zone.options.collection],
            type: 'collection',
            value: order,
            locale: this.currentLocale
          });
        }
      }
    },
    watch: {
      elements: {
        handler: 'updateCollectionOrder',
        deep: true
      }
    }
  }
</script>

<style scoped lang="scss">
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .add-element-container {
    margin-top: 30px;
    .add-input-group {
      color: $alpha;
      font-size: 12px;
      text-transform: uppercase;
      padding: 0;
      background-color: transparent;
      border: 0;
      cursor: pointer;

      i {
        width: 13px;
        height: 13px;
        display: inline-block;
        margin-right: 10px;
        vertical-align: bottom;
        background-image: url('img/icons/icon-add-meta.svg');
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
  }

  .add-element-skeleton {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 32px;
    border-radius: 3px;
  }
</style>
