<template>
  <div v-if="show" class="modal-layout">
    <div class="modal-overlay" @click.self="close"></div>
    <div class="modal is-open">
      <h3>Éditer les métas du média</h3>
      <button @click="close" class="close"></button>
      Alt : <input type="text" v-model="alt"><br>
<!--      Nom du fichier :  <input type="text" v-model="name"><br>-->
      <button @click.prevent="update" class="button alpha">Modifier</button>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "EditMediaInfo",
  props: ['value', 'show', 'context'],
  data: function () {
    return {
      alt: this.value.alt,
      name: this.value.providerReference
    }
  },
  methods: {
    ...mapActions('edits', [
      'updateMedia',
    ]),
    close: function () {
      this.$emit('close');
    },
    update: function () {
      this.updateMedia({
        'type': this.context,
        'identifier': this.value.identifier,
        'moduleId': this.context === 'module' ? this.value.resourceIdentifier : null,
        'media': this.value,
        'name': this.name,
        'alt': this.alt,
        'locale': this.currentLocale,
        'position': null
      });
      this.$emit('close');
    }
  }
}
</script>

<style scoped lang="scss">
@import 'sv/scss/modules/_fonts.scss';
@import 'sv/scss/modules/_colors.scss';
@import 'sv/scss/modules/_variables.scss';
@import 'sv/scss/modules/_mixins.scss';

.button{
  color:$white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
  background-color: $alpha;
  border:0;
  cursor:pointer;
  &:hover{
    background-color: darken($alpha,10%);
  }
  &.delete{
    color: $alert;
    text-transform:lowercase;
    background-color:transparent;
    padding: 10px 0;
    &:hover{
      color: darken($alert,10%);
    }
  }
  &.disabled {
    background-color: $bgThree;
    &:hover {
      cursor: not-allowed;
    }
  }
}
.modal-layout{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:10002;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001;
}
.modal{
  min-height:20vh;
  width: 90%;
  max-height: 80%;
  max-width: 700px;
  padding: 16px;
  border:solid 8px $white;
  background-color:#F8F7F5;
  overflow: scroll;
  position:absolute;
  top:50%;
  left: 50%;
  z-index:10003;
  @include translate(-50%,-50%);
  @include shadow(2px,2px,6px,-4px,#000);

  h3 {
    margin-top: 0;
  }
  p.no-errors{
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
  .error-details {
    font-size: 12px;
    p {
      margin: 0 0 10px 0;
    }
  }
}
.close{
  width:26px;
  height:26px;
  padding:0;
  background-image: url('img/icons/icon-close-grey.svg');
  background-size:100%;
  background-color: transparent;
  border:0;
  position: absolute;
  top:8px;
  right:8px;
  cursor:pointer;
  &:hover {
    opacity: 0.6;
  }
}
</style>
