
{% if resource is defined and resource.responseHeaders is defined and attribute(resource.responseHeaders, 'sg-preview-hash') is defined and app.request.query.has('preview') %}
    {% set validHash = attribute(resource.responseHeaders, 'sg-preview-hash')|first %}
    {% if validHash == 'invalid' %}
        <div class="previewBar error">
            <p>[Mode PREVIEW] Le hash fourni ne correspond à aucun brouillon. Version publiée affichée</p>
        </div>
    {% elseif validHash == 'valid' %}
        <div class="previewBar">
            <p>
                [Mode PREVIEW] Vous visualisez une version brouillon.
            </p>
        </div>
    {% endif %}
{% endif %}

<style>
.previewBar {
    color: white;
    width: 100%;
    position: fixed;
    z-index: 999999;
    padding: 1rem 2rem;
    background-color: rgba(140, 187, 70, 0.7);
}
.previewBar p{
    margin:0;
    text-align: center;
    color: white;
}
.previewBar.error {
    background-color: rgba(228, 43, 47, 0.7);
}
.previewBar.error p {
    color: white;
}
</style>
