<template>
  <div :class="classCss">
    <label v-if="label">{{label}}</label>
    <v-select @search="search" v-model="choice" :options="choices" :filterable="false" :clearable="clearable" :class="{error: hasError}">
      <template #no-options="{ search }">
        <span v-if="search.length >= 3">Aucun résultat</span>
        <span v-else-if="search.length > 0">Tapez 3 caractères minimum</span>
        <span v-else>{{ placeholder }}</span>
      </template>
      <template #spinner="{ loading }">
        <loader v-if="loading" size="small"></loader>
      </template>
      <template #option="{ label }">
        {{ label }}
      </template>
      <template #selected-option="{ label }">
        {{ label }}
      </template>
    </v-select>
  </div>
</template>

<script>
import editField from "../../mixins/editField";
import api from "sv/js/api";
import editHelper from "sv/js/components/mixins/editHelper";
import VSelect from "vue-select";
import 'vue-select/dist/vue-select.css';
import Loader from "../../common/Loader";
import _ from "lodash";

export default {
  name: "AutocompleteField",
  components: {Loader, VSelect},
  mixins: [editField, editHelper],
  data: function () {
    return {
      choices: [],
      isLoading: false,
      newChoice: null,
    };
  },
  computed: {
    classCss: function () {
      return this.forModule ? 'autocomplete-container for-module' : 'autocomplete-container';
    },
    clearable: function () {
      if (this.forModule) {
        return _.has(this.options.options, 'clearable') && this.options.options.clearable;
      }
      return _.has(this.options, 'clearable') && this.options.clearable;
    },
    choice: {
      get: function () {
        return this.newChoice;
      },
      set: function (choice) {
        this.newChoice = choice;
        let payload = {
          value: null
        };
        if(choice) {
          payload[this.resourceIdentifierKey] = choice[this.resourceIdentifierKey];
          payload[this.resourceClassKey] = choice[this.resourceClassKey];
        } else {
          payload[this.resourceIdentifierKey] = null;
          payload[this.resourceClassKey] = null;
        }
        this.update(payload);
      }
    },
    currentValue: function () {
      return _.isObject(this.value) && _.has(this.value, 'id') ? this.value.id : this.value;
    },
    isDisabled: function () {
      return this.field.readonly;
    },
    placeholder: function () {
      let placeholder = 'Rechercher...';
      if (this.forModule && _.has(this.options.options, 'placeholder')) {
        placeholder = this.options.options.placeholder;
      } else if (_.has(this.options, 'placeholder')) {
        placeholder = this.options.placeholder;
      }
      return placeholder;
    },
    resourceClassKey: function () {
      let resourceClassKey = 'resourceClass';
      if (this.forModule && _.has(this.options.options, 'mapResource')) {
        resourceClassKey = this.options.options.mapResource?.resourceClass;
      }  else if (_.has(this.options, 'mapResource')) {
        resourceClassKey = this.options.mapResource?.resourceClass;
      }
      return resourceClassKey;
    },
    resourceIdentifierKey: function () {
      let resourceIdentifierKey = 'resourceIdentifier';
      if (this.forModule && _.has(this.options.options, 'mapResource')) {
        resourceIdentifierKey = this.options.options.mapResource?.resourceIdentifier;
      }  else if (_.has(this.options, 'mapResource')) {
        resourceIdentifierKey = this.options.mapResource?.resourceIdentifier;
      }
      return resourceIdentifierKey;
    },
  },
  methods: {
    search: _.debounce(function (search, loading) {
      if (this.api !== undefined && search.length >= 3) {
        loading(true);
        //TODO : check if is used / works
        let parameters = this.buildParametersFromData(this.content, this.parameters);
        parameters.search = search;

        api.squareview(
          'GET',
          this.api.replace('.', '_'),
          parameters
        ).then((response) => {
          if (response.status === 200 && _.isArray(response.data)) {
            this.choices = response.data.map((result) => {
              let data = {
                'label': this.formatResult(result)
              };
              data[this.resourceClassKey] = result.resourceClass;
              data[this.resourceIdentifierKey] = _.toString(result.id);
              return data;
            });
          } else {
            console.error('api for select field ' + this.field.id + ' returned a response that was not in the correct format. Awaiting status 200 and array.', response);
          }
        }).finally(() => {
          loading(false);
        });
      }
    }, 300),
    //TODO : bolden suggestions (this was used and worked for another autocomplete solution, see if it can be adapted)
    // boldenSuggestion: function (scope) {
    //   if (!scope) return scope;
    //   const { suggestion, query } = scope;
    //   let result = this.$refs.suggestComponent.displayProperty(suggestion);
    //   if (!query) return result;
    //   const texts = query.split(/[\s-_/\\|\.]/gm).filter(t => !!t) || [''];
    //   return result.replace(new RegExp('(.*?)(' + texts.join('|') + ')(.*?)','gi'), '$1<b>$2</b>$3');
    // }
  },
  created() {
    this.newChoice = this.formatResult(this.value);
  }
}
</script>

<style lang="scss" scoped>
@import 'sv/scss/modules/_fonts.scss';
@import 'sv/scss/modules/_colors.scss';

/deep/ .vs--single .vs__search, /deep/ .vs--single .vs__selected {
  background-color: white;
  padding: 14px 16px;
  margin: 0;
}
/deep/ .vs--single.vs--open .vs__search {
  opacity: 0.4;
}
/deep/ .vs--single .vs__dropdown-toggle {
  background-color: white;
  border: none;
  padding-bottom: 0;
}
/deep/ input.vs__search {
  font-family: $font1;
  color: $text;
  width: auto;
  margin-bottom: 3px;
}
.autocomplete-container.for-module {
  margin-bottom: 3px;
}
/deep/ .vs--single.vs--searchable.error {
  border-bottom: 1px solid;
  border-bottom-color: rgba(207, 80, 86, 0.51);
}
</style>
