<template>
  <datepicker
    :id="field.identifier"
    :name="field.identifier"
    :value="inputValue"
    :language="fr"
    @selected="updateDate"
    :format="formatDateForTemplate"
    :full-month-name="true"
    :monday-first="true"
    :required="isRequired"
    :class="{error: hasError}"
    :input-class="{error: hasError}"
    clear-button
    @cleared="clearDate"
  ></datepicker>
</template>

<script>
  import Datepicker from "vuejs-datepicker";
  import {fr} from 'vuejs-datepicker/dist/locale';
  import editField from "../../mixins/editField";
  import moment from "moment";

  export default {
    name: "DateField",
    components: {Datepicker},
    mixins: [editField],
    data: function () {
      return {
        'fr': fr
      }
    },
    props: {
      placeholder: {
        type: String,
        default: null
      },
      fromDateTime: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      formatDateForTemplate: function (date) {
        moment.locale('fr');
        return moment(date).format('DD MMMM YYYY');
      },
      formatDateForUpdate: function (date) {
        return moment(date).format('YYYY-MM-DD');
      },
      updateDate: function (date) {
        if(date !== null) {
          if (this.fromDateTime) {
            let momentDate = moment(date);
            let dateArray = {
              year: momentDate.year(),
              month: momentDate.month(),
              date: momentDate.date()
            };
            this.$emit('datetime', dateArray);
          } else {
            let formattedDate = this.formatDateForUpdate(date);
            this.update(formattedDate);
          }
        }
      },
      clearDate: function () {
        if(this.fromDateTime) {
          this.$emit('datetime', null);
        } else {
          this.update(null);
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .vdp-datepicker.error /deep/ input.error {
    border-bottom: 1px solid;
    border-bottom-color: rgba(207, 80, 86, 0.51);
  }
  /deep/.vdp-datepicker__clear-button {
    position: absolute;
    right: 7px;
    top: 13px;
    span {
      font-family: sans-serif;
      font-size: 1.05em;
      font-style: normal;
      color: #d2d2d2;
      &:hover {
        color: #828282;
        transition: color .2s;
      }
    }
  }
</style>
