<template>
  <div class="datetime">
    <date-field
      :field="field"
      :value="value"
      :options="options"
      :api="api"
      :parameters="parameters"
      :for-module="forModule"
      :module="module"
      :placeholder="placeholder"
      class="datetime-date"
      @datetime="dateTimeUpdate"
      from-date-time
    ></date-field>
    <time-field
      :field="field"
      :value="value"
      :options="options"
      :api="api"
      :parameters="parameters"
      :for-module="forModule"
      :module="module"
      class="datetime-time"
      @datetime="dateTimeUpdate"
      from-date-time
    ></time-field>
  </div>
</template>

<script>
  import DateField from "./DateField";
  import TimeField from "./TimeField";
  import editField from "../../mixins/editField";
  import moment from "moment";

  export default {
    name: "DateTimeField",
    components: {DateField, TimeField},
    mixins: [editField],
    props: {
      placeholder: {
        type: String,
        default: null
      }
    },
    methods: {
      dateTimeUpdate: function(value) {
        if(value === null) {
          this.update(null);
        } else {
          let datetime;
          if (this.inputValue !== null) {
            datetime = moment(this.inputValue);
          } else {
            datetime = moment();
          }
          datetime.set(value);
          this.update(datetime.toISOString(true));
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .datetime {
    display: flex;
    flex-direction: row;
    .datetime-date, .datetime-time {
      margin-right: 10px;
      display: flex;
    }
  }
</style>
