<template>
  <div class="select-container" :class="{loading: isLoading}">
    <float-label v-if="forModule" :dispatch="false" :label="label" fixed>
      <select :id="field.identifier + field.id" @change="updateEntity" class="select" :class="{unselected: isNotSelected}" :disabled="isDisabled">
        <option value="" v-if="isLoading">Chargement...</option>
        <option value="" v-else  :selected="isNotSelected">Choisir...</option>
        <option v-for="choice in choices" :selected="isSelected(choice)" :value="formatValue(choice, true)">{{choice.label}}</option>
      </select>
    </float-label>
    <select v-else :id="field.identifier + field.id" @change="updateEntity" class="select" :class="{unselected: isNotSelected}" :disabled="isDisabled">
      <option value="" v-if="isLoading">Chargement...</option>
      <option value="" v-else :selected="isNotSelected">Choisir...</option>
      <option v-for="choice in choices" :selected="isSelected(choice)" :value="formatValue(choice, true)">{{choice.label}}</option>
    </select>
  </div>
</template>

<script>
  import editField from "../../mixins/editField";
  import FloatLabel from "vue-float-label/components/FloatLabel";
  import editHelper from "sv/js/components/mixins/editHelper";
  import _ from "lodash";
  import {mapGetters, mapActions} from "vuex";

  export default {
    name: "EntityField",
    components: {FloatLabel},
    mixins: [editField, editHelper],
    mounted: function () {
      if(this.apiName !== undefined) {
        this.fetchChoices({
          editName: this.edit.name,
          apiName: this.apiName.replace('.','_'),
          params: {
            'items': 0
          }
        });
      }
    },
    computed: {
      apiName: function () {
        return this.api || this.options.api;
      },
      choices: function () {
        return this.getChoicesForApi()(this.apiName.replace('.','_')) ? this.getChoicesForApi()(this.apiName.replace('.','_')).map((choice) => {
          return {
            resourceIdentifier: _.toString(choice.id),
            resourceClass: choice.resourceClass,
            label: this.formatResult(choice)
          };
        }) : null;
      },
      currentValue: function () {
        return this.formatValue(this.field);
      },
      isDisabled: function () {
        return this.field.readonly;
      },
      isLoading: function () {
        return this.isLoadingApi()(this.apiName);
      },
      isNotSelected: function () {
        if (this.currentValue === null) {
          return true;
        } else if (this.currentValue.resourceIdentifier === null || this.currentValue.resourceClass === null) {
          return true;
        } else {
          return !_.some(this.choices, (choice) => {
            return _.isEqual(this.formatValue(choice), this.currentValue);
          });
        }
      }
    },
    methods: {
      ...mapGetters('fields', [
        'getChoicesForApi',
        'isLoadingApi'
      ]),
      ...mapActions('fields', [
        'fetchChoices'
      ]),
      updateEntity: function (event) {
        let selected = JSON.parse(event.target.value);
        this.update(selected);
      },
      isSelected: function (choice) {
        if (_.isInteger(choice.resourceIdentifier)) {
          return choice.resourceIdentifier === _.toInteger(this.currentValue.resourceIdentifier) && choice.resourceClass === this.currentValue.resourceClass;
        } else {
          return choice.resourceIdentifier === _.toString(this.currentValue.resourceIdentifier) && choice.resourceClass === this.currentValue.resourceClass;
        }
      },
      formatValue: function (choice, stringify = false) {
        let value = _.isObject(choice)
        && _.has(choice, 'resourceIdentifier')
        && _.has(choice, 'resourceClass') ?
        {
          resourceIdentifier: choice.resourceIdentifier,
          resourceClass: choice.resourceClass,
          value: null
        } : null;

        return stringify ? JSON.stringify(value) : value;
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_colors.scss';

  .loading {
    animation: pulse 2s infinite;
  }
  select {
    padding-top: 25px;
    &.unselected {
      color: lighten($text, 20);
    }
  }
  .vfl-has-label {
    /deep/ label.vfl-label {
      position: absolute;
      left: 5px;
      top: 5px;
      font-size: 14px;
    }
  }
  @keyframes pulse {
    0% {
      opacity: 0.2;
    }

    70% {
      opacity: 0.7;
    }

    100% {
      opacity: 0.2;
    }
  }
</style>
