<template>
  <input
    type="number"
    :step="step"
    :id="field.identifier"
    :name="field.identifier"
    class="empty"
    :class="{error: hasError}"
    :value.number="inputValue"
    @input="updateFloat($event)"
    :readonly="field.readonly"
  />
</template>

<script>
  import editField from "../../mixins/editField";
  export default {
    name: "Float",
    mixins: [editField],
    computed: {
      step: function () {
        if(this.options && this.options.step !== undefined) {
          return this.options.step;
        }
        return 0.01;
      }
    },
    methods: {
      updateFloat: function (event) {
        let value = event.target.value;
        if (value === "") {
          value = null;
        } else {
          value = parseFloat(value);
        }
        this.update(value, true);
      }
    }
  }
</script>

<style scoped lang="scss">
  .edit-container .edit-content .input-group {
    input.error {
      border-bottom: 1px solid;
      border-bottom-color: rgba(207, 80, 86, 0.51);
    }
    input[readonly="readonly"] {
      background-color: transparent;
      padding-left: 0;
    }
  }
</style>
