<template>
  <div class="list-of-media">
    <div class="media" style="background-image:url(/build/images/IMG_25563.jpeg);">
      <span class="upload-media"></span>
    </div>
    <div class="media" style="background-image:url(/build/images/IMG_25563.jpeg);">
      <span class="upload-media"></span>
    </div>
    <div class="add-media">
      <span class="upload-media"></span>
    </div>
  </div>
</template>

<script>
    export default {
        name: "GalleryField"
    }
</script>

<style scoped>

</style>
