<template>
  <input
    type="number"
    :id="field.identifier"
    :name="field.identifier"
    class="empty"
    :class="{error: hasError}"
    :value.number="inputValue"
    @input="updateInteger($event)"/>
</template>

<script>
  import editField from "../../mixins/editField";
  export default {
    name: "Integer",
    mixins: [editField],
    methods: {
      updateInteger: function (event) {
        let value = event.target.value;
        if (value === "") {
          value = null;
        } else {
          value = parseInt(value);
        }
        this.update(value, true);
      }
    }
  }
</script>

<style scoped lang="scss">
.edit-container .edit-content .input-group {
  input.error {
    border-bottom: 1px solid;
    border-bottom-color: rgba(207, 80, 86, 0.51);
  }
  input[readonly="readonly"] {
    background-color: transparent;
    padding-left: 0;
  }
}
</style>
