<template>
  <div class="input-group" :class="{error: hasError}">
    <div class="flex-group">
      <div class="list-of-media">
        <div class="media-info">
          <label>{{label}} <span class="required-star" v-if="field.required">*</span></label>
          <p>{{options.description}}</p>
          <p class="small"><b>Type :</b> {{options.provider}}</p>
          <p class="small" v-if="options.dimensions"><b>Dimensions recommandées :</b> {{options.dimensions}}</p>
          <a v-if="url" :href="url" target="_blank" class="link">Voir l'image en pleine taille</a>
        </div>
        <div v-if="value && value.selecting !== undefined && value.selecting" class="loader add-media">
          <loader></loader>
        </div>
        <div v-else-if="value && !isEmpty" class="media">
          <media :media="value" :format="options.format" context="module"></media>
          <div class="actions">
            <button type="button" @click="showEditMediaInfo = !showEditMediaInfo" class="edit" title="Modifier les métas">Edit</button>
            <button type="button" @click="openMediaManagerWithTarget" class="change">Change</button>
            <button type="button" @click="remove" class="delete">Delete</button>
          </div>
          <edit-media-info :show="showEditMediaInfo" :value="value" @close="closeModal" context="module"></edit-media-info>
        </div>
        <div v-else @click="openMediaManagerWithTarget" class="add-media loader">
          <span class="upload-media">
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Media from 'sv/js/components/media/Media';
import {mapActions} from "vuex";
import mediaAware from "sv/js/components/mixins/mediaAware";
import isMedia from "sv/js/components/mixins/isMedia";
import Loader from "sv/js/components/common/Loader";
import editField from "sv/js/components/mixins/editField";
import EditMediaInfo from "sv/js/components/edit/EditMediaInfo";

//Currently only used in context of Modules.
//See EditMedia.js for Resource medias
export default {
  name: "MediaField",
  components: {Loader, Media, EditMediaInfo},
  mixins: [mediaAware, isMedia, editField],
  data: function () {
    return {
      showEditMediaInfo: false
    }
  },
  computed: {
    identifier: function () {
      if(this.field !== null && _.has(this.field, 'identifier')) {
        return this.field.identifier;
      } else if(this.options !== null && _.has(this.options, 'name')) {
        return this.options.name;
      }
      return null;
    },
    url: function () {
      if(this.field !== null && this.field !== undefined) {
        return this.getMediaUrl(this.options.format, this.field.id, this.field.name);
      }
      return null;
    },
    isEmpty: function () {
      return _.has(this.value, 'value') && this.value.value === null;
    }
  },
  methods: {
    ...mapActions('edits', [
      'removeMedia'
    ]),
    openMediaManagerWithTarget: function() {
      this.toggleMediaManager(true);
      this.setMediaManagerTarget({
        type: 'module',
        identifier: this.identifier,
        moduleId: this.module.id,
        callback: this.revalidateModule
      });
    },
    remove: function() {
      this.removeMedia({
        type: 'module',
        identifier: this.identifier,
        moduleId: this.module.id
      }).then(this.revalidateModule);
    },
    revalidateModule: function () {
      this.update(null, true);
    },
    closeModal: function () {
      this.showEditMediaInfo = false
    }
  }
}
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .input-group {
    background-color: white;
    padding-bottom: 10px;
    &.error {
      border-bottom: 1px solid;
      border-bottom-color: rgba(207, 80, 86, 0.51);
    }
  }

  .input-group > .field-container:not(:last-child) .input-group {
    margin-bottom: 3px;
  }

  .list-of-media{
    display: flex;
    justify-content:space-between;
    align-items:center;
    .media-info{
      label{
        position: absolute;
        top: 5px;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        margin: 0 0 5px 5px;
      }
      p{
        font-size: 14px;
        font-weight: 200;
        margin:0 0 2px 10px;
      }
      p.small{
        font-size: 12px;
        margin:0 0 2px 10px;
      }
      .link{
        color:$text;
        font-size: 12px;
        font-family: $font1;
        text-align: left;
        text-decoration:underline;
        padding:0;
        margin: 0 0 10px 10px;
        border:0;
        background: transparent;
        cursor:pointer;
      }
    }
    .media,
    .add-media{
      // width: 115px;
      // height: 115px;
      background-color: $bgOne;
      border:1px solid $bgTwo;
      background-size: cover;
      position: relative;
      margin-right: 10px;
      &:hover {
        .upload-media {
          border: 1px solid $alpha;
        }
      }
      .upload-media{
        text-align: center;
        width: 40px;
        height: 40px;
        background-color: $white;
        background-image: url('img/icons/icon-add-media.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        border:1px solid $bgTwo;
        cursor:pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%,-50%);

      }
    }

    .media{
      width: auto;
      max-width: 235px;
      height:auto;
      max-height: 125px;
      position:relative;
      margin-right: 10px;
      .actions{
        display: none;
        justify-content:space-between;
        width:80%;
        min-width:82px;
        max-width:150px;
        position:absolute;
        top:50%;
        left:50%;
        @include translate(-50%,-50%);
        button{
          width:40px;
          height:40px;
          background-image: url('img/icons/icon-add-media.svg');
          background-position: center center;
          background-repeat:no-repeat;
          background-color:rgba(#FFFFFF,0.8);
          border-radius: 50%;
          border:0;
          overflow: hidden;
          text-indent: -1000px;
          &:hover{
            cursor:pointer;
            background-color: #FFFFFF;
          }
          &.delete{
            background-image: url('img/icons/icon-close-green.svg');
          }
          &.edit{
            background-image: url('img/icons/icon-edit-note.svg');
          }
        }
      }
      &:hover .actions{
        display: flex;
      }
      /deep/ .skeleton {
        width: 235px;
        height: 125px;
        position: relative;
      }
    }

    .loader {
      width: 100%;
      max-width: 235px;
      height: 125px;
      max-height: 125px;
      padding-top: calc(125px/2 - 24px/2);
      text-align: center;
    }
  }
</style>
