<template>
  <div class="select-container">
    <multiselect
      v-if="choices"
      v-model="values"
      :multiple="true"
      :options="choices"
      label="label"
      track-by="value"
      :close-on-select="false"
      :disabled="isDisabled"
      :placeholder="options.placeholder ? options.placeholder : 'Sélectionnez une option'"
      select-label="Choisir cette option"
      select-group-label="Choisir cet ensemble"
      selected-label="Option choisie"
      deselect-label="Retirer cette option"
      deselect-group-label="Retirer cet ensemble"
    >
      <template v-if="hasColorField(option)" slot="option" slot-scope="{option}">
        <div class="color-thumb" :style="{'backgroundColor': '#'+getColorField(option)}"></div>
        {{option.label}}
      </template>
      <template v-if="hasColorField(option)" slot="tag" slot-scope="{option, remove}">
        <span class="multiselect__tag">
          <div class="color-thumb" :style="{'backgroundColor': '#'+getColorField(option)}"></div>
          <span>{{option.label}}</span>
          <i class="multiselect__tag-icon" @click.prevent.stop="remove(option)"></i>
        </span>
      </template>
    </multiselect>
    <div v-else class="multiselect-skeleton">
      <skeleton></skeleton>
    </div>
  </div>
</template>

<script>
  import editField from "../../mixins/editField";
  import FloatLabel from "vue-float-label/components/FloatLabel";
  import api from "sv/js/api";
  import editHelper from "sv/js/components/mixins/editHelper";
  import Multiselect from "vue-multiselect";
  import {unobserve} from "sv/js/util/unobserver";
  import Skeleton from "../../common/Skeleton";
  import actionHelper from "sv/js/components/mixins/actionHelper";

  export default {
    name: "MultiSelectField",
    components: {Skeleton, FloatLabel, Multiselect},
    mixins: [editField, editHelper, actionHelper],
    data: function () {
      return {
        values: null,
        dynamicChoices: null,
        dynamicChoicesLoading: false
      }
    },
    mounted: function () {
      if(this.api !== undefined) {
        this.dynamicChoicesLoading = true;
        api.squareview(
          'GET',
          this.api.replace('.','_'),
          this.buildParametersFromData(this.parameters, this.content)
        ).then((response) => {
          if(response.status === 200 && _.isArray(response.data)) {
            this.dynamicChoices = response.data.map((choice) => {
              if(choice.id === undefined) {
                console.error('Dynamic choices must have an id');
                return null;
              } else {
                let choiceData = {
                  value: !isNaN(choice.id) ? +choice.id : choice.id,
                  label: this.formatResult(choice)
                };

                //If colorField given, add as data to choice
                if (_.has(this.options, 'colorField') && _.has(choice, this.options.colorField)){
                  choiceData[this.options.colorField] = choice[this.options.colorField];
                }

                return choiceData;
              }
            });
            this.dynamicChoicesLoading = false;
            this.values = this.value ? this.value.map((value) => {
              let dynamicChoice = this.dynamicChoices.find((choice) => {
                return choice.value === value.id;
              });
              if(dynamicChoice === undefined) {
                console.error('Could not find dynamic choice with value = "'+value+'" that was given by data');
                console.log(this.dynamicChoices, value);
              }
              return dynamicChoice;
            }) : null;
          } else {
            console.error('api for select field '+this.field.id+' returned a response that was not in the correct format. Awaiting status 200 and array.', response);
          }
        });
      } else {
        this.values = this.value ? this.value.map((value) => {
          return {'label': value.name, 'value': value.id}
        }) : null;
      }
    },
    computed: {
      choiceType: function () {
        if(this.staticChoices) {
          return 'static';
        } else {
          return 'dynamic';
        }
      },
      choices: function () {
        return this.staticChoices ? this.staticChoices : this.dynamicChoices;
      },
      staticChoices: function () {
        return this.options.choices || null;
      },
      currentValue: function () {
        return _.isObject(this.value) && _.has(this.value, 'id') ? this.value.id : this.value;
      },
      isDisabled: function () {
        return this.field.readonly || this.dynamicChoicesLoading;
      }
    },
    methods: {
      hasColorField: function (value) {
        if(_.has(this.options, 'colorField')) {
          return _.has(value, this.options.colorField);
        } else {
          return false;
        }
      },
      getColorField: function (value) {
        return this.hasColorField(value) ? value[this.options.colorField] : null;
      }
    },
    watch: {
      values: {
        handler: function (newValues, oldValues) {
          if(newValues !== oldValues) {
            this.update(newValues.map((choice) => choice.value));
          }
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';

  .vfl-has-label {
    /deep/ label.vfl-label {
      position: absolute;
      left: 5px;
      top: 5px;
      font-size: 14px;
    }
  }
  /deep/ .multiselect__tag, /deep/ .multiselect__option--highlight, /deep/ .multiselect__option--highlight::after {
    background: $alpha;
  }
  /deep/ .multiselect__option--highlight.multiselect__option--selected, /deep/ .multiselect__option--highlight.multiselect__option--selected::after {
    background: $alert;
  }
  .color-thumb {
    width: 12px;
    height: 12px;
    display: inline-block;
  }
  .multiselect-skeleton {
    height: 40px;
    width: 80%;
    /deep/ .skeleton {
      height: 100%;
    }
  }
</style>
