<template>
  <div>
    <float-label v-if="forModule">
      <input
        :id="field.identifier + field.id"
        :name="field.identifier"
        type="text"
        class="empty"
        :class="{error: hasError}"
        :placeholder="placeholder||label"
        :value="inputValue"
        @input="update"
        :readonly="isReadOnly"
      />
      <span>%</span>
    </float-label>
    <template v-else>
      <template v-if="!isReadOnly">
        <input v-if="!isReadOnly"
          :id="field.identifier + field.id"
          :name="field.identifier"
          type="number"
          min="0"
          max="100"
          step="1"
          class="empty"
          :class="{error: hasError}"
          :placeholder="placeholder"
          :value.number="formatedValue"
          :readonly="isReadOnly"
          @input="updatePercent"
        />
        <span>%</span>
      </template>
      <template v-else>
        <p>{{ formatedValue }}%</p>
      </template>
    </template>
  </div>
</template>

<script>
  import editField from "../../mixins/editField";
  import FloatLabel from "vue-float-label/components/FloatLabel";
  import {formatVuePathForApi, getMatchedPath} from "sv/js/routing";

  export default {
    name: "PercentageField",
    mixins: [editField],
    components: {FloatLabel},
    props: {
      placeholder: {
        type: String,
        default: null
      }
    },
    computed: {
      formatedValue: function () {
        return this.inputValue * 100;
      },
    },
    methods: {
      updatePercent: function (event) {
        let value = event.target.value;
        if (value === "") {
          value = null;
        } else {
          value = parseFloat(value / 100);
        }
        this.update(value, true);
      }
    }
  }
</script>

<style lang="scss" scoped>
@import 'sv/scss/modules/_colors.scss';
div {
  display: flex;
  align-items: center;
  & span {
    display: block;
    //margin-bottom: 20px;
    background-color: $bgOne;
    padding: 14px 16px;
  }
}
.edit-container .edit-content {
  .input-group {
    input.error {
      border-bottom: 1px solid;
      border-bottom-color: rgba(207, 80, 86, 0.51);
    }

    .vfl-has-label {
      input {
        padding-top: 25px;
      }
      /deep/ label.vfl-label {
        position: absolute;
        left: 5px;
        top: 5px;
        font-size: 14px;
      }
    }

    input[readonly="readonly"] {
      background-color: transparent;
    }
  }
  .input-group .vfl-has-label input {
    margin-bottom: 3px;
  }
  .input-group > .field-container:last-child .vfl-has-label input {
    margin-bottom: 0;
  }
}
</style>
