<template>
  <div class="select-container" :class="{ readonly: field.readonly }">
    <float-label v-if="forModule" :dispatch="false" :label="label" fixed>
      <select :id="field.identifier + field.id" @change="onChange" :class="classCss" :disabled="isDisabled">
        <option :disabled="options !== undefined && options.required === true" :selected="value === null" :value="null">{{label}}</option>
        <option v-for="choice in choices" :selected="choice.value === currentValue" :value="choice.value">{{choice.label}}</option>
      </select>
    </float-label>
    <template v-else>
      <select v-if="!field.readonly" :id="field.identifier" @change="onChange" :class="classCss" :disabled="isDisabled">
        <option :disabled="options !== undefined && options.required === true" :selected="value === null" :value="null">{{label}}</option>
        <option v-for="choice in choices" :selected="choice.value === currentValue" :value="choice.value">{{choice.label}}</option>
      </select>
      <p v-else>
        {{ currentLabel }}
      </p>
    </template>
  </div>
</template>

<script>
  import editField from "../../mixins/editField";
  import FloatLabel from "vue-float-label/components/FloatLabel";
  import api from "sv/js/api";
  import editHelper from "sv/js/components/mixins/editHelper";
  import {isNumber} from "lodash/lang";

  export default {
    name: "SelectField",
    components: {FloatLabel},
    mixins: [editField, editHelper],
    data: function () {
      return {
        dynamicChoices: null,
        dynamicChoicesLoading: false
      }
    },
    mounted: function () {
      if(this.apiName !== undefined && this.apiName !== null) {
        this.dynamicChoicesLoading = true;
        api.squareview(
          'GET',
          this.apiName.replace('.','_') ?? null
        ).then((response) => {
          if(response.status === 200 && _.isArray(response.data)) {
            this.dynamicChoices = response.data.map((choice) => {
              return {
                value: isNumber(choice.id) ? +choice.id : choice.id,
                label: this.formatResult(choice)
              };
            });
            this.dynamicChoicesLoading = false;
          } else {
            console.error('api for select field '+this.field.id+' returned a response that was not in the correct format. Awaiting status 200 and array.', response);
          }
        });
      }
    },
    computed: {
      apiName: function () {
        return this.api || this.options.api;
      },
      choiceType: function () {
        if(this.staticChoices) {
          return 'static';
        } else {
          return 'dynamic';
        }
      },
      choices: function () {
        return this.staticChoices ? this.staticChoices : this.dynamicChoices;
      },
      classCss: function () {
        return this.forModule ? 'select for-module' : 'select';
      },
      staticChoices: function () {
        return this.options !== undefined && this.options.choices !== undefined ? this.options.choices : null;
      },
      currentValue: function () {
        return _.isObject(this.value) && _.has(this.value, 'id') ? this.value.id : this.value;
      },
      currentLabel: function () {
        return _.find(this.choices, ['value', this.currentValue])?.label
      },
      isDisabled: function () {
        return this.field.readonly || this.dynamicChoicesLoading;
      }
    },
    methods: {
      onChange: function ($event) {
        let value = $event.target.value;
        if(value === "") {
          value = null;
        }

        this.update(value, this.choiceType === 'dynamic');
      }
    }
  }
</script>

<style lang="scss" scoped>
  select.for-module {
    padding-top: 25px;
  }
  .vfl-has-label {
    /deep/ label.vfl-label {
      position: absolute;
      left: 5px;
      top: 5px;
      font-size: 14px;
    }
  }
</style>
