<template>
  <float-label v-if="forModule">
    <textarea
      :id="field.identifier + field.id"
      :name="field.identifier"
      @input="update"
      :class="{error: hasError}"
      :placeholder="placeholder||label"
      :readonly="isReadOnly"
    >{{inputValue}}</textarea>
  </float-label>
  <textarea
    v-else
    :id="field.identifier + field.id"
    :name="field.identifier"
    @input="update"
    :class="{error: hasError}"
    :placeholder="placeholder"
    :readonly="isReadOnly"
  >{{inputValue}}</textarea>
</template>

<script>
  import editField from "../../mixins/editField";
  import FloatLabel from "vue-float-label/components/FloatLabel";

  export default {
    name: "TextAreaField",
    components: {FloatLabel},
    mixins: [editField],
    props: {
      placeholder: {
        type: String,
        default: null
      }
    }
  }
</script>

<style lang="scss" scoped>
  textarea[readonly="readonly"] {
    padding: 0;
    min-height: unset;
    background-color: transparent;
    resize: none;
  }
  .input-group textarea.error {
    border-bottom: 1px solid;
    border-bottom-color: rgba(207, 80, 86, 0.51);
  }
  .vfl-has-label {
    padding-top: 25px;
    background-color: white;
    textarea {
      padding-top: 0;
    }
    /deep/ label.vfl-label {
      position: absolute;
      left: 5px;
      top: 5px;
      font-size: 14px;
    }
  }
  .input-group > .field-container:not(:last-child) .vfl-has-label {
    margin-bottom: 3px;
  }
</style>
