<template>
  <float-label v-if="forModule">
    <input
      :id="field.identifier + field.id"
      :name="field.identifier"
      type="text"
      class="empty"
      :class="{error: hasError}"
      :placeholder="placeholder||label"
      :value="inputValue"
      @input="update"
      :readonly="isReadOnly"
    />
  </float-label>
  <input
    v-else
    :id="field.identifier + field.id"
    :name="field.identifier"
    type="text"
    class="empty"
    :class="{error: hasError}"
    :placeholder="placeholder"
    :value="inputValue"
    @input="update"
    :readonly="isReadOnly"
  />
</template>

<script>
  import editField from "../../mixins/editField";
  import FloatLabel from "vue-float-label/components/FloatLabel";

  export default {
    name: "TextField",
    mixins: [editField],
    components: {FloatLabel},
    props: {
      placeholder: {
        type: String,
        default: null
      }
    }
  }
</script>

<style lang="scss" scoped>
.edit-container .edit-content {
  .input-group {
    input.error {
      border-bottom: 1px solid;
      border-bottom-color: rgba(207, 80, 86, 0.51);
    }

    .vfl-has-label {
      input {
        padding-top: 25px;
      }
      /deep/ label.vfl-label {
        position: absolute;
        left: 5px;
        top: 5px;
        font-size: 14px;
      }
    }

    input[readonly="readonly"] {
      background-color: transparent;
      padding-left: 0;
    }
  }
  .input-group .vfl-has-label input {
    margin-bottom: 3px;
  }
  .input-group > .field-container:last-child .vfl-has-label input {
    margin-bottom: 0;
  }
}
</style>
