<template>
  <div>
    <timepicker
      :id="field.identifier"
      :name="field.identifier"
      :required="isRequired"
      v-model="timeValue"
      :class="{error: hasError}"
      :input-class="{error: hasError}"
      :hide-clear-button="isRequired"
      :format="format"
    >
    <!-- todo format -->
    <!-- todo minute-interval -->
    <!-- todo seconds-interval -->
    </timepicker>
  </div>
</template>

<script>
  import Timepicker from "vue2-timepicker";
  import 'vue2-timepicker/dist/VueTimepicker.css';
  import editField from "../../mixins/editField";
  import moment from "moment";

  export default {
    name: "TimeField",
    components: {Timepicker},
    mixins: [editField],
    props: {
      placeholder: {
        type: String,
        default: null
      },
      fromDateTime: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      timeValue: {
        get: function() {
          return this.inputValue;
        },
        set: function(value) {
          this.updateTime(value);
        }
      },
      format: function() {
        return "HH:mm"
      }
    },
    methods: {
      updateTime: function (time) {
        if(time === '') { //case clearing
          if(this.fromDateTime) {
            this.$emit('datetime', null);
          } else {
            this.update(null);
          }
        } else {
          if (this.fromDateTime) {
            let momentTime = moment(time.HH + ':' + time.mm, this.format);
            let timeArray = {
              hours: momentTime.hours(),
              minutes: momentTime.minutes(),
              seconds: momentTime.seconds()
            };
            this.$emit('datetime', timeArray);
          } else {
            this.update(time);
          }
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  /deep/ .time-picker input {
    height: 52px;
  }
</style>
