<template>
  <p v-if="field.readonly">{{ value }}</p>
  <div v-else class="wysiwyg" :class="{error: hasError}" >
    <label v-if="label">{{label}}</label>
    <div v-if="!viewSource" class="editor">
      <editor-menu-bar :editor="editor" v-slot="{ commands, isActive, getMarkAttrs }">
        <div class="menubar">
          <div class="button-group">
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.bold() }" @click="commands.bold" title="Gras"><i class="fas fa-bold"></i></button>
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.italic() }" @click="commands.italic" title="Italique"><i class="fas fa-italic"></i></button>
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.underline() }" @click="commands.underline" title="Souligné"><i class="fas fa-underline"></i></button>
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.strike() }" @click="commands.strike" title="Barré"><i class="fas fa-strikethrough"></i></button>
          </div>
          <div class="button-group">
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.heading({ level: 1 }) }" @click="commands.heading({ level: 1 })" title="Titre 1"><i class="fas fa-heading"></i><span>1</span></button>
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.heading({ level: 2 }) }" @click="commands.heading({ level: 2 })" title="Titre 2"><i class="fas fa-heading"></i><span>2</span></button>
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.heading({ level: 3 }) }" @click="commands.heading({ level: 3 })" title="Titre 3"><i class="fas fa-heading"></i><span>3</span></button>
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.heading({ level: 4 }) }" @click="commands.heading({ level: 4 })" title="Titre 4"><i class="fas fa-heading"></i><span>4</span></button>
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.heading({ level: 5 }) }" @click="commands.heading({ level: 5 })" title="Titre 5"><i class="fas fa-heading"></i><span>5</span></button>
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.heading({ level: 6 }) }" @click="commands.heading({ level: 6 })" title="Titre 6"><i class="fas fa-heading"></i><span>6</span></button>
          </div>
          <div class="button-group">
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.paragraph() }" @click="commands.paragraph" title="Paragraphe"><i class="fas fa-paragraph"></i></button>
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.bullet_list() }" @click="commands.bullet_list" title="Liste à puce"><i class="fas fa-list-ul"></i></button>
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.ordered_list() }" @click="commands.ordered_list" title="Liste ordonnée"><i class="fas fa-list-ol"></i></button>
            <button class="menubar__button" type="button" @click="commands.horizontal_rule"  title="Séparation horizontale"><i class="fas fa-arrows-alt-h"></i></button>
            <button class="menubar__button" type="button" @click="showLinkMenu(getMarkAttrs('link'))" :class="{ 'is-active': isActive.link() }"><i class="fas fa-link" title="Liens"></i></button>
            <form class="menubar__form" v-if="linkMenuIsActive" @submit.prevent="setLinkUrl(commands.link, linkUrl)">
              <input class="menubar__input" type="text" v-model="linkUrl" placeholder="https://" ref="linkInput" @keydown.esc="hideLinkMenu"/>
              <button class="menubar__button close" @click="setLinkUrl(commands.link, null)" type="button">
                <i class="fas fa-times"></i>
              </button>
            </form>
          </div>
          <div class="button-group">
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.code() }" @click="commands.code" title="Ligne de code"><i class="fas fa-code"></i></button>
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.code_block() }" @click="commands.code_block" title="Bloc de code"><i class="fas fa-file-code"></i></button>
            <button class="menubar__button" type="button" :class="{ 'is-active': isActive.blockquote() }" @click="commands.blockquote" title="Citation"><i class="fas fa-quote-right"></i></button>
          </div>
          <div class="button-group">
            <button class="menubar__button" type="button" @click="commands.undo"><i class="fas fa-undo" title="En arrière"></i></button>
            <button class="menubar__button" type="button" @click="commands.redo"><i class="fas fa-redo" title="En avant"></i></button>
            <button class="menubar__button" type="button" @click="toggleViewSource" title="Afficher le code"><i class="fas fa-terminal"></i></button>
          </div>
        </div>
      </editor-menu-bar>

      <editor-content class="editor__content" :editor="editor" />
    </div>
    <div v-else>
      <button class="menubar__button" type="button" @click="toggleViewSource" title="Revenir à l'éditeur"><i class="fas fa-spell-check"></i></button>
      <text-area-field :field="field" :value="inputValue" @update="updateViaSource"></text-area-field>
    </div>
  </div>
</template>

<script>
  import editField from "../../mixins/editField";
  import { Editor, EditorContent, EditorMenuBar } from 'tiptap';
  import {
    Blockquote,
    CodeBlock,
    HardBreak,
    Heading,
    HorizontalRule,
    OrderedList,
    BulletList,
    ListItem,
    TodoItem,
    TodoList,
    Bold,
    Code,
    Italic,
    Link,
    Strike,
    Underline,
    History,
  } from 'tiptap-extensions'
  import TextAreaField from "./TextAreaField";

  export default {
    name: "WysiwygField",
    mixins: [editField],
    components: {
      TextAreaField,
      EditorContent,
      EditorMenuBar
    },
    data() {
      return {
        viewSource: false,
        currentEdit: null,
        editor: null,
        linkUrl: null,
        linkMenuIsActive: false,
      }
    },
    methods: {
      toggleViewSource: function () {
        this.viewSource = !this.viewSource;
      },
      updateViaSource: function (fieldIdentifier, value) {
        this.editor.setContent(value);
        this.update(value);
        this.$emit('updateFieldValue', value);
      },
      updateFieldValue: function (value) {
        this.$emit('updateFieldValue', value);
      },
      showLinkMenu(attrs) {
        this.linkUrl = attrs.href;
        this.linkMenuIsActive = true;
        this.$nextTick(() => {
          this.$refs.linkInput.focus()
        })
      },
      hideLinkMenu() {
        this.linkUrl = null;
        this.linkMenuIsActive = false;
      },
      setLinkUrl(command, url) {
        command({ href: url });
        this.hideLinkMenu();
      },
    },
    watch: {
      inputValue: {
        handler: function () {
          if (this.editor === null) {
            this.editor = new Editor({
              extensions: [
                new Blockquote(),
                new BulletList(),
                new CodeBlock(),
                new HardBreak(),
                new Heading({levels: [1, 2, 3, 4, 5, 6]}),
                new HorizontalRule(),
                new ListItem(),
                new OrderedList(),
                new TodoItem(),
                new TodoList(),
                new Link(),
                new Bold(),
                new Code(),
                new Italic(),
                new Strike(),
                new Underline(),
                new History(),
              ],
              content: this.inputValue,
              onUpdate: ({getHTML}) => {
                this.update(getHTML());
                this.updateFieldValue(getHTML());
              },
              parseOptions: {
                preserveWhitespace: true
              }
            });
          }
        },
        immediate: true
      },
    },
    beforeDestroy() {
      this.editor.destroy();
    }
  }
</script>

<style scoped lang="scss">

  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';

  .wysiwyg {
    &.error {
      border-bottom: 1px solid;
      border-bottom-color: rgba(207, 80, 86, 0.51);
    }
  }

  .menubar{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    .button-group{
      margin:0 15px 0 0;
      .menubar__form {
        width: 400px;
        position: absolute;
        top: -60px;
        margin-left: -200px;
        .menubar__button.close {
          position: absolute;
          right: 5px;
          top: 5px;
        }
      }
    }
    button{
      color:$text;
      font-weight: 800;
      padding: 5px 8px;
      margin: 0 0 3px;
      background-color: white;
      border:0;
      cursor:pointer;
      span{
        font-weight: 800;
        font-size: 13px;
        position:relative;
        top:1px;
      }
      &:hover{
        background-color: darken($bg,10%);
      }
    }
  }
  .editor__content{
    font-size: 16px;
    font-weight: 200;
    padding: 14px 16px;
    background-color: white;
    overflow:scroll;
  }
  /deep/ .ProseMirror{
    min-height:200px;
    overflow:hidden;
    p{
      margin:0;
    }
  }
  .wysiwyg {
    margin-bottom: 3px;
  }
</style>
