<template>
  <div class="accordion" :class="{'is-expanded': isExpanded }">
    <div class="accordion-title-block" v-if="type === 'layout'">
      <a @click="toggleAccordion" aria-expanded="false" class="accordion-title">{{zone.label}}</a>
    </div>
    <div class="accordion-content accordion-item" aria-hidden="true">
      <div class="accordion-content-insider">
        <div v-if="!isLoading">
          <edit-translation v-for="(translation, key) in translations"
                            :key="key"
                            :message="translation.message"
                            :label="translation.label"
                            @update="update"></edit-translation>
        </div>
        <div v-else>
          <div v-for="i in 3" :key="'translations_skeleton_'+i" class="translations-skeleton">
            <skeleton></skeleton>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import _ from "lodash";
  import {mapActions, mapState} from "vuex";
  import EditTranslation from "sv/js/components/translations/EditTranslation";
  import updateQueue from "sv/js/components/mixins/updateQueue";
  import Skeleton from "sv/js/components/common/Skeleton";
  import errorLog from "sv/js/components/mixins/errorLog";

  //Can be used in two cases: type = "layout" or type = "resource"
  export default {
    name: "EditZoneTranslations",
    components: {Skeleton, EditTranslation},
    mixins: [updateQueue, errorLog],
    props: ['zone', 'data', 'type'],
    data: function() {
      return {
        'isExpanded': true,
      };
    },
    computed: {
      ...mapState('languages', [
        'currentLocale'
      ]),
      ...mapState('translations', [
        'layoutGuideTranslations',
        'isLoading'
      ]),
      translations: function () {
        switch(this.type){
          case 'resource':
            return _.has(this.data, 'translations') && _.has(this.data.translations, this.zone.name) ? this.data.translations[this.zone.name] : null;
          case 'layout':
            return this.layoutGuideTranslations ? _.get(this.layoutGuideTranslations, Object.values(this.catalog)) : null;
          default:
            return null;
        }
      },
      catalog: function () {
        switch(this.type) {
          case 'resource':
            return {
              discriminator: this.data.discriminator,
              zone: this.zone.name,
              resourceId: this.data.id,
              locale: this.currentLocale
            };
          case 'layout':
            return {
              discriminator: this.data.discriminator,
              zone: this.zone.name,
              locale: this.currentLocale
            };
          default:
            console.error('EditTranslations type '+this.type+' not supported');
            return null;
        }
      }
    },
    methods: {
      ...mapActions('translations', [
        'fetchCatalog',
        'updateTranslation'
      ]),
      ...mapActions('edits', [
        'handleUpdatedResourceGuideTranslation'
      ]),
      update: function ({key, message, label}) {
        let payload = _.merge({
          label,
          message,
          key,
          type: this.type,
        }, this.catalog);

        this.updateTranslation(payload).then(() => {
          if(this.type === 'resource') {
            this.handleUpdatedResourceGuideTranslation(payload);
          }
        }).catch(() => {
          this.logError('Error saving translation "'+key+'"');
        });
      },
      toggleAccordion: function () {
        this.isExpanded = !this.isExpanded;
      },
    },
    watch: {
      currentLocale: {
        handler: function () {
          if (this.type === 'layout') {
            this.fetchCatalog(this.catalog);
          }
        },
        immediate: true
      }
    }
  }
</script>

<style scoped lang="scss">
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_mixins.scss';

  .translations-skeleton {
    margin-top: 40px;
    width: 90%;
    margin-left: 20px;
    /deep/ .skeleton {
      height: 40px;
    }
  }
</style>
