<template>
  <div class="edit-view">
    <translations-header :title="guide ? guide.label : ''" back></translations-header>
    <div class="edit-container">
      <div class="edit-content">
        <edit-zone-translations v-for="zone in zones" :key="zone.name" :zone="zone" type="layout" :data="{discriminator: guideName}"></edit-zone-translations>
      </div>
      <edit-translation-sidebar @publish="publish" :last-publication-date="lastPublicationDate"></edit-translation-sidebar>
    </div>
  </div>
</template>

<script>
import EditZoneTranslations from "sv/js/components/translations/EditZoneTranslations";
import TranslationsHeader from "sv/js/components/translations/TranslationsHeader";
import Skeleton from "sv/js/components/common/Skeleton";
import {mapActions, mapGetters, mapState} from "vuex";
import EditTranslationSidebar from "sv/js/components/translations/EditTranslationSidebar";
import errorLog from "sv/js/components/mixins/errorLog";

export default {
    name: "EditLayoutGuideTranslations",
    components: {EditTranslationSidebar, TranslationsHeader, EditZoneTranslations, Skeleton},
    mixins: [errorLog],
    computed: {
      ...mapGetters('general', {
        'guides': 'getLayoutTranslations'
      }),
      ...mapState('languages', [
        'currentLocale'
      ]),
      ...mapState('translations', [
        'layoutGuideLastPublicationDates'
      ]),
      guideName: function () {
        return this.$route.params.guide;
      },
      guide: function () {
        return this.guides ? this.guides.find((guide) => {
          return guide.name === this.guideName;
        }): null;
      },
      zones: function () {
        return this.guides ? this.guide.zones : [];
      },
      lastPublicationDate: function () {
        return _.get(this.layoutGuideLastPublicationDates, [this.guideName, this.currentLocale]);
      }
    },
    methods: {
      ...mapActions('translations', [
        'publishTranslations'
      ]),
      publish: function () {
        this.publishTranslations({
          type: 'layout',
          discriminator: this.guideName,
          locale: this.currentLocale
        }).catch((error) => {
          console.error(error);
          this.logError('Erreur '+error.response.status+' lors de la publication des traductions');
        });
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
