<template>
  <div class="input-group">
    <label><span>{{label}}</span><span class="tag">#{{key}}</span></label>
    <textarea v-if="isTextarea" :value="message" @input="update"></textarea>
    <input v-else type="text" :value="message" @input="update"/>
  </div>
</template>

<script>
  export default {
    name: "EditTranslation",
    props: ['message', 'label'],
    computed: {
      key: function () {
        return this.$vnode.key;
      },
      isTextarea: function () {
        return this.message.includes('\n');
      }

    },
    methods: {
      update: _.debounce(function (event) {
        let value = event.target.value;
        this.$emit('update', {key: this.key, message: value, label: this.label});
      }, 1000)
    }
  }
</script>

<style scoped lang="scss">
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_mixins.scss';

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {

    }
  }
  .tag {
    font-size: 12px;
    font-weight: 200;
    line-height: 1.5em;
    padding: 3px 5px;
    border-radius: 2px;
    color: $textOne;
    background-color: $bgOne;
    text-transform: none;
  }
</style>
