<template>
  <div class="edit-sidebar" data-v-sticky-container>
    <div v-sticky="stickyOptions">
      <div class="publish-block" :class="{'error': hasErrors}" data-v-sticky-inner>

        <button class="publish btn alpha"
          :class="{'disabled': buttonIsDisabled, 'error': hasErrors}"
          @click="publish"
        >
          <span v-if="hasErrors">Oups, petit souci...</span>
          <span v-else-if="isSaving">Enregistrement...</span>
          <span v-else-if="saved">Enregistré !</span>
          <span v-else-if="isPublishing">Publication...</span>
          <span v-else-if="published">Publié !</span>
          <span v-else>Publier</span>
        </button>

        <p v-if="lastPublicationDate" class="published-date"><span>Publié le</span> : {{lastPublicationDate|date}}</p>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState} from "vuex";
  import VueStickyDirective from '@renatodeleao/vue-sticky-directive';
  import ResizeSensor from "resize-sensor";
  import moment from "moment";
  window.ResizeSensor = ResizeSensor; // [1]

  export default {
    name: "EditTranslationSidebar",
    props: ['lastPublicationDate'],
    directives: {
      "sticky": VueStickyDirective
    },
    data: function() {
      return {
        saved: false,
        published: false,
        stickyOptions: {
          topSpacing: 20,
          bottomSpacing: 0,
          resizeSensor: true, // [1] read above
          stickyClass: "is-sticky",
          minWidth: 0
        }
      }
    },
    computed: {
      ...mapState('translations', [
        'isSaving',
        'isPublishing',
        'isLoading',
        'hasErrors'
      ]),
      buttonIsDisabled: function () {
        return this.isSaving || this.saved || this.isLoading || this.isPublishing || this.published || this.hasErrors;
      }
    },
    watch: {
      isSaving: function(isSaving, wasSaving) {
        if(wasSaving && !isSaving){
          this.saved = true;
          setTimeout(() => {
            this.saved = false;
          }, 2000);
        }
      },
      isPublishing: function(isPublishing, wasPublishing) {
        if(wasPublishing && !isPublishing){
          this.published = true;
          setTimeout(() => {
            this.published = false;
          }, 2000);
        }
      }
    },
    methods: {
      publish: function () {
        this.$emit('publish');
      }
    },
    filters: {
      date: function (date, withSeconds = false) {
        let format = withSeconds ? "DD/MM/YYYY à HH:mm:ss" : "DD/MM/YYYY à HH[h]mm";
        return date ? moment(date).format(format) : '';
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  p.saved-date {
    font-size: 9px;
    margin: 0;
    text-align: right;
  }
  button.error {
    background-color: $alert;
    pointer-events: none;
  }
  .publish-block {
    border-bottom:2px solid white;
    padding-bottom:25px;
    margin-bottom:25px;
    &.error {
      cursor: not-allowed;
    }
  }
</style>
