<template>
  <div class="title-container">
    <div>
      <breadcrumbs :back="back"></breadcrumbs>
      <main-title :title="title"></main-title>
    </div>
    <div class="languages-edit-management">
      <div v-if="languagesLoaded" class="active-languages">
        <div class="language-label"><span>Langues actives :</span></div>
        <ul>
          <li v-for="(language, locale) in languages">
            <button v-if="isCurrentLocale(locale)" class="lang-button displayed" >{{language.name || locale}}</button>
            <button v-else @click="switchLocale(locale)" class="lang-button">{{locale}}</button>
          </li>
        </ul>
      </div>
      <div v-else class="skeleton-languages">
        <skeleton></skeleton>
      </div>
      <a href="" class="btn notice not-implemented">Configurer les langues <i>...</i></a>
    </div>
  </div>
</template>

<script>
  import Breadcrumbs from "../common/Breadcrumbs";
  import MainTitle from "../common/MainTitle";
  import Skeleton from "sv/js/components/common/Skeleton";
  import {mapActions, mapGetters, mapState} from "vuex";

  export default {
    name: "TranslationsHeader",
    components: {MainTitle, Breadcrumbs, Skeleton},
    props: ['title', 'back'],
    created: function () {
      if (!this.languagesLoaded) {
        this.fetchLanguages();
      }
    },
    computed: {
      ...mapState('languages', [
        'languages',
        'currentLocale'
      ]),
      ...mapGetters('languages', [
        'languagesLoaded'
      ]),
    },
    methods: {
      ...mapActions('languages', {
        'fetchLanguages': 'fetch',
        'switchLocale': 'switchLocale'
      }),
      isCurrentLocale: function (locale) {
        return this.currentLocale === locale;
      }
    }
  }
</script>

<style scoped lang="scss">
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .languages-edit-management {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .active-languages {
      width: 100%;
      font-weight: 200;
      font-size: 12px;
      padding-top: 10px;
      display: flex;
      // align-items:center;
      .language-label {
        margin-top: 4px;
      }

      ul {
        margin: 0;
        list-style-type: none;
        display: flex;
        // align-items:center;
        li {
          button {
            color: white;
            font-size: 12px;
            text-transform: uppercase;
            padding: 7px 10px;
            margin: 0 2px;
            box-shadow: none;
            border: 0;
            background-color: $alpha;
            border-radius: $bora;
            cursor: pointer;
            @include transition(all 0.5s ease-out);

            .language-label {
              display: flex;
              align-items: center;
            }

            &:hover {
              background-color: darken($alpha, 10%);
            }

            &.displayed {
              padding: 7px 26px 20px;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              position: relative;
              @include transition(all 0.5s ease-out);

              &:before {
                content: "";
                width: 7px;
                height: 4px;
                display: block;
                background-image: url('img/icons/icon-carret-down.svg');
                background-size: 100%;
                background-repeat: no-repeat;
                position: absolute;
                left: calc(50% - 3.5px);
                bottom: 6px;
              }
            }
          }
        }
      }
    }

    .btn.notice {
      min-width: 200px;
      position: relative;
      right: -8px;

      i {
        position: absolute;
        top: calc(50% - 10px);
        right: 13px;
      }
    }

    .skeleton-languages {
      width: 40%;
      height: 40px;
      position: relative;
      bottom: 0;

      /deep/ .skeleton {
        height: 100%;
      }
    }
  }
  .title-container {
    .page-title{
      text-transform: uppercase;
    }
  }
</style>
