<template>
  <div>
    <translations-header title="Gestion des autres textes d'interface"></translations-header>
    <div class="list-container">
      <div class="list-table">
        <tbody>
          <translations-row v-for="guide in guides" :guide="guide" :key="'guide_'+guide.name"></translations-row>
        </tbody>
      </div>
    </div>
  </div>
</template>

<script>
  import TranslationsHeader from "sv/js/components/translations/TranslationsHeader";
  import TranslationsRow from "sv/js/components/translations/TranslationsRow";
  import {mapGetters} from "vuex";
  export default {
    name: "Translations",
    components: {TranslationsRow, TranslationsHeader},
    computed: {
      ...mapGetters('general', {
        'guides': 'getLayoutTranslations'
      })
    }
  }
</script>

<style scoped>

</style>
