<template>
  <div class="list-table-row list-content">
    <div class="list-table-cell middle move-raw">
    </div>
    <div class="list-table-cell middle">
      <div class="grid">
        <div class="text-content">
          <router-link :to="{name: 'editLayoutGuideTranslations', params: {'guide': guide.name}}">
            <p>{{guide.label}}</p>
          </router-link>
        </div>
      </div>
    </div>

    <div class="list-table-cell other-actions middle">
      <div class="dropdown-wrapper other-actions-dropdown">
        <div class="dropdown-button other-actions-button">
          <router-link :to="{name: 'editLayoutGuideTranslations', params: {'guide': guide.name}}">
            <i class="material-icons-outlined">navigate_next</i>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Skeleton from "../common/Skeleton";

  export default {
    name: "TranslationsRow",
    components: {Skeleton},
    props: ['guide'],
    computed: {

    },
    methods: {

    }
  }
</script>

<style scoped lang="scss">

  @import 'sv/scss/modules/_fonts.scss';
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_variables.scss';


  .list-table-row.deleting {
    opacity: 0.3;
  }

  .list-table-row.compact {
    .list-table-cell {
      padding: 5px 0 0 0;
      p.excerp {
        font-size: 13px;
        margin: 0;
      }
      .children-label {
        line-height: 13px;
      }
    }
  }

  .list-table-cell{
    display: table-cell;
    &.top{
      vertical-align:top;
    }
    &.middle{
      vertical-align:middle;
    }
    &.move-raw,
    &.other-actions{
      width:50px;
    }
  }

  // move button
  .move-table-row{
    width: 25px;
    height: 25px;
    display: block;
    padding: 0;
    margin:0 10px;
    background-color: transparent;
    background-image: url('img/icons/icon-move.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px 15px;
    border:0;
    cursor: move;
    &:hover,
    &:focus,
    &:active{
      background-color: darken($bg,10%);
    }
  }

  .align-bottom{
    vertical-align: bottom;
  }

  // text management
  p{
    font-size: 15px;
    font-weight: 200;
  }
  .text-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
    padding-right: 15px;
    a {
      transition: color 0.3s;
      text-decoration: none;
      &:hover {
        color: lighten($text, 20%);
      }
    }
  }
  .merged-column-label,
  .ref{
    font-size: 12px;
    font-weight: 200;
    line-height: 1.5em;
    padding: 3px 5px;
    margin-bottom: 5px;
    border-radius: $bora;
  }
  .merged-column-label{
    color: $alphaText;
    background-color: $alphaBg;
  }
  .ref{
    color: $text;
    background-color: $bgOne;
  }
  .excerp{
    font-size: 15px;
    font-weight: 200;
    padding: 0;
    margin: 0 0 5px;
  }

  // children and links
  a,
  .children,
  .add{
    color: $text;
    font-size: 12px;
  }
  .add{
    &:hover{
      text-decoration: none;
    }
  }
  .children{
    transition: color 0.3s;
    color: $betaOne;
    text-decoration: none;
    .children-count{
      color: $white;
      font-size: 12px;
      font-weight:200;
      text-align: center;
      line-height: 18px;
      width: 18px;
      height: 18px;
      display: inline-block;
      background-color: $betaOne;
      border-radius: 50%;
    }
    .children-label{
        font-weight:200;
        margin-left:8px;
    }
    &:hover{
      color: darken($betaOne, 15%);
      cursor: pointer;
    }
  }

  // language management
  ul.content-status{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 14px;
    border-left:1px solid $bgTwo;
    li{
      button{
        color: $white;
        font-size: 12px;
        font-family: $font1;
        text-transform: uppercase;
        padding:4px 7px;
        margin:2px;
        background-color: $bgLang;
        border:0;
        border-radius: $bora;
        cursor: pointer;
        &:hover{
          background-color: darken($bgLang,10%);
        }
        &.active{
          background-color: $alpha;
          &:hover{
            background-color: darken($alpha,10%);
          }
        }
        &.pending{
          background-color: $notice;
          &:hover{
            background-color: darken($notice,10%);
          }
        }
      }
    }
  }

  // thumbnail and image management
  .thumbnail{
    padding-right: 25px;
    img{
      width: 100%;
      height: auto;
      max-width: 140px;
    }
  }
  div.content-status{
    p{
      color: $alert;
      font-size: 12px;
      &.active{
        color:$alpha;
        i{
          width: 12px;
          height: 12px;
          margin-left: 5px;
          display: inline-block;
          background-image: url('img/icons/icon-active.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          vertical-align: middle;
        }
      }
      &.pending{
        color: $notice;
      }
    }
  }
</style>
