<h1>Bonjour {{ user.username }}</h1>

<p>
    Vous venez d'effectuer une demande de renouvellement de mot de passe. Pour modifier votre mot de passe, cliquez sur le lien ci-dessous.<br />
</p>
<p>
    <a href="{{ confirmationUrl }}">Saisir un nouveau mot de passe</a>
</p>
<p>Votre demande est valable 2 heures.</p>
<p>
    Merci de votre confiance !<br />
    L'équipe SquareView.
</p>

