<template>
  <div class="grid">
    <navigation-list @showMediaManager="toggleMediaManager(true)"></navigation-list>
    <div class="main-content">
      <div class="top-of-page">
        <a class="btn support-btn not-implemented"><!-- Support mail ou chat --></a>
        <div class="account">
          <p class="nom"><i></i> {{username}} <span>({{email}})</span></p>
<!--          <a class="bullets" ><span>...</span></a>-->
          <div class="dropdown-wrapper username-actions-dropdown">
            <div class="dropdown-button bullets" :class="{active: showUserActions}" @click="showUserActions = !showUserActions">
              <span>...</span>
            </div>
            <div :class="{show: showUserActions}" class="dropdown-content to-the-right" id="username-actions-content">
              <ul >
                <li><a class="client-method" @click="logout">Déconnexion <i class="material-icons-outlined">logout</i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div>
        <media-manager :show="showMediaManager" @close="toggleMediaManager(false)"></media-manager>
      </div>
      <div class="relative">
        <div v-if="pageLoading" class="page-loader">
            <loader></loader>
        </div>
        <transition mode="out-in" name="fade">
          <router-view></router-view>
        </transition>
      </div>
    </div>
    <confirmation></confirmation>
  </div>
</template>

<script>
  import NavigationList from "./navigation/NavigationList";
  import {mapActions, mapState} from "vuex";
  import mediaAware from "./mixins/mediaAware";
  import Confirmation from "sv/js/components/common/Confirmation";
  import confirmation from "sv/js/components/mixins/confirmation";
  import user from "sv/js/components/mixins/user";
  import Loader from "sv/js/components/common/Loader";

  export default {
    components: {Confirmation, NavigationList, Loader},
    mixins: [mediaAware, confirmation, user],
    data: function () {
      return {
        showUserActions: false
      };
    },
    mounted() {
      this.fetch();
    },
    computed: {
      ...mapState('general', {
        'generalLoading': 'isLoading'
      }),
      ...mapState('edits', {
        'editLoading': 'isLoading'
      }),
      ...mapState('lists', {
        'listLoading': 'isLoading'
      }),
      pageLoading: function () {
        return this.editLoading || this.listLoading || this.generalLoading;
      },
      username: function () {
        return this.user.username;
      },
      email: function () {
        return this.user.email;
      }
    },
    methods: {
      ...mapActions('general', [
        'fetch'
      ]),
      logout: function () {
        window.location.href = '/logout';
      }
    }
  }
</script>

<style lang="scss">
  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_mixins.scss';

  .page-loader{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background-color: rgba($bg, 0.8);
    z-index: 10;
    .loader-ring{
      position: absolute;
      top:50vh;
      left:50%;
      @include translate(-50%,-50%);
    }
  }
  .dropdown-content {
    display: none;
    margin-top: 5px;
    padding:3px 0;
    right:21px;
    ul{
      padding:1px 5px;
    }
    &.show {
      display: block;
    }
    a.client-method:hover {
      cursor: pointer;
    }
    i {
      float: right;
      font-size: 20px;
    }
  }
</style>
