<template>
  <div class="sidenav u-1of5">
    <div class="sidenav-header">
      <div class="squareview">
        <div class="logo"></div>
        <div v-if="squareviewVersion" class="tag">v{{squareviewVersion}}</div>
      </div>
      <div v-if="titleImagePath" class="client" :style="{'background-image': 'url('+clientLogo+')'}"></div>
      <div v-else-if="client !== ''" class="client" v-html="client"></div>
      <div v-else class="client client-skeleton">
        <skeleton></skeleton>
      </div>
    </div>
    <nav class="sidenav-content">
      <ul v-if="isLoading" class="main-menu loading-menu">
        <li :key="'skeleton_'+i" v-for="i in 6">
          <a class="item"><skeleton></skeleton></a>
        </li>
      </ul>
      <ul v-else class="main-menu">
        <navigation-item :item="item" :key="id" v-for="(item, id) in items"></navigation-item>
      </ul>
      <ul class="config-menu">
        <li class="subtitle"><i></i>Configuration</li>
        <li v-if="hasWebsiteEdit" :class="{active: isConfigurationItemActive(['website'])}"><router-link :to="{name: 'website_edit', params: {'id': websiteIdentifier}}" class="item">Paramètres du site</router-link></li>
        <li v-if="hasLayoutTranslations" :class="{active: isConfigurationItemActive(['translations', 'editLayoutGuideTranslations'])}"><router-link :to="{name: 'translations'}" class="item">Autres textes d'interface</router-link></li>
        <li><a @click="showMediaManager" class="item">Bibliothèque des médias</a></li>
        <li v-if="isCacheClearable">
          <a v-if="clearingCache" class="item disabled"><i class=""></i> Vidage du cache en cours...</a>
          <a v-else-if="clearingCacheSuccessful" class="item disabled success">Cache vidé !</a>
          <a v-else-if="clearingCacheFailed" class="item disabled alert">Une erreur s'est produite</a>
          <a v-else @click="emptyFrontendCache" class="item">Vider le cache</a>
        </li>
        <li v-if="hasErrorReport"><a @click="showErrorLog = !showErrorLog" class="item">Rapport d'erreurs <span v-if="hasErrorsInLog" class="count">{{countErrors}}</span></a></li>
      </ul>
    </nav>
    <error-log :show="showErrorLog" @close="showErrorLog = false"></error-log>
  </div>
</template>

<script>
  import {mapActions, mapState} from 'vuex';
  import NavigationItem from "./NavigationItem";
  import errorLog from "sv/js/components/mixins/errorLog";
  import user from "sv/js/components/mixins/user";
  import ErrorLog from "sv/js/components/common/ErrorLog";
  import Skeleton from "../common/Skeleton";
  import api from "../../api";

  export default {
    components: {Skeleton, ErrorLog, NavigationItem},
    mixins: [errorLog, user],
    data: function () {
      return {
        showErrorLog: false,
        clearingCache: false,
        clearingCacheSuccessful: false,
        clearingCacheFailed: false
      };
    },
    created: function () {
      this.fetch();
    },
    computed: {
      ...mapState('navigation', [
        'items',
        'isLoading'
      ]),
      ...mapState('general', [
        'configuration'
      ]),
      client: function () {
        if (!this.configuration) {
          return '';
        } else if (this.configuration.titleSplit !== undefined && this.configuration.titleSplit.length > 0){
          let elements = this.configuration.titleSplit;
          let html = '';
          for(let i = 0; i < elements.length; i++) {
            let part = elements[i];
            if (part.startsWith("/")) {
              html += '<br/>';
              part = part.replace("/", "");
            }
            if(i % 2 === 1) {
              html += '<span class="alpha">';
            } else {
              html += '<span>';
            }
            html += part + '</span>';
          }
          return html;
        } else {
          return this.configuration.title;
        }
      },
      titleImagePath: function () {
        return this.configuration && _.has(this.configuration, 'titleImage') ? this.configuration.titleImage : null;
      },
      clientLogo: function () {
        return this.titleImagePath ? require('~/images/'+this.titleImagePath) : null;
      },
      websiteIdentifier: function () {
        return this.configuration && _.has(this.configuration, 'websiteIdentifier') ? this.configuration.websiteIdentifier : null;
      },
      isCacheClearable: function () {
        if(!this.isSuperAdmin){
          return false;
        }

        return this.configuration && _.has(this.configuration, 'cacheClearable') ? this.configuration.cacheClearable : null;
      },
      hasErrorReport: function () {
        return this.configuration && _.has(this.configuration, 'errorReport') ? this.configuration.errorReport : null;
      },
      hasWebsiteEdit: function () {
        if(!this.isSuperAdmin){
          return false;
        }

        let websiteEdit = this.$router.getRoutes().find((route) => route.name === 'website_edit');
        return this.websiteIdentifier && websiteEdit !== undefined;
      },
      hasLayoutTranslations: function () {
        return this.configuration && _.has(this.configuration, 'layoutTranslations') && this.configuration.layoutTranslations !== null && this.configuration.layoutTranslations.length > 0;
      },
      squareviewVersion: function () {
        return this.configuration && _.has(this.configuration, 'squareviewVersion') ? this.configuration.squareviewVersion : null;
      },
    },
    methods: {
      ...mapActions('navigation', [
        'fetch'
      ]),
      showMediaManager: function () {
        this.$emit('showMediaManager');
      },
      isConfigurationItemActive: function (routeNames) {
        return routeNames.includes(this.$route.name);
      },
      emptyFrontendCache: function () {
        this.clearingCache = true;
        api.post('cache_clear', null).then((response) => {
          if(response.status === 200) {
            this.clearingCacheSuccessful = true;
            setTimeout(() => {
              this.clearingCacheSuccessful = false;
            }, 5000);
            //stop spinning and show checkmark
          } else {
            this.logError('Cache clear returned status '+response.status);
            this.clearingCacheFailed = true;
            setTimeout(() => {
              this.clearingCacheFailed = false;
            }, 5000);
          }
        }).catch((error) => {
          this.logError({
            message: 'Cache clear failed',
            error
          });
          this.clearingCacheFailed = true;
          setTimeout(() => {
            this.clearingCacheFailed = false;
          }, 5000);
        }).finally(() => {
          this.clearingCache = false;
        });
      }
    }
  };
</script>

<style  scoped lang="scss">

  @import 'sv/scss/modules/_colors.scss';
  @import 'sv/scss/modules/_mixins.scss';


  .sidenav{
      background-color: $bg;
      .sidenav-header{
        .squareview{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .logo {
            width: 100%;
            max-width: 90px;
            height: 15px;
            margin: 10px;
            background-image: url('img/logo-squareview.svg');
            background-size: 100%;
            background-repeat: no-repeat;
          }
          .tag {
            margin: 10px;
            font-size: .8rem  ;
            padding: 0 5px;
            display: inline-block;
            border: 1px solid $alpha;
            color: $alpha;
          }
        }
        .client{
          color:transparent;
          font-size: 29px;
          text-transform: uppercase;
          line-height: 1em;
          margin: 20px 10px 65px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 85% auto;
          height: 62px;
          /deep/ span {
            color:$text;
            &.alpha{
              color: $alpha;
            }
          }
          &.client-skeleton {
            /deep/ .skeleton {
              height: 100%;
            }
          }
        }

      }
      .sidenav-content{
        position: relative;
        padding-bottom: 80px;
        ul{
          list-style-type: none;
          margin: 0;
          padding: 0;

          &.main-menu:not(.loading-menu) > /deep/ li {
            display: block;
            a.home:after{
              content:"";
              display: block;
              width: 15px;
              height: 18px;
              background-image: url('img/icons/icon-home-green.svg');
              background-size: 100%;
              background-repeat: no-repeat;
              position: absolute;
              right: 9px;
              top:calc(50% - 9px);
            }
          }
          /deep/ li{
            border-bottom:3px solid white;
            position: relative;
            > a.item{
              color:$text;
              font-size: 14px;
              font-weight: 300;
              text-transform: uppercase;
              text-decoration: none;
              display: block;
              padding: 12px 0 12px 20px;
              margin-right: 40px;
              &.disabled {
                color:$textOne;
                pointer-events: none;
                cursor: not-allowed;
              }
              &.success {
                color:$success;
              }
              &.alert {
                color:$alert;
              }
            }
            > a.bullets{
              color: $text;
              line-height: 1em;
              text-decoration: none;
              margin: 0;
              padding: 4px 6px;
              position: absolute;
              right: 5px;
              top: 12px;
              cursor:pointer;
              span{
                position: relative;
                top:-3px;
              }
              &:hover{
                color: $text;
                background-color: darken($bg,10%);
              }
            }
            &.active {
              &:before{
                content:"";
                width:3px;
                background-color:$alpha;
                position:absolute;
                top:0;
                bottom: 0;
                left:0;
              }
              > a.item{
                color: $alpha;
                font-weight: 400;
              }
            }
            &.active.child-active {
                > a.item {
                    color: $text;
                }
            }
            a:hover {
                color: $alpha;
                @include transition(color 1s);
            }
            .submenu{
              list-style-type: none;
              margin: 0;
              padding: 0;
              li {
                border:none;
                &.active {
                  &:before{
                    display:none;
                  }
                  > a.subitem {
                    color: $alpha;
                    font-weight: 500;
                  }
                }
                &:hover > a.subitem {
                    color: $alpha
                }
                a.subitem{
                  color:$text;
                  font-size: 14px;
                  font-weight: 300;
                  text-transform: initial;
                  text-decoration: none;
                  display: block;
                  padding: 12px 40px 12px 30px;
                  border:0;
                }
              }
            }
          }
          &.config-menu {
            li a:hover {
              cursor: pointer;
            }
            span.count {
              position: absolute;
              right: 15px;
              color: white;
              background-color: $alert;
              width: 18px;
              line-height: 18px;
              border-radius: 9px;
              text-align: center;
              font-size: 12px;
            }
          }
        }
        .navigation-loader{
          position: absolute;
          left:0;
          right:0;
          bottom:0;
          top:0;
          background-color: rgba($bg, 0.6);
          z-index: 10;
          .loader-ring{
            position: absolute;
            top:50vh;
            left:50%;
            @include translate(-50%,-50%);
          }
        }
        .subtitle{
          color:$text;
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          text-decoration: none;
          display: block;
          padding: 50px 40px 20px 20px;
          i{
            width: 12px;
            height: 15px;
            margin-right: 5px;
            vertical-align: middle;
            display: inline-block;
            background-image: url('img/icons/icon-configuration.svg');
            background-size: 100%;
            background-repeat: no-repeat;
          }
          &.active,
          &:hover {
            font-weight: 400;
            border-left:0;
          }
        }

      }
    }
</style>
