<template>
  <li v-if="isAuthorized" :class="{'active': isCurrentRoute, 'child-active': isAChildCurrentRoute}">
    <router-link :to="getItemPath(item)" class="item" :class="{home: item.name === 'home'}">{{item.label}}</router-link>
    <a @click="openChildren = !openChildren" class="bullets" v-if="item.children"><span>...</span></a>

    <!-- Only one sublevel of children is implemented, as there is no requirement for more -->
    <transition-group name="reveal-children" tag="div">
      <ul :key="item.name+'_children'" class="submenu" v-if="item.children && (openChildren || isCurrentRoute || isAChildCurrentRoute)">
        <li v-if="isAuthorizedItem(child)" :class="{'active': isCurrentRouteChild(child)}" :key="item.name+'_'+childId"
            v-for="(child, childId) in item.children">
          <router-link :to="getItemPath(child)" class="subitem">{{child.label}}</router-link>
        </li>
      </ul>
    </transition-group>
  </li>
</template>

<script>
  import user from "sv/js/components/mixins/user";
  export default {
    props: [
      'item'
    ],
    mixins: [user],
    data: function () {
      return {
        openChildren: false
      }
    },
    computed: {
      isCurrentRoute: function () {
        return this.$route.path === this.item.path || this.isAChildCurrentRoute || this.isInSection;
      },
      isAChildCurrentRoute: function () {
        if (this.item.children) { //Case child is current route
          for (const child of Object.values(this.item.children)) {
            if (this.isCurrentRouteChild(child)) {
              return true;
            }
          }
        }

        return false;
      },
      isInSection: function () {
        let routeSection = this.$route.meta.section;
        if (routeSection === this.item.section) {
          return true;
        } else if (this.item.subSections !== null && this.item.subSections.includes(routeSection)) {
          return true;
        }
      },
      isAuthorized: function () {
        return this.isAuthorizedItem(this.item);
      }
    },
    methods: {
      isCurrentRouteChild: function (child) {
        return this.$route.path === child.path || this.$route.meta.section === child.section;
      },
      getItemPath: function (item) {
        if(item.action) {
          return {
            name: item.action
          };
        } else {
          return item.path;
        }
      },
      isAuthorizedItem: function (item) {
        //No restrictions means Authorized for everyone
        if(!item.restrictions) {
          return true;
        }

        //If there are restrictions, user must have a role that is found inside restrictions
        const authorizedRoles = _.intersection(this.user.roles, item.restrictions);

        return authorizedRoles.length > 0;//At least one common role
      }
    }
  };
</script>

<style  scoped lang="scss">

  // See NavigationList

</style>
