@charset 'utf-8';

// Fontawesome
$fa-font-path: "nm/@fortawesome/fontawesome-free/webfonts" !default;
@import 'nm/@fortawesome/fontawesome-free/scss/fontawesome';
@import "nm/@fortawesome/fontawesome-free/scss/solid";
@import "nm/@fortawesome/fontawesome-free/scss/regular";
@import "nm/@fortawesome/fontawesome-free/scss/brands";
@import "nm/@fortawesome/fontawesome-free/scss/v4-shims";

// IMPORT MODULES
// Elements that are used by other scss files
@import 'modules/_mediaqueries';
@import 'modules/_fonts';
@import 'modules/_colors';
@import 'modules/_mixins';
@import 'modules/_variables';
@import 'modules/_animations';

// IMPORT TEMPLATE
// Basic template (ie bootstrap or foundation like), uses modules
@import 'template/_grid';
@import 'template/_sizes';

// IMPORT ELEMENTS
// Elements that are used extensively throughout the site (like layout and forms)
@import 'appElements/_layout';
@import 'appElements/_buttons';
@import 'appElements/_dropdown';
@import 'appElements/_sidenav';
@import 'appElements/_top-of-page';
@import 'appElements/_title-container';
@import 'appElements/_breadcrumb';
@import 'appElements/_list';
@import 'appElements/_pagination';
@import 'appElements/_forms';
@import 'appElements/_accordion';
@import 'appElements/_action-buttons';
@import 'appElements/_module-dropdown';
@import 'appElements/_animations';
@import 'appElements/_layout';
@import 'appElements/_text';

// IMPORT PAGES
// Specific style for specific pages
//@import 'appPages/_demo';
//@import 'appPages/default';
@import 'appPages/_home';
@import 'appPages/_security';
//@import 'appPages/contact';
//@import 'appPages/sitemap';
@import 'appPages/_error';
@import 'appPages/_edit';

.not-implemented {
    //opacity: 0.2; //To show that it is not implemented yet
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}
.is-hidden {
    display: none;
}

// IMPORT PARTS
// Elements that are used on one or few pages. Taken out from pages to enhance longterm maintenance.


// IMPORT SPELLS
/*@import 'appParts/spellClip'; //for press*/


